openapi: 3.0.3
info:
  contact:
    email: team@structify.ai
    name: Structify Team
  description: Every enterprise's data team.
  license:
    name: Discuss directly with founders for license.
    url: https://structify.ai
  title: Structify account connectors API
  version: 0.1.0
servers:
- description: Production server
  url: https://api.structify.ai
- description: Local server
  url: http://localhost:8080
security:
- api_key: []
- session_token: []
tags:
- name: connectors
paths:
  /connector-type-snippets/{connector_type}:
    put:
      operationId: upsert_connector_type_snippet
      parameters:
      - description: Connector type identifier
        in: path
        name: connector_type
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpsertConnectorTypeSnippetRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorTypeSnippet'
          description: Connector type snippet created or updated
        '401':
          description: Unauthorized
      security:
      - api_key: []
      - session_token: []
      tags:
      - connectors
  /connectors:
    get:
      operationId: list_connectors
      parameters:
      - in: query
        name: offset
        required: false
        schema:
          minimum: 0
          type: integer
      - in: query
        name: limit
        required: false
        schema:
          minimum: 0
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ConnectorWithSecrets'
                type: array
          description: List of connectors with their secrets for the team
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - user does not have access to team
      security:
      - api_key: []
      - session_token: []
      tags:
      - connectors
    post:
      operationId: create_connector
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateConnectorRequest'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Connector'
          description: Connector created successfully
        '400':
          description: Invalid request data
        '401':
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden - user does not have access to team
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal server error
      security:
      - api_key: []
      - session_token: []
      tags:
      - connectors
  /connectors/clarification-requests/{clarification_id}/resolve:
    patch:
      operationId: resolve_clarification
      parameters:
      - in: path
        name: clarification_id
        required: true
        schema:
          $ref: '#/components/schemas/ClarificationRequestId'
      responses:
        '200':
          description: Clarification marked as resolved
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - user does not have write access
        '404':
          description: Clarification request not found
      security:
      - api_key: []
      - session_token: []
      summary: Mark a clarification request as resolved
      tags:
      - connectors
  /connectors/columns/{column_id}:
    patch:
      operationId: update_column
      parameters:
      - in: path
        name: column_id
        required: true
        schema:
          $ref: '#/components/schemas/ConnectorColumnId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateColumnRequest'
        required: true
      responses:
        '200':
          description: Column metadata updated successfully
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - user does not have write access
        '404':
          description: Column not found
      security:
      - api_key: []
      - session_token: []
      summary: Update column metadata (notes)
      tags:
      - connectors
  /connectors/search-tables:
    get:
      operationId: search_tables
      parameters:
      - description: Search query string
        in: query
        name: query
        required: true
        schema:
          type: string
      - description: Team ID to scope table search
        in: query
        name: team_id
        required: true
        schema:
          $ref: '#/components/schemas/TeamId'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TableSearchResults'
          description: List of table mentions
        '401':
          description: Unauthorized
      security:
      - api_key: []
      - session_token: []
      tags:
      - connectors
  /connectors/stores:
    get:
      operationId: list_connector_stores
      responses:
        '200':
          content:
            application/json:
              schema:
                additionalProperties:
                  $ref: '#/components/schemas/LlmInformationStore'
                type: object
          description: Map of connector ID to LLM information store for connectors that have stores
        '401':
          description: Unauthorized
      security:
      - api_key: []
      - session_token: []
      tags:
      - connectors
  /connectors/summaries:
    post:
      operationId: list_connector_summaries
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectorSummariesRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ConnectorSummary'
                type: array
          description: Connector summaries with logos
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Connector not found
      security:
      - api_key: []
      - session_token: []
      tags:
      - connectors
  /connectors/tables/{table_id}:
    patch:
      operationId: update_table
      parameters:
      - in: path
        name: table_id
        required: true
        schema:
          $ref: '#/components/schemas/ConnectorTableId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateTableRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateTableResponse'
          description: Table metadata updated successfully
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - user does not have write access
        '404':
          description: Table not found
      security:
      - api_key: []
      - session_token: []
      summary: Update table metadata (description or notes)
      tags:
      - connectors
  /connectors/tables/{table_id}/lineage:
    get:
      operationId: get_table_lineage
      parameters:
      - description: The table ID
        in: path
        name: table_id
        required: true
        schema:
          $ref: '#/components/schemas/ConnectorTableId'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TableLineageResponse'
          description: Table lineage information
        '404':
          description: Table not found
      security:
      - api_key: []
      - session_token: []
      tags:
      - connectors
  /connectors/tables/{table_id}/path:
    get:
      operationId: get_connector_table_path
      parameters:
      - in: path
        name: table_id
        required: true
        schema:
          $ref: '#/components/schemas/ConnectorTableId'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorTablePathResponse'
          description: Table location details
        '404':
          description: Table not found
      security:
      - api_key: []
      - session_token: []
      tags:
      - connectors
  /connectors/with-snippets:
    get:
      operationId: list_connectors_with_snippets
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ConnectorWithSnippets'
                type: array
          description: List of connectors with their usage snippets
        '401':
          description: Unauthorized
      security:
      - api_key: []
      - session_token: []
      tags:
      - connectors
  /connectors/{connector_id}:
    delete:
      operationId: delete_connector
      parameters:
      - description: The connector ID
        in: path
        name: connector_id
        required: true
        schema:
          $ref: '#/components/schemas/ConnectorId'
      responses:
        '204':
          description: Connector deleted successfully
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - user does not have access to connector
        '404':
          description: Connector not found
      security:
      - api_key: []
      - session_token: []
      tags:
      - connectors
    get:
      operationId: get_connector
      parameters:
      - description: The connector ID
        in: path
        name: connector_id
        required: true
        schema:
          $ref: '#/components/schemas/ConnectorId'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorWithSecretsAndValues'
          description: Connector details
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - user does not have access to connector
        '404':
          description: Connector not found
      security:
      - api_key: []
      - session_token: []
      tags:
      - connectors
    patch:
      operationId: update_connector
      parameters:
      - description: The connector ID
        in: path
        name: connector_id
        required: true
        schema:
          $ref: '#/components/schemas/ConnectorId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateConnectorRequest'
        required: true
      responses:
        '200':
          description: Connector updated successfully
        '400':
          description: Invalid request data
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Connector not found
      security:
      - api_key: []
      - session_token: []
      tags:
      - connectors
  /connectors/{connector_id}/clarification-requests:
    get:
      operationId: get_connector_clarification_requests
      parameters:
      - description: The connector ID
        in: path
        name: connector_id
        required: true
        schema:
          $ref: '#/components/schemas/ConnectorId'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClarificationRequestsResponse'
          description: Clarification requests retrieved successfully
        '403':
          description: Forbidden - user does not have access to connector
        '404':
          description: Connector not found
      security:
      - api_key: []
      - session_token: []
      summary: Get all clarification requests for a connector
      tags:
      - connectors
  /connectors/{connector_id}/explore:
    post:
      operationId: explore_connector
      parameters:
      - description: The connector ID
        in: path
        name: connector_id
        required: true
        schema:
          $ref: '#/components/schemas/ConnectorId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExploreConnectorRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Job'
          description: Exploration started successfully
        '400':
          description: Bad request - connector type not supported or table not found
        '403':
          description: Forbidden - user does not have access to connector
        '404':
          description: Connector not found
      security:
      - api_key: []
      - session_token: []
      tags:
      - connectors
  /connectors/{connector_id}/explore/active-run:
    get:
      operationId: get_active_exploration_run
      parameters:
      - description: The connector ID
        in: path
        name: connector_id
        required: true
        schema:
          $ref: '#/components/schemas/ConnectorId'
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ExplorationRun'
                nullable: true
          description: Active exploration run retrieved successfully
        '403':
          description: Forbidden - user does not have access to connector
        '404':
          description: Connector not found
      security:
      - api_key: []
      - session_token: []
      tags:
      - connectors
  /connectors/{connector_id}/explore/chat:
    get:
      description: Optionally filter by run, database, schema, or table
      operationId: get_connector_explorer_chat
      parameters:
      - description: The connector ID
        in: path
        name: connector_id
        required: true
        schema:
          $ref: '#/components/schemas/ConnectorId'
      - in: query
        name: run_id
        required: false
        schema:
          allOf:
          - $ref: '#/components/schemas/ExplorationRunId'
          nullable: true
      - in: query
        name: database_id
        required: false
        schema:
          allOf:
          - $ref: '#/components/schemas/ConnectorDatabaseId'
          nullable: true
      - in: query
        name: schema_id
        required: false
        schema:
          allOf:
          - $ref: '#/components/schemas/ConnectorSchemaId'
          nullable: true
      - in: query
        name: table_id
        required: false
        schema:
          allOf:
          - $ref: '#/components/schemas/ConnectorTableId'
          nullable: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExplorerChatResponse'
          description: Chats retrieved successfully
        '400':
          description: Bad request - invalid parameters
        '403':
          description: Forbidden - user does not have debug permission
        '404':
          description: Connector not found
      security:
      - api_key: []
      - session_token: []
      summary: Get chats from connector exploration (requires debug permission)
      tags:
      - connectors
  /connectors/{connector_id}/explore/runs:
    get:
      operationId: get_connector_exploration_runs
      parameters:
      - description: The connector ID
        in: path
        name: connector_id
        required: true
        schema:
          $ref: '#/components/schemas/ConnectorId'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExplorationRunsResponse'
          description: Exploration runs retrieved successfully
        '403':
          description: Forbidden - user does not have debug permission
        '404':
          description: Connector not found
      security:
      - api_key: []
      - session_token: []
      summary: Get all exploration runs for a connector (requires debug permission)
      tags:
      - connectors
  /connectors/{connector_id}/explore/runs/{run_id}/progress:
    get:
      operationId: get_exploration_run_progress
      parameters:
      - in: path
        name: connector_id
        required: true
        schema:
          $ref: '#/components/schemas/ConnectorId'
      - in: path
        name: run_id
        required: true
        schema:
          $ref: '#/components/schemas/ExplorationRunId'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExplorationProgress'
          description: Exploration progress retrieved successfully
        '403':
          description: Forbidden
        '404':
          description: Connector or run not found
      security:
      - api_key: []
      - session_token: []
      tags:
      - connectors
  /connectors/{connector_id}/schema_object:
    delete:
      operationId: delete_connector_schema_object
      parameters:
      - description: The connector ID
        in: path
        name: connector_id
        required: true
        schema:
          $ref: '#/components/schemas/ConnectorId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteSchemaObjectRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteSchemaObjectResponse'
          description: Schema object deleted successfully
        '400':
          description: Bad request - invalid object specification
        '403':
          description: Forbidden - user does not have access to connector
        '404':
          description: Connector or object not found
      security:
      - api_key: []
      tags:
      - connectors
    post:
      operationId: add_connector_schema_object
      parameters:
      - description: The connector ID
        in: path
        name: connector_id
        required: true
        schema:
          $ref: '#/components/schemas/ConnectorId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddSchemaObjectRequest'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddSchemaObjectResponse'
          description: Schema object created successfully
        '400':
          description: Bad request - invalid object specification
        '403':
          description: Forbidden - user does not have access to connector
        '404':
          description: Connector or parent object not found
      security:
      - api_key: []
      - session_token: []
      tags:
      - connectors
  /connectors/{connector_id}/secrets:
    post:
      operationId: create_connector_secret
      parameters:
      - in: path
        name: connector_id
        required: true
        schema:
          $ref: '#/components/schemas/ConnectorId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSecretRequest'
        required: true
      responses:
        '201':
          description: Secret created successfully
        '400':
          description: Invalid request data
        '401':
          description: Unauthorized
        '404':
          description: Connector not found
      security:
      - api_key: []
      - session_token: []
      tags:
      - connectors
  /connectors/{connector_id}/secrets/{secret_name}:
    delete:
      operationId: delete_connector_secret
      parameters:
      - in: path
        name: connector_id
        required: true
        schema:
          $ref: '#/components/schemas/ConnectorId'
      - in: path
        name: secret_name
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Secret deleted successfully
        '401':
          description: Unauthorized
        '404':
          description: Connector or secret not found
      security:
      - api_key: []
      - session_token: []
      tags:
      - connectors
  /connectors/{connector_id}/store:
    get:
      operationId: get_connector_store
      parameters:
      - description: The connector ID
        in: path
        name: connector_id
        required: true
        schema:
          $ref: '#/components/schemas/ConnectorId'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorStoreResponse'
          description: Connector's LLM information store
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - user does not have access to connector
        '404':
          description: Connector not found
      security:
      - api_key: []
      - session_token: []
      tags:
      - connectors
  /connectors/{connector_id}/tables:
    get:
      description: 'Returns all tables across all databases and schemas for the given connector.

        Useful for finding table IDs to pass to the explore endpoint for single-table exploration.'
      operationId: list_connector_tables
      parameters:
      - description: Connector ID
        in: path
        name: connector_id
        required: true
        schema:
          $ref: '#/components/schemas/ConnectorId'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListTablesResponse'
          description: Successfully retrieved tables
        '403':
          description: Forbidden - user does not have access to connector
        '404':
          description: Connector not found
      security:
      - api_key: []
      - session_token: []
      summary: List all tables for a connector
      tags:
      - connectors
  /internal/connectors/{connector_id}/datahub-artifacts/{kind}:
    get:
      operationId: connectors_download_datahub_artifact
      parameters:
      - in: path
        name: connector_id
        required: true
        schema:
          $ref: '#/components/schemas/ConnectorId'
      - in: path
        name: kind
        required: true
        schema:
          type: string
      - in: query
        name: exploration_run_id
        required: false
        schema:
          allOf:
          - $ref: '#/components/schemas/ExplorationRunId'
          nullable: true
      responses:
        '200':
          content:
            application/octet-stream:
              schema:
                format: binary
                type: string
          description: Connector DataHub artifact bytes
        '403':
          description: Forbidden
        '404':
          description: Artifact or connector not found
      security:
      - api_key: []
      - session_token: []
      tags:
      - connectors
    put:
      operationId: connectors_upload_datahub_artifact
      parameters:
      - in: path
        name: connector_id
        required: true
        schema:
          $ref: '#/components/schemas/ConnectorId'
      - in: path
        name: kind
        required: true
        schema:
          type: string
      - in: query
        name: exploration_run_id
        required: true
        schema:
          $ref: '#/components/schemas/ExplorationRunId'
      requestBody:
        content:
          multipart/form-data:
            schema:
              properties:
                file:
                  format: binary
                  type: string
              required:
              - file
              type: object
        required: true
      responses:
        '204':
          description: Connector DataHub artifact uploaded successfully
        '403':
          description: Forbidden
        '404':
          description: Artifact or connector not found
      security:
      - api_key: []
      - session_token: []
      tags:
      - connectors
components:
  schemas:
    PinPreviousToolInput:
      properties:
        path:
          type: string
      required:
      - path
      type: object
    RunPythonInput:
      properties:
        code:
          type: string
        connector:
          nullable: true
          type: string
        timeout_seconds:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        working_dir:
          nullable: true
          type: string
      required:
      - code
      type: object
    TableDescriptor:
      additionalProperties: false
      description: The full definition of what a schema is - without duplicate information.
      properties:
        description:
          type: string
        expected_cardinality:
          description: 'Expected number of unique values in the complete dataset.


            This is used for our probabilistic merge strategy.'
          format: int64
          minimum: 0
          nullable: true
          type: integer
        name:
          description: Organized in a name, description format.
          type: string
        primary_column:
          nullable: true
          type: string
        properties:
          description: Organized in a name, description format.
          items:
            $ref: '#/components/schemas/PropertyDescriptor'
          type: array
      required:
      - name
      - description
      - properties
      type: object
    ScraperMeta:
      properties:
        html_content:
          type: string
        url:
          type: string
      required:
      - html_content
      - url
      type: object
    SchemaObjectId:
      discriminator:
        propertyName: type
      oneOf:
      - properties:
          id:
            $ref: '#/components/schemas/ConnectorColumnId'
          type:
            enum:
            - column
            type: string
        required:
        - id
        - type
        type: object
      - properties:
          id:
            $ref: '#/components/schemas/ConnectorTableId'
          type:
            enum:
            - table
            type: string
        required:
        - id
        - type
        type: object
      - properties:
          id:
            $ref: '#/components/schemas/ConnectorSchemaId'
          type:
            enum:
            - schema
            type: string
        required:
        - id
        - type
        type: object
      - properties:
          id:
            $ref: '#/components/schemas/ConnectorDatabaseId'
          type:
            enum:
            - database
            type: string
        required:
        - id
        - type
        type: object
    CreateConnectorRequest:
      properties:
        description:
          nullable: true
          type: string
        known_connector_type:
          type: string
        name:
          type: string
        nango_connection_id:
          description: Nango connection ID for OAuth token management
          nullable: true
          type: string
        secrets:
          additionalProperties:
            type: string
          description: Optional secrets/environment variables for the connector
          type: object
      required:
      - name
      - known_connector_type
      type: object
    ChatEvent:
      description: Events in a chat session timeline, including messages and unified tool calls/results
      oneOf:
      - properties:
          TextMessage:
            properties:
              message:
                type: string
            required:
            - message
            type: object
        required:
        - TextMessage
        type: object
      - properties:
          Thinking:
            properties:
              block_id:
                format: int64
                minimum: 0
                type: integer
              complete:
                type: boolean
              content:
                type: string
            required:
            - content
            - complete
            - block_id
            type: object
        required:
        - Thinking
        type: object
      - properties:
          File:
            description: 'The file event can''t be serialized to the database safely without the content.

              When streaming, we start with the path only, then add the content as we go.'
            properties:
              block_id:
                format: int64
                minimum: 0
                type: integer
              complete:
                type: boolean
              content:
                nullable: true
                type: string
              path:
                type: string
            required:
            - path
            - complete
            - block_id
            type: object
        required:
        - File
        type: object
      - properties:
          Action:
            properties:
              actions:
                items:
                  $ref: '#/components/schemas/ActionDef'
                type: array
              block_id:
                format: int64
                minimum: 0
                type: integer
              complete:
                type: boolean
            required:
            - actions
            - complete
            - block_id
            type: object
        required:
        - Action
        type: object
      - properties:
          Connector:
            properties:
              description:
                nullable: true
                type: string
              env_vars:
                items:
                  type: string
                type: array
              name:
                type: string
            required:
            - name
            - env_vars
            type: object
        required:
        - Connector
        type: object
      - properties:
          ToolCall:
            properties:
              block_id:
                format: int64
                minimum: 0
                type: integer
              complete:
                type: boolean
              invocation:
                $ref: '#/components/schemas/ToolInvocation'
              tool_result:
                $ref: '#/components/schemas/ToolResult'
            required:
            - invocation
            - tool_result
            - block_id
            - complete
            type: object
        required:
        - ToolCall
        type: object
      - properties:
          Question:
            properties:
              block_id:
                format: int64
                minimum: 0
                type: integer
              complete:
                type: boolean
              content:
                type: string
              options:
                items:
                  type: string
                type: array
            required:
            - content
            - complete
            - options
            - block_id
            type: object
        required:
        - Question
        type: object
      - properties:
          InternalError:
            properties:
              error_kind:
                $ref: '#/components/schemas/InternalErrorKind'
              message:
                type: string
            required:
            - message
            type: object
        required:
        - InternalError
        type: object
      - properties:
          ReviewRequest:
            properties:
              node_summaries:
                items:
                  $ref: '#/components/schemas/NodeSummary'
                type: array
            required:
            - node_summaries
            type: object
        required:
        - ReviewRequest
        type: object
      - properties:
          AttachedFile:
            properties:
              image_bytes:
                format: binary
                nullable: true
                type: string
              path:
                type: string
            required:
            - path
            type: object
        required:
        - AttachedFile
        type: object
      - properties:
          ConnectorRequest:
            properties:
              connector_id:
                $ref: '#/components/schemas/ConnectorId'
            required:
            - connector_id
            type: object
        required:
        - ConnectorRequest
        type: object
      - properties:
          UserInterrupted:
            type: object
        required:
        - UserInterrupted
        type: object
      - properties:
          IssueFound:
            properties:
              admin_override:
                type: boolean
              description:
                type: string
              title:
                type: string
            required:
            - title
            - description
            - admin_override
            type: object
        required:
        - IssueFound
        type: object
    ReasoningEffort:
      enum:
      - low
      - medium
      - high
      - minimal
      type: string
    MergeStrategy:
      oneOf:
      - description: 'Property with unique 1:1 correspondence to its parent.


          Merge based on this property 100% of the time'
        enum:
        - Unique
        type: string
      - properties:
          Probabilistic:
            $ref: '#/components/schemas/MergeConfig'
        required:
        - Probabilistic
        type: object
      - enum:
        - NoSignal
        type: string
    DecodingParams:
      properties:
        parameters:
          items:
            $ref: '#/components/schemas/DecodingParamEnum'
          type: array
      required:
      - parameters
      type: object
    ConnectorTableId:
      format: uuid
      type: string
    JobStatus:
      enum:
      - Queued
      - Running
      - Completed
      - Failed
      type: string
    ApplyPatchEdit:
      properties:
        new_string:
          type: string
        old_string:
          type: string
      required:
      - old_string
      - new_string
      type: object
    DecodingParamEnum:
      oneOf:
      - properties:
          MaxTokens:
            minimum: 0
            type: integer
        required:
        - MaxTokens
        type: object
      - properties:
          MaxCompletionTokens:
            minimum: 0
            type: integer
        required:
        - MaxCompletionTokens
        type: object
      - properties:
          TopP:
            format: float
            type: number
        required:
        - TopP
        type: object
      - properties:
          RepeatWindow:
            minimum: 0
            type: integer
        required:
        - RepeatWindow
        type: object
      - properties:
          RepeatPenalty:
            format: float
            type: number
        required:
        - RepeatPenalty
        type: object
      - properties:
          Temperature:
            format: float
            type: number
        required:
        - Temperature
        type: object
      - properties:
          StopTokens:
            items:
              type: string
            type: array
        required:
        - StopTokens
        type: object
      - properties:
          LogitBias:
            additionalProperties:
              format: float
              type: number
            type: object
        required:
        - LogitBias
        type: object
      - properties:
          Functions:
            items:
              additionalProperties: true
              type: object
              x-stainless-empty-object: true
            type: array
        required:
        - Functions
        type: object
      - properties:
          JsonValidator:
            additionalProperties: true
            type: object
            x-stainless-empty-object: true
        required:
        - JsonValidator
        type: object
      - properties:
          RegexValidator:
            type: string
        required:
        - RegexValidator
        type: object
      - properties:
          ContextFreeGrammar:
            type: string
        required:
        - ContextFreeGrammar
        type: object
      - properties:
          NumBeams:
            minimum: 0
            type: integer
        required:
        - NumBeams
        type: object
      - properties:
          Crop:
            type: boolean
        required:
        - Crop
        type: object
      - properties:
          Thinking:
            description: Thinking tokens for Claude 3.7. Contains the budget in tokens for thinking.
            minimum: 0
            type: integer
        required:
        - Thinking
        type: object
      - properties:
          Verbosity:
            $ref: '#/components/schemas/Verbosity'
        required:
        - Verbosity
        type: object
      - properties:
          ReasoningEffort:
            $ref: '#/components/schemas/ReasoningEffort'
        required:
        - ReasoningEffort
        type: object
    SearchConnectorTypesInput:
      properties:
        query:
          nullable: true
          type: string
      type: object
    ToolInvocation:
      discriminator:
        propertyName: name
      oneOf:
      - properties:
          input:
            $ref: '#/components/schemas/WebSearchInput'
          name:
            enum:
            - WebSearch
            type: string
        required:
        - name
        - input
        type: object
      - properties:
          input:
            $ref: '#/components/schemas/WebNavigateInput'
          name:
            enum:
            - WebNavigate
            type: string
        required:
        - name
        - input
        type: object
      - properties:
          input:
            $ref: '#/components/schemas/ViewPageInput'
          name:
            enum:
            - ViewPage
            type: string
        required:
        - name
        - input
        type: object
      - properties:
          input:
            $ref: '#/components/schemas/SaveInput'
          name:
            enum:
            - Save
            type: string
        required:
        - name
        - input
        type: object
      - properties:
          input:
            $ref: '#/components/schemas/SaveEntitiesInput'
          name:
            enum:
            - SaveEntities
            type: string
        required:
        - name
        - input
        type: object
      - properties:
          input:
            $ref: '#/components/schemas/ExitInput'
          name:
            enum:
            - Exit
            type: string
        required:
        - name
        - input
        type: object
      - properties:
          input:
            $ref: '#/components/schemas/ApiExecuteInput'
          name:
            enum:
            - ApiExecute
            type: string
        required:
        - name
        - input
        type: object
      - properties:
          input:
            $ref: '#/components/schemas/JavascriptInput'
          name:
            enum:
            - Javascript
            type: string
        required:
        - name
        - input
        type: object
      - properties:
          input:
            $ref: '#/components/schemas/NavigateToIFrameInput'
          name:
            enum:
            - NavigateToIFrame
            type: string
        required:
        - name
        - input
        type: object
      - properties:
          input:
            $ref: '#/components/schemas/InfiniteScrollInput'
          name:
            enum:
            - InfiniteScroll
            type: string
        required:
        - name
        - input
        type: object
      - properties:
          input:
            $ref: '#/components/schemas/InspectStepInput'
          name:
            enum:
            - InspectStep
            type: string
        required:
        - name
        - input
        type: object
      - properties:
          input:
            $ref: '#/components/schemas/ReadNodeLogsInput'
          name:
            enum:
            - ReadNodeLogs
            type: string
        required:
        - name
        - input
        type: object
      - properties:
          input:
            $ref: '#/components/schemas/DeleteFileInput'
          name:
            enum:
            - DeleteFile
            type: string
        required:
        - name
        - input
        type: object
      - properties:
          input:
            $ref: '#/components/schemas/MoveFileInput'
          name:
            enum:
            - MoveFile
            type: string
        required:
        - name
        - input
        type: object
      - properties:
          input:
            $ref: '#/components/schemas/ApplyPatchInput'
          name:
            enum:
            - ApplyPatch
            type: string
        required:
        - name
        - input
        type: object
      - properties:
          input:
            $ref: '#/components/schemas/RunBashInput'
          name:
            enum:
            - RunBash
            type: string
        required:
        - name
        - input
        type: object
      - properties:
          input:
            $ref: '#/components/schemas/RunPythonInput'
          name:
            enum:
            - RunPython
            type: string
        required:
        - name
        - input
        type: object
      - properties:
          input:
            $ref: '#/components/schemas/IssueFoundInput'
          name:
            enum:
            - IssueFound
            type: string
        required:
        - name
        - input
        type: object
      - properties:
          input:
            $ref: '#/components/schemas/SaveDatabaseInput'
          name:
            enum:
            - SaveDatabase
            type: string
        required:
        - name
        - input
        type: object
      - properties:
          input:
            $ref: '#/components/schemas/SaveSchemaInput'
          name:
            enum:
            - SaveSchema
            type: string
        required:
        - name
        - input
        type: object
      - properties:
          input:
            $ref: '#/components/schemas/SaveTableInput'
          name:
            enum:
            - SaveTable
            type: string
        required:
        - name
        - input
        type: object
      - properties:
          input:
            $ref: '#/components/schemas/SaveColumnInput'
          name:
            enum:
            - SaveColumn
            type: string
        required:
        - name
        - input
        type: object
      - properties:
          input:
            $ref: '#/components/schemas/SaveApiResourceInput'
          name:
            enum:
            - SaveApiResource
            type: string
        required:
        - name
        - input
        type: object
      - properties:
          input:
            $ref: '#/components/schemas/SaveMemoryInput'
          name:
            enum:
            - SaveMemory
            type: string
        required:
        - name
        - input
        type: object
      - properties:
          input:
            $ref: '#/components/schemas/SearchConnectorTablesInput'
          name:
            enum:
            - SearchConnectorTables
            type: string
        required:
        - name
        - input
        type: object
      - properties:
          input:
            $ref: '#/components/schemas/RequestClarificationInput'
          name:
            enum:
            - RequestClarification
            type: string
        required:
        - name
        - input
        type: object
      - properties:
          input:
            $ref: '#/components/schemas/AddDependencyInput'
          name:
            enum:
            - AddDependency
            type: string
        required:
        - name
        - input
        type: object
      - properties:
          input:
            $ref: '#/components/schemas/SelectDataInput'
          name:
            enum:
            - SelectData
            type: string
        required:
        - name
        - input
        type: object
      - properties:
          input:
            $ref: '#/components/schemas/CreateConnectorInput'
          name:
            enum:
            - CreateConnector
            type: string
        required:
        - name
        - input
        type: object
      - properties:
          input:
            $ref: '#/components/schemas/SearchConnectorTypesInput'
          name:
            enum:
            - SearchConnectorTypes
            type: string
        required:
        - name
        - input
        type: object
      - properties:
          input:
            $ref: '#/components/schemas/PinPreviousToolInput'
          name:
            enum:
            - PinPreviousTool
            type: string
        required:
        - name
        - input
        type: object
      - properties:
          input:
            $ref: '#/components/schemas/RunPipelineInput'
          name:
            enum:
            - RunPipeline
            type: string
        required:
        - name
        - input
        type: object
    UpdateConnectorRequest:
      allOf:
      - $ref: '#/components/schemas/UpdateConnector'
      - properties:
          shared_user_roles:
            additionalProperties:
              $ref: '#/components/schemas/ChatSessionRole'
            nullable: true
            type: object
        type: object
    ExplorationStatus:
      enum:
      - NotStarted
      - Running
      - Completed
      - Failed
      type: string
    UpdateColumnRequest:
      properties:
        notes:
          nullable: true
          type: string
      type: object
    UserId:
      format: uuid
      type: string
    DatahubSecretMap:
      additionalProperties:
        type: string
      description: Maps DatahubIngestionKey to the name of the connector secret that holds the value.
      type: object
    ApiExecuteInput:
      properties:
        code:
          type: string
      required:
      - code
      type: object
    ToolResult:
      oneOf:
      - enum:
        - Pending
        type: string
      - enum:
        - NoResult
        type: string
      - properties:
          Error:
            type: string
        required:
        - Error
        type: object
      - properties:
          Text:
            type: string
        required:
        - Text
        type: object
      - properties:
          CodeExecution:
            $ref: '#/components/schemas/CodeExecutionResult'
        required:
        - CodeExecution
        type: object
      - properties:
          WebMarkdown:
            type: string
        required:
        - WebMarkdown
        type: object
      - properties:
          WebSearch:
            items:
              $ref: '#/components/schemas/DocSnippet'
            type: array
        required:
        - WebSearch
        type: object
      - properties:
          ConnectorSearch:
            items:
              $ref: '#/components/schemas/ConnectorTableResult'
            type: array
        required:
        - ConnectorSearch
        type: object
      - properties:
          NodeLogs:
            items:
              type: string
            type: array
        required:
        - NodeLogs
        type: object
      - enum:
        - Completed
        type: string
      - properties:
          Image:
            $ref: '#/components/schemas/ImageResult'
        required:
        - Image
        type: object
      - properties:
          Pinned:
            type: string
        required:
        - Pinned
        type: object
    ErrorResponse:
      description: Standard error response
      properties:
        error:
          type: string
      required:
      - error
      type: object
    NavigateToIFrameInput:
      properties:
        index:
          format: int32
          minimum: 0
          type: integer
      required:
      - index
      type: object
    TableLineageItem:
      description: A single table in a lineage relationship
      properties:
        database_name:
          type: string
        lineage_type:
          $ref: '#/components/schemas/LineageType'
        schema_name:
          type: string
        table_id:
          $ref: '#/components/schemas/ConnectorTableId'
        table_name:
          type: string
      required:
      - table_id
      - table_name
      - database_name
      - schema_name
      - lineage_type
      type: object
    SaveMemoryInput:
      properties:
        key:
          type: string
        value:
          type: string
      required:
      - key
      - value
      type: object
    ClarificationRequestsResponse:
      properties:
        requests:
          items:
            $ref: '#/components/schemas/ClarificationRequest'
          type: array
      required:
      - requests
      type: object
    ConnectorExplorerChatId:
      format: uuid
      type: string
    SaveSchemaInput:
      properties:
        description:
          nullable: true
          type: string
        name:
          type: string
        notes:
          nullable: true
          type: string
      required:
      - name
      type: object
    RequiredEntity:
      additionalProperties: false
      properties:
        entity_id:
          allOf:
          - $ref: '#/components/schemas/EntityId'
          nullable: true
        seeded_entity_id:
          description: The integer id corresponding to an entity in the seeded entity graph (different from the global dataset entity id)
          minimum: 0
          type: integer
      required:
      - seeded_entity_id
      type: object
    ConnectorSchemaInfo:
      description: Schema within a database
      properties:
        description:
          nullable: true
          type: string
        id:
          $ref: '#/components/schemas/ConnectorSchemaId'
        name:
          type: string
        notes:
          nullable: true
          type: string
        tables:
          items:
            $ref: '#/components/schemas/ConnectorTable'
          type: array
      required:
      - id
      - name
      - tables
      type: object
    ActionDef:
      description: Action definition
      properties:
        description:
          type: string
        name:
          type: string
      required:
      - name
      - description
      type: object
    ConnectorColumnResult:
      properties:
        name:
          type: string
        notes:
          nullable: true
          type: string
        type:
          type: string
      required:
      - name
      - type
      type: object
    DatasetId:
      format: uuid
      type: string
    MessageContent:
      oneOf:
      - properties:
          Text:
            type: string
        required:
        - Text
        type: object
      - properties:
          Image:
            format: binary
            type: string
        required:
        - Image
        type: object
    RequestClarificationInput:
      properties:
        column_name:
          nullable: true
          type: string
        question:
          type: string
        table_name:
          type: string
      required:
      - table_name
      - question
      type: object
    LLMEntity:
      additionalProperties: false
      properties:
        id:
          minimum: 0
          type: integer
        properties:
          additionalProperties:
            $ref: '#/components/schemas/BasicPropValue'
          type: object
        type:
          type: string
      required:
      - id
      - type
      - properties
      type: object
    CodeExecutionResult:
      properties:
        return_code:
          format: int32
          type: integer
        stderr:
          type: string
        stdout:
          type: string
      required:
      - stdout
      - stderr
      - return_code
      type: object
    ConnectorTableInfo:
      properties:
        description:
          nullable: true
          type: string
        id:
          $ref: '#/components/schemas/ConnectorTableId'
        name:
          type: string
      required:
      - id
      - name
      type: object
    DeleteSchemaObjectResponse:
      properties:
        object_id:
          description: The ID of the schema object that was deleted
          type: string
        object_type:
          description: The type of schema object that was deleted
          type: string
      required:
      - object_type
      - object_id
      type: object
    ExplorationRunsResponse:
      properties:
        runs:
          items:
            $ref: '#/components/schemas/ExplorationRun'
          type: array
      required:
      - runs
      type: object
    InfiniteScrollInput:
      type: object
    TeamVisibility:
      enum:
      - Team
      - Private
      type: string
    ExploreConnectorRequest:
      properties:
        database_id:
          allOf:
          - $ref: '#/components/schemas/ConnectorDatabaseId'
          nullable: true
        only_do_datahub:
          description: If true, run only DataHub ingestion without queuing Diego annotation jobs.
          nullable: true
          type: boolean
        schema_id:
          allOf:
          - $ref: '#/components/schemas/ConnectorSchemaId'
          nullable: true
        table_id:
          allOf:
          - $ref: '#/components/schemas/ConnectorTableId'
          nullable: true
      type: object
    ConnectorStoreResponse:
      properties:
        store:
          allOf:
          - $ref: '#/components/schemas/LlmInformationStore'
          nullable: true
      type: object
    ConnectorId:
      format: uuid
      type: string
    SaveTableInput:
      properties:
        description:
          nullable: true
          type: string
        name:
          type: string
        notes:
          nullable: true
          type: string
      required:
      - name
      type: object
    DatahubProgress:
      properties:
        databases_created:
          minimum: 0
          type: integer
        job_id:
          $ref: '#/components/schemas/JobId'
        job_status:
          $ref: '#/components/schemas/JobStatus'
        pages_fetched:
          format: int32
          type: integer
        records_written:
          minimum: 0
          type: integer
        schemas_created:
          minimum: 0
          type: integer
        tables_processed:
          minimum: 0
          type: integer
        total_datasets:
          minimum: 0
          type: integer
      required:
      - job_id
      - job_status
      - records_written
      - pages_fetched
      - total_datasets
      - databases_created
      - schemas_created
      - tables_processed
      type: object
    ConnectorColumnId:
      format: uuid
      type: string
    TextMeta:
      properties:
        text:
          type: string
      required:
      - text
      type: object
    UpdateTableResponse:
      properties:
        table:
          $ref: '#/components/schemas/ConnectorTable'
      required:
      - table
      type: object
    InternalErrorKind:
      description: 'Categorizes the kind of internal error that occurred during LLM generation.

        This allows the frontend to render appropriate error messages without regex matching.'
      enum:
      - unknown
      - context_limit
      - rate_limited
      - timeout
      - connection_error
      type: string
    MembershipId:
      format: uuid
      type: string
    LlmInformationStore:
      description: 'Information store for connector schema


        Hierarchical structure: Connector → Database → Schema → Table → Column

        Works for both relational databases and API-based data.

        Distinguishes between the two by presence of `endpoint` on tables:

        - Relational DB: all tables have `endpoint: None`

        - API: all tables have `endpoint: Some(...)`'
      properties:
        databases:
          description: List of databases in this connector
          items:
            $ref: '#/components/schemas/ConnectorDatabaseInfo'
          type: array
        uses_default_hierarchy:
          description: 'Whether this store uses default auto-generated database/schema names

            (i.e., database and schema names match the connector name).

            When true, UIs should hide the database/schema hierarchy.

            When false, UIs should show the full database → schema → table hierarchy.'
          type: boolean
      required:
      - databases
      - uses_default_hierarchy
      type: object
    ConnectorTable:
      description: Represents a table (for relational databases) or resource (for APIs)
      properties:
        columns:
          description: List of columns in this table/resource
          items:
            $ref: '#/components/schemas/ConnectorColumn'
          type: array
        description:
          description: Optional description
          nullable: true
          type: string
        endpoint:
          description: API endpoint (None for relational DB tables, Some for API resources)
          nullable: true
          type: string
        id:
          $ref: '#/components/schemas/ConnectorTableId'
        name:
          description: Name of the table or resource
          type: string
        notes:
          description: Optional notes
          nullable: true
          type: string
      required:
      - id
      - name
      - columns
      type: object
    ConnectorTypeSnippet:
      properties:
        connector_type:
          type: string
        created_at:
          format: date-time
          type: string
        id:
          format: uuid
          type: string
        updated_at:
          format: date-time
          type: string
        usage_snippet:
          nullable: true
          type: string
      required:
      - id
      - connector_type
      - created_at
      - updated_at
      type: object
    JobType:
      enum:
      - Web
      - Pdf
      - Derive
      - Scrape
      - Match
      - ConnectorExplore
      - DatahubIngestion
      type: string
    LLMKnowledgeGraph:
      additionalProperties: false
      description: 'Knowledge graph info structured to deserialize and display

        in the same format that the LLM outputs.

        Also the first representation of an LLM output in the pipeline from raw tool output to being merged into a DB'
      properties:
        entities:
          items:
            $ref: '#/components/schemas/LLMEntity'
          type: array
        relationships:
          items:
            $ref: '#/components/schemas/LLMRelationship'
          type: array
      required:
      - entities
      type: object
    WebNavigateInput:
      properties:
        output_format:
          allOf:
          - $ref: '#/components/schemas/WebNavigateOutput'
          nullable: true
        url:
          type: string
      required:
      - url
      type: object
    ListTablesResponse:
      properties:
        tables:
          items:
            $ref: '#/components/schemas/ConnectorTableInfo'
          type: array
      required:
      - tables
      type: object
    ExplorationProgress:
      properties:
        datahub:
          allOf:
          - $ref: '#/components/schemas/DatahubProgress'
          nullable: true
        phases:
          items:
            $ref: '#/components/schemas/PhaseActivity'
          type: array
      required:
      - phases
      type: object
    ConnectorSummariesRequest:
      properties:
        connector_ids:
          items:
            $ref: '#/components/schemas/ConnectorId'
          type: array
      required:
      - connector_ids
      type: object
    SaveApiResourceInput:
      properties:
        description:
          nullable: true
          type: string
        endpoint:
          type: string
        name:
          type: string
        notes:
          nullable: true
          type: string
      required:
      - name
      - endpoint
      type: object
    RequiredProperty:
      additionalProperties: false
      properties:
        property_names:
          description: If there are multiple properties, it can match just one of them
          items:
            type: string
          type: array
        table_name:
          description: The table name of the entity to update
          type: string
      required:
      - table_name
      - property_names
      type: object
    BasicPropValue:
      oneOf:
      - type: string
      - format: int64
        type: integer
      - type: boolean
      - format: double
        type: number
    ConnectorTableSearchResult:
      description: Result struct for connector table search
      properties:
        columns:
          items:
            $ref: '#/components/schemas/ConnectorColumn'
          type: array
        database_name:
          type: string
        schema_name:
          type: string
        score:
          description: Search relevance score (0 = exact match, higher = less relevant)
          format: double
          type: number
        table:
          $ref: '#/components/schemas/ConnectorTable'
      required:
      - table
      - schema_name
      - database_name
      - columns
      - score
      type: object
    RunBashInput:
      properties:
        command:
          type: string
        connector:
          nullable: true
          type: string
        working_dir:
          nullable: true
          type: string
      required:
      - command
      type: object
    SaveEntitiesInput:
      properties:
        entities:
          items:
            additionalProperties:
              additionalProperties: true
              type: object
              x-stainless-empty-object: true
            type: object
          type: array
        reason:
          type: string
        sources:
          items:
            type: string
          type: array
      required:
      - entities
      - sources
      - reason
      type: object
    ConnectorWithSecretsAndValues:
      allOf:
      - $ref: '#/components/schemas/Connector'
      - properties:
          secrets:
            items:
              $ref: '#/components/schemas/GetSecretResult'
            type: array
          shared_user_roles:
            additionalProperties:
              $ref: '#/components/schemas/ChatSessionRole'
            type: object
        required:
        - secrets
        - shared_user_roles
        type: object
    ConnectorSchemaId:
      format: uuid
      type: string
    ClarificationRequest:
      properties:
        column_id:
          allOf:
          - $ref: '#/components/schemas/ConnectorColumnId'
          nullable: true
        column_name:
          nullable: true
          type: string
        created_at:
          format: date-time
          type: string
        database_name:
          nullable: true
          type: string
        id:
          $ref: '#/components/schemas/ClarificationRequestId'
        question:
          type: string
        resolved:
          type: boolean
        schema_name:
          nullable: true
          type: string
        table_id:
          $ref: '#/components/schemas/ConnectorTableId'
        table_name:
          nullable: true
          type: string
        updated_at:
          format: date-time
          type: string
      required:
      - id
      - table_id
      - question
      - resolved
      - created_at
      - updated_at
      type: object
    InspectStepInput:
      properties:
        step_name:
          type: string
      required:
      - step_name
      type: object
    ReadNodeLogsInput:
      properties:
        log_type:
          nullable: true
          type: string
        node_function_name:
          type: string
      required:
      - node_function_name
      type: object
    ExplorerChatResponse:
      properties:
        chats:
          items:
            $ref: '#/components/schemas/ConnectorExplorerChat'
          type: array
      required:
      - chats
      type: object
    TableLineageResponse:
      description: Response for table lineage queries containing both upstream and downstream dependencies
      properties:
        downstream:
          items:
            $ref: '#/components/schemas/TableLineageItem'
          type: array
        upstream:
          items:
            $ref: '#/components/schemas/TableLineageItem'
          type: array
      required:
      - upstream
      - downstream
      type: object
    DeleteFileInput:
      properties:
        file:
          type: string
      required:
      - file
      type: object
    LineageType:
      description: Lineage type for table-to-table relationships
      enum:
      - COPY
      - TRANSFORMED
      - VIEW
      - FOREIGN_KEY
      type: string
    SaveDatabaseInput:
      properties:
        description:
          nullable: true
          type: string
        name:
          type: string
        notes:
          nullable: true
          type: string
      required:
      - name
      type: object
    ConnectorWithSnippets:
      allOf:
      - $ref: '#/components/schemas/Connector'
      - properties:
          usage_snippet_global:
            nullable: true
            type: string
        type: object
    ComparisonStrategy:
      enum:
      - Default
      - EnforceUniqueness
      type: string
    ImageResult:
      properties:
        image_bytes:
          format: binary
          type: string
        ocr_text:
          nullable: true
          type: string
      required:
      - image_bytes
      type: object
    LLMRelationship:
      additionalProperties: false
      properties:
        properties:
          additionalProperties:
            $ref: '#/components/schemas/BasicPropValue'
          type: object
        source:
          minimum: 0
          type: integer
        target:
          minimum: 0
          type: integer
        type:
          type: string
      required:
      - type
      - source
      - target
      type: object
    AddDependencyInput:
      properties:
        package_name:
          type: string
        version_spec:
          nullable: true
          type: string
      required:
      - package_name
      type: object
    SearchConnectorTablesInput:
      properties:
        query:
          type: string
        wiki_tag:
          nullable: true
          type: string
      required:
      - query
      type: object
    GetSecretResult:
      description: Result of getting a secret
      properties:
        created_at:
          format: date-time
          type: string
        secret_name:
          type: string
        secret_value:
          type: string
        updated_at:
          format: date-time
          type: string
      required:
      - secret_name
      - secret_value
      - created_at
      - updated_at
      type: object
    ImageMeta:
      properties:
        document_name:
          nullable: true
          type: string
        document_page:
          format: int32
          minimum: 0
          nullable: true
          type: integer
        image:
          nullable: true
          type: string
        ocr_content:
          nullable: true
          type: string
      required:
      - image
      type: object
    Connector:
      properties:
        connector_category:
          allOf:
          - $ref: '#/components/schemas/ConnectorCategory'
          nullable: true
        created_at:
          format: date-time
          type: string
        datahub_ingestion_type:
          nullable: true
          type: string
        datahub_secret_map:
          allOf:
          - $ref: '#/components/schemas/DatahubSecretMap'
          nullable: true
        datahub_urn:
          nullable: true
          type: string
        deleted_at:
          format: date-time
          nullable: true
          type: string
        description:
          nullable: true
          type: string
        id:
          $ref: '#/components/schemas/ConnectorId'
        known_connector_type:
          type: string
        name:
          type: string
        nango_connection_id:
          nullable: true
          type: string
        oauth_scopes:
          items:
            nullable: true
            type: string
          nullable: true
          type: array
        owner_user_id:
          $ref: '#/components/schemas/UserId'
        refresh_cron_schedule:
          nullable: true
          type: string
        refresh_next_run_at:
          format: date-time
          nullable: true
          type: string
        team_id:
          $ref: '#/components/schemas/TeamId'
        team_visibility:
          $ref: '#/components/schemas/TeamVisibility'
        updated_at:
          format: date-time
          type: string
        usage_snippet_override:
          nullable: true
          type: string
      required:
      - id
      - name
      - created_at
      - updated_at
      - known_connector_type
      - team_id
      - team_visibility
      - owner_user_id
      type: object
    JobId:
      format: uuid
      type: string
    RunPipelineInput:
      properties:
        rerun_all_steps:
          type: boolean
      type: object
    DeleteSchemaObjectRequest:
      allOf:
      - $ref: '#/components/schemas/SchemaObjectId'
      - type: object
    NodeSummary:
      properties:
        data_preview:
          nullable: true
          type: string
        image:
          format: binary
          nullable: true
          type: string
        in_dashboard:
          type: boolean
        name:
          type: string
      required:
      - name
      - in_dashboard
      type: object
    Flag:
      properties:
        ariaLabel:
          type: string
        height:
          format: double
          type: number
        href:
          nullable: true
          type: string
        isInteractive:
          nullable: true
          type: boolean
        number:
          description: The number by which the flag is referred in image, prompt, and tool calls.
          minimum: 0
          nullable: true
          type: integer
        text:
          type: string
        type:
          type: string
        width:
          description: 'The serde default here is to give us backwards compatibility

            it''s fine for these to be anything as long as the image isn''t

            given since it won''t regenerate.'
          format: double
          type: number
        x:
          format: double
          type: number
        y:
          format: double
          type: number
      required:
      - x
      - y
      - type
      - ariaLabel
      type: object
    ConnectorCategory:
      enum:
      - RelationalDatabase
      - ApiTabular
      type: string
    PromptMeta:
      description: All metadata required to generate a prompt for the LLM
      properties:
        dataset_descriptor:
          $ref: '#/components/schemas/DatasetDescriptor'
        extracted_entities:
          items:
            $ref: '#/components/schemas/LLMKnowledgeGraph'
          type: array
        extraction_criteria:
          items:
            $ref: '#/components/schemas/SaveRequirement'
          type: array
        formatter_specific:
          $ref: '#/components/schemas/FormatterMeta'
        qa_potentially_sus_response:
          nullable: true
          type: string
      required:
      - dataset_descriptor
      - extracted_entities
      - extraction_criteria
      - formatter_specific
      type: object
    ClarificationRequestId:
      format: uuid
      type: string
    WebNavigateOutput:
      enum:
      - Text
      - Visual
      type: string
    RelationshipMergeStrategy:
      oneOf:
      - $ref: '#/components/schemas/RelationshipMergeProbability'
    ConnectorTablePathResponse:
      properties:
        connector_id:
          $ref: '#/components/schemas/ConnectorId'
        database_name:
          type: string
        schema_name:
          type: string
        table_name:
          type: string
      required:
      - connector_id
      - database_name
      - schema_name
      - table_name
      type: object
    ExplorationPhaseId:
      description: 'Identifies the phase of connector exploration


        This enum is used to track which phase of exploration a chat session belongs to.

        It''s stored as JSONB in the database to allow for flexible phase identification.'
      discriminator:
        propertyName: type
      oneOf:
      - description: 'First phase: discovering all databases in the connector'
        properties:
          connector_id:
            $ref: '#/components/schemas/ConnectorId'
          type:
            enum:
            - discover_databases
            type: string
        required:
        - connector_id
        - type
        type: object
      - description: 'Second phase: discovering all schemas in a database'
        properties:
          database_id:
            $ref: '#/components/schemas/ConnectorDatabaseId'
          database_name:
            type: string
          type:
            enum:
            - discover_schemas
            type: string
        required:
        - database_id
        - database_name
        - type
        type: object
      - description: 'Third phase: discovering all tables in a schema'
        properties:
          schema_id:
            $ref: '#/components/schemas/ConnectorSchemaId'
          schema_name:
            type: string
          type:
            enum:
            - discover_tables
            type: string
        required:
        - schema_id
        - schema_name
        - type
        type: object
      - description: 'Fourth phase: discovering columns for a specific table'
        properties:
          table_id:
            $ref: '#/components/schemas/ConnectorTableId'
          table_name:
            type: string
          type:
            enum:
            - discover_columns
            type: string
        required:
        - table_id
        - table_name
        - type
        type: object
      - description: 'Initial phase: discovering all API resources'
        properties:
          connector_id:
            $ref: '#/components/schemas/ConnectorId'
          type:
            enum:
            - discover_api_resources
            type: string
        required:
        - connector_id
        - type
        type: object
      - description: 'Second phase: discovering fields for a specific API resource'
        properties:
          resource_name:
            type: string
          table_id:
            $ref: '#/components/schemas/ConnectorTableId'
          type:
            enum:
            - discover_api_fields
            type: string
        required:
        - table_id
        - resource_name
        - type
        type: object
    NewSchemaObject:
      discriminator:
        propertyName: type
      oneOf:
      - properties:
          description:
            nullable: true
            type: string
          name:
            type: string
          notes:
            nullable: true
            type: string
          type:
            enum:
            - database
            type: string
        required:
        - name
        - type
        type: object
      - properties:
          database_id:
            $ref: '#/components/schemas/ConnectorDatabaseId'
          description:
            nullable: true
            type: string
          name:
            type: string
          notes:
            nullable: true
            type: string
          type:
            enum:
            - schema
            type: string
        required:
        - database_id
        - name
        - type
        type: object
      - properties:
          description:
            nullable: true
            type: string
          endpoint:
            nullable: true
            type: string
          name:
            type: string
          notes:
            nullable: true
            type: string
          schema_id:
            $ref: '#/components/schemas/ConnectorSchemaId'
          type:
            enum:
            - table
            type: string
        required:
        - schema_id
        - name
        - type
        type: object
      - properties:
          column_type:
            type: string
          name:
            type: string
          notes:
            nullable: true
            type: string
          table_id:
            $ref: '#/components/schemas/ConnectorTableId'
          type:
            enum:
            - column
            type: string
        required:
        - table_id
        - name
        - column_type
        - type
        type: object
    FormatterMeta:
      oneOf:
      - properties:
          ImageMeta:
            $ref: '#/components/schemas/ImageMeta'
        required:
        - ImageMeta
        type: object
      - properties:
          WebMeta:
            $ref: '#/components/schemas/WebMeta'
        required:
        - WebMeta
        type: object
      - properties:
          TextMeta:
            $ref: '#/components/schemas/TextMeta'
        required:
        - TextMeta
        type: object
      - properties:
          ScraperMeta:
            $ref: '#/components/schemas/ScraperMeta'
        required:
        - ScraperMeta
        type: object
    ConnectorWithSecrets:
      allOf:
      - $ref: '#/components/schemas/Connector'
      - properties:
          secrets:
            items:
              $ref: '#/components/schemas/SecretSummary'
            type: array
        required:
        - secrets
        type: object
    UpdateTableRequest:
      properties:
        description:
          nullable: true
          type: string
        notes:
          nullable: true
          type: string
      type: object
    DocSnippet:
      properties:
        snippet:
          type: string
        title:
          type: string
        url:
          type: string
      required:
      - title
      - url
      - snippet
      type: object
    CreateSecretRequest:
      properties:
        secret_name:
          type: string
        secret_value:
          type: string
      required:
      - secret_name
      - secret_value
      type: object
    SelectDataInput:
      properties:
        node_ids:
          items:
            type: string
          type: array
      required:
      - node_ids
      type: object
    SaveColumnInput:
      properties:
        column_name:
          type: string
        column_type:
          type: string
        notes:
          nullable: true
          type: string
      required:
      - column_name
      - column_type
      type: object
    SpeakerTag:
      enum:
      - user
      - system
      - assistant
      type: string
    RerankResult:
      properties:
        index:
          format: int32
          type: integer
        relevance_score:
          format: float
          type: number
        text:
          nullable: true
          type: string
      required:
      - index
      - relevance_score
      type: object
    ExplorationRun:
      properties:
        checkpoint_blob_name:
          nullable: true
          type: string
        connector_id:
          $ref: '#/components/schemas/ConnectorId'
        created_at:
          format: date-time
          type: string
        id:
          $ref: '#/components/schemas/ExplorationRunId'
        latest_snapshot_blob_name:
          nullable: true
          type: string
        status:
          $ref: '#/components/schemas/ExplorationStatus'
        triggered_by:
          allOf:
          - $ref: '#/components/schemas/MembershipId'
          nullable: true
      required:
      - id
      - connector_id
      - created_at
      - status
      type: object
    WebMeta:
      properties:
        flags:
          items:
            $ref: '#/components/schemas/Flag'
          type: array
        ocr_content:
          nullable: true
          type: string
        screenshot:
          format: binary
          nullable: true
          type: string
        url:
          type: string
      required:
      - url
      - flags
      type: object
    AddSchemaObjectRequest:
      allOf:
      - $ref: '#/components/schemas/NewSchemaObject'
      - type: object
    ConnectorColumn:
      description: Represents a column in a table or API resource
      properties:
        id:
          $ref: '#/components/schemas/ConnectorColumnId'
        name:
          description: Name of the column
          type: string
        notes:
          description: Additional notes about the column
          nullable: true
          type: string
        type:
          description: SQL type of the column (e.g., "VARCHAR(255)", "INTEGER") or API field type
          type: string
      required:
      - id
      - name
      - type
      type: object
    TeamId:
      format: uuid
      type: string
    ChatPrompt:
      properties:
        decoding_params:
          $ref: '#/components/schemas/DecodingParams'
        messages:
          items:
            $ref: '#/components/schemas/Message'
          type: array
        metadata:
          $ref: '#/components/schemas/PromptMeta'
      required:
      - metadata
      - messages
      - decoding_params
      type: object
    EntityId:
      format: uuid
      type: string
    UpdateConnector:
      properties:
        connector_category:
          allOf:
          - $ref: '#/components/schemas/ConnectorCategory'
          nullable: true
        datahub_ingestion_type:
          nullable: true
          type: string
        datahub_secret_map:
          allOf:
          - $ref: '#/components/schemas/DatahubSecretMap'
          nullable: true
        datahub_urn:
          nullable: true
          type: string
        description:
          nullable: true
          type: string
        known_connector_type:
          nullable: true
          type: string
        name:
          nullable: true
          type: string
        nango_connection_id:
          nullable: true
          type: string
        oauth_scopes:
          items:
            nullable: true
            type: string
          nullable: true
          type: array
        owner_user_id:
          allOf:
          - $ref: '#/components/schemas/UserId'
          nullable: true
        refresh_cron_schedule:
          nullable: true
          type: string
        team_visibility:
          allOf:
          - $ref: '#/components/schemas/TeamVisibility'
          nullable: true
        usage_snippet_override:
          nullable: true
          type: string
      type: object
    CreatedSchemaObject:
      discriminator:
        propertyName: type
      oneOf:
      - properties:
          id:
            $ref: '#/components/schemas/ConnectorDatabaseId'
          type:
            enum:
            - database
            type: string
        required:
        - id
        - type
        type: object
      - properties:
          id:
            $ref: '#/components/schemas/ConnectorSchemaId'
          type:
            enum:
            - schema
            type: string
        required:
        - id
        - type
        type: object
      - properties:
          id:
            $ref: '#/components/schemas/ConnectorTableId'
          type:
            enum:
            - table
            type: string
        required:
        - id
        - type
        type: object
      - properties:
          id:
            $ref: '#/components/schemas/ConnectorColumnId'
          type:
            enum:
            - column
            type: string
        required:
        - id
        - type
        type: object
    PropertyType:
      oneOf:
      - enum:
        - String
        type: string
      - enum:
        - Boolean
        type: string
      - properties:
          Enum:
            items:
              type: string
            type: array
        required:
        - Enum
        type: object
      - enum:
        - Integer
        type: string
      - enum:
        - Float
        type: string
      - enum:
        - Date
        type: string
      - enum:
        - URL
        type: string
      - enum:
        - Money
        type: string
      - enum:
        - Image
        type: string
      - enum:
        - PersonName
        type: string
      - enum:
        - Address
        type: string
    Message:
      description: Our generic definition of a message to a chat agent.
      properties:
        content:
          description: 'We want this to be a vec of contents so we can accurately

            capture an interleaving of images and text.


            This is meant to be a completely raw, unprocessed representation

            of the text. Don''t take stuff out.'
          items:
            $ref: '#/components/schemas/MessageContent'
          type: array
        role:
          $ref: '#/components/schemas/SpeakerTag'
      required:
      - role
      - content
      type: object
    RelationshipMergeProbability:
      properties:
        source_cardinality_given_target_match:
          description: 'Describes the expected cardinality of the source table when a match is found in the target table


            For example, if we have a source company and a target funding round, we expect the source company

            to appear in multiple funding rounds, but not *too* many.

            So if we have a funding round match, the expected number of unique companies is relatively small.

            This is an estimate of that number.'
          format: int64
          minimum: 0
          nullable: true
          type: integer
        target_cardinality_given_source_match:
          description: 'Describes the expected cardinality of the target table when a match is found in the source table


            For example, if we have a source company and a target funding round, we usually expect

            some number of funding rounds to be associated with a single company but not *too* many.

            So if we have a company match, the expected number of unique funding rounds is relatively small.

            This is an estimate of that number.'
          format: int64
          minimum: 0
          nullable: true
          type: integer
      type: object
    WorkflowSessionNodeId:
      format: uuid
      type: string
    ConnectorExplorerChat:
      description: Connector explorer chat with deserialized ChatPrompt for API responses
      properties:
        chat_events:
          items:
            $ref: '#/components/schemas/ChatEvent'
          type: array
        chat_prompt:
          $ref: '#/components/schemas/ChatPrompt'
        connector_id:
          $ref: '#/components/schemas/ConnectorId'
        created_at:
          format: date-time
          type: string
        exploration_run_id:
          $ref: '#/components/schemas/ExplorationRunId'
        id:
          $ref: '#/components/schemas/ConnectorExplorerChatId'
        phase_id:
          $ref: '#/components/schemas/ExplorationPhaseId'
      required:
      - id
      - connector_id
      - exploration_run_id
      - phase_id
      - chat_prompt
      - chat_events
      - created_at
      type: object
    IssueFoundInput:
      properties:
        admin_override:
          type: boolean
        description:
          type: string
        title:
          type: string
      required:
      - title
      - description
      - admin_override
      type: object
    ApplyPatchInput:
      properties:
        apply_all:
          type: boolean
        edits:
          items:
            $ref: '#/components/schemas/ApplyPatchEdit'
          type: array
        file:
          type: string
      required:
      - file
      - edits
      - apply_all
      type: object
    ConnectorDatabaseInfo:
      description: Database within a connector
      properties:
        description:
          nullable: true
          type: string
        id:
          $ref: '#/components/schemas/ConnectorDatabaseId'
        name:
          type: string
        notes:
          nullable: true
          type: string
        schemas:
          items:
            $ref: '#/components/schemas/ConnectorSchemaInfo'
          type: array
      required:
      - id
      - name
      - schemas
      type: object
    MoveFileInput:
      properties:
        file:
          type: string
        new_path:
          type: string
      required:
      - file
      - new_path
      type: object
    WebSearchInput:
      properties:
        query:
          type: string
      required:
      - query
      type: object
    ConnectorDatabaseId:
      format: uuid
      type: string
    PhaseActivity:
      properties:
        chat_id:
          allOf:
          - $ref: '#/components/schemas/ConnectorExplorerChatId'
          nullable: true
        job_id:
          $ref: '#/components/schemas/JobId'
        phase_id:
          $ref: '#/components/schemas/ExplorationPhaseId'
        status:
          $ref: '#/components/schemas/JobStatus'
      required:
      - job_id
      - phase_id
      - status
      type: object
    ChatSessionRole:
      enum:
      - viewer
      - editor
      - owner
      type: string
    AddSchemaObjectResponse:
      allOf:
      - $ref: '#/components/schemas/CreatedSchemaObject'
      - type: object
    Verbosity:
      enum:
      - low
      - medium
      - high
      type: string
    UpsertConnectorTypeSnippetRequest:
      properties:
        usage_snippet:
          nullable: true
          type: string
      type: object
    Job:
      properties:
        created_at:
          format: date-time
          type: string
        dataset_id:
          allOf:
          - $ref: '#/components/schemas/DatasetId'
          nullable: true
        exploration_run_id:
          allOf:
          - $ref: '#/components/schemas/ExplorationRunId'
          nullable: true
        id:
          $ref: '#/components/schemas/JobId'
        job_type:
          $ref: '#/components/schemas/JobType'
        max_errors:
          format: int32
          nullable: true
          type: integer
        max_execution_time_secs:
          format: int32
          nullable: true
          type: integer
        max_steps_without_save:
          format: int32
          type: integer
        max_total_steps:
          format: int32
          nullable: true
          type: integer
        membership_id:
          $ref: '#/components/schemas/MembershipId'
        message:
          description: A message about the status of the job at completion
          nullable: true
          type: string
        node_id:
          allOf:
          - $ref: '#/components/schemas/WorkflowSessionNodeId'
          nullable: true
        parameters:
          description: Proto for JobInput
          format: binary
          nullable: true
          type: string
        reason:
          description: A reason for the job's existence
          nullable: true
          type: string
        run_started_time:
          description: What time did the job start running?
          format: date-time
          nullable: true
          type: string
        run_time_milliseconds:
          format: int64
          nullable: true
          type: integer
        seeded_kg_search_term:
          nullable: true
          type: string
        status:
          $ref: '#/components/schemas/JobStatus'
        updated_at:
          format: date-time
          type: string
        use_proxy:
          type: boolean
        user_id:
          $ref: '#/components/schemas/UserId'
      required:
      - id
      - status
      - created_at
      - user_id
      - membership_id
      - job_type
      - max_steps_without_save
      - use_proxy
      - updated_at
      type: object
    ViewPageInput:
      properties:
        page_number:
          format: int32
          minimum: 0
          type: integer
      required:
      - page_number
      type: object
    SaveRequirement:
      description: It's an OR statement across these.
      oneOf:
      - $ref: '#/components/schemas/RequiredRelationship'
      - $ref: '#/components/schemas/RequiredEntity'
      - $ref: '#/components/schemas/RequiredProperty'
    SecretSummary:
      description: Response model for listing secrets (without sensitive data)
      properties:
        created_at:
          format: date-time
          type: string
        secret_name:
          type: string
        updated_at:
          format: date-time
          type: string
      required:
      - secret_name
      - created_at
      - updated_at
      type: object
    TableSearchResults:
      properties:
        ranked_results:
          items:
            $ref: '#/components/schemas/ConnectorTableSearchResult'
          type: array
        raw_results:
          items:
            $ref: '#/components/schemas/ConnectorTableSearchResult'
          type: array
        rerank_scores:
          items:
            $ref: '#/components/schemas/RerankResult'
          type: array
      required:
      - raw_results
      - rerank_scores
      - ranked_results
      type: object
    DatasetDescriptor:
      additionalProperties: false
      description: 'A dataset is where you put multiple referential schemas.


        A dataset is a complete namespace where all references between schemas

        are held within the dataset.'
      properties:
        description:
          type: string
        llm_override_field:
          nullable: true
          type: string
        name:
          type: string
        relationships:
          items:
            $ref: '#/components/schemas/RelationshipDescriptor'
          type: array
        tables:
          items:
            $ref: '#/components/schemas/TableDescriptor'
          type: array
      required:
      - name
      - description
      - tables
      - relationships
      type: object
    RelationshipDescriptor:
      additionalProperties: false
      properties:
        description:
          type: string
        merge_strategy:
          allOf:
          - $ref: '#/components/schemas/RelationshipMergeStrategy'
          nullable: true
        name:
          type: string
        properties:
          items:
            $ref: '#/components/schemas/PropertyDescriptor'
          type: array
        source_table:
          type: string
        target_table:
          type: string
      required:
      - name
      - description
      - source_table
      - target_table
      type: object
    JavascriptInput:
      properties:
        code:
          type: string
      required:
      - code
      type: object
    SaveInput:
      properties:
        knowledge_graph:
          $ref: '#/components/schemas/LLMKnowledgeGraph'
        reason:
          type: string
        sources:
          items:
            type: string
          type: array
      required:
      - knowledge_graph
      - sources
      - reason
      type: object
    ExplorationRunId:
      format: uuid
      type: string
    CreateConnectorInput:
      properties:
        connector_type:
          type: string
        description:
          nullable: true
          type: string
        name:
          type: string
        secrets:
          items:
            type: string
          type: array
      required:
      - name
      - connector_type
      type: object
    ExitInput:
      properties:
        reason:
          type: string
      required:
      - reason
      type: object
    RequiredRelationship:
      additionalProperties: false
      properties:
        relationship_name:
          type: string
      required:
      - relationship_name
      type: object
    ConnectorSummary:
      properties:
        id:
          $ref: '#/components/schemas/ConnectorId'
        logo_url:
          description: Base64 data URI for the logo (e.g., "data:image/svg+xml;base64,...")
          nullable: true
          type: string
        name:
          type: string
      required:
      - id
      - name
      type: object
    ConnectorTableResult:
      properties:
        columns:
          items:
            $ref: '#/components/schemas/ConnectorColumnResult'
          type: array
        database:
          type: string
        description:
          nullable: true
          type: string
        notes:
          nullable: true
          type: string
        schema:
          type: string
        table_name:
          type: string
      required:
      - schema
      - database
      - table_name
      - columns
      type: object
    MergeConfig:
      description: The configuration for a probabilistic merge strategy
      properties:
        baseline_cardinality:
          description: 'The number of unique values that are expected to be present in the complete dataset


            This is used for merging to determine how significant a match is. (i.e. if there are

            only 2 possible values, a match gives less confidence than if there are 100)'
          format: int64
          minimum: 0
          type: integer
        comparison_strategy:
          $ref: '#/components/schemas/ComparisonStrategy'
        match_transfer_probability:
          description: 'The estimated probability that, given an entity match, the properties also match


            For a person''s full name, this would be quite high. For a person''s job title, it

            would be lower because people can have multiple job titles over time or at different

            companies at the same time.'
          format: float
          type: number
      required:
      - baseline_cardinality
      - match_transfer_probability
      type: object
    PropertyDescriptor:
      additionalProperties: false
      properties:
        description:
          type: string
        merge_strategy:
          $ref: '#/components/schemas/MergeStrategy'
        name:
          type: string
        prop_type:
          $ref: '#/components/schemas/PropertyType'
      required:
      - name
      - description
      type: object
  securitySchemes:
    api_key:
      in: header
      name: api_key
      type: apiKey
    session_token:
      scheme: bearer
      type: http
