openapi: 3.0.3
info:
  contact:
    email: team@structify.ai
    name: Structify Team
  description: Every enterprise's data team.
  license:
    name: Discuss directly with founders for license.
    url: https://structify.ai
  title: Structify account workflow_schedule API
  version: 0.1.0
servers:
- description: Production server
  url: https://api.structify.ai
- description: Local server
  url: http://localhost:8080
security:
- api_key: []
- session_token: []
tags:
- name: workflow_schedule
paths:
  /workflow-schedule:
    get:
      operationId: get_workflow_schedules_for_user
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/WorkflowScheduleInfo'
                type: array
          description: Successfully retrieved workflow schedules
        '403':
          description: Access denied
      tags:
      - workflow_schedule
  /workflow-schedule/{chat_session_id}:
    get:
      operationId: get_workflow_schedules_for_chat
      parameters:
      - description: The chat session ID
        in: path
        name: chat_session_id
        required: true
        schema:
          $ref: '#/components/schemas/ChatSessionId'
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/WorkflowScheduleInfo'
                nullable: true
          description: Successfully retrieved workflow schedule
        '403':
          description: Access denied
        '404':
          description: Chat session not found
      tags:
      - workflow_schedule
    post:
      operationId: create_workflow_schedule
      parameters:
      - description: The chat session ID
        in: path
        name: chat_session_id
        required: true
        schema:
          $ref: '#/components/schemas/ChatSessionId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWorkflowScheduleRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowScheduleInfo'
          description: Successfully created workflow schedule
        '400':
          description: Invalid request
        '403':
          description: Access denied
      tags:
      - workflow_schedule
  /workflow-schedule/{schedule_id}:
    delete:
      operationId: delete_workflow_schedule
      parameters:
      - description: The workflow schedule ID
        in: path
        name: schedule_id
        required: true
        schema:
          $ref: '#/components/schemas/WorkflowScheduleId'
      responses:
        '204':
          description: Successfully deleted workflow schedule
        '403':
          description: Access denied
        '404':
          description: Workflow schedule not found
      tags:
      - workflow_schedule
    put:
      operationId: update_workflow_schedule
      parameters:
      - description: The workflow schedule ID
        in: path
        name: schedule_id
        required: true
        schema:
          $ref: '#/components/schemas/WorkflowScheduleId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateWorkflowScheduleRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowScheduleInfo'
          description: Successfully updated workflow schedule
        '400':
          description: Invalid request
        '403':
          description: Access denied
        '404':
          description: Workflow schedule not found
      tags:
      - workflow_schedule
  /workflow-schedule/{schedule_id}/pause:
    patch:
      operationId: pause_workflow_schedule
      parameters:
      - description: The workflow schedule ID
        in: path
        name: schedule_id
        required: true
        schema:
          $ref: '#/components/schemas/WorkflowScheduleId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PauseWorkflowScheduleRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowScheduleInfo'
          description: Successfully updated workflow schedule pause status
        '403':
          description: Access denied
        '404':
          description: Workflow schedule not found
      tags:
      - workflow_schedule
  /workflow-schedule/{schedule_id}/run:
    post:
      operationId: run_workflow_schedule
      parameters:
      - description: The workflow schedule ID
        in: path
        name: schedule_id
        required: true
        schema:
          $ref: '#/components/schemas/WorkflowScheduleId'
      responses:
        '200':
          description: Successfully triggered workflow execution
        '403':
          description: Access denied
        '404':
          description: Workflow schedule not found
      tags:
      - workflow_schedule
  /workflow-schedule/{schedule_id}/sessions:
    post:
      operationId: get_workflow_schedule_sessions
      parameters:
      - description: The workflow schedule ID
        in: path
        name: schedule_id
        required: true
        schema:
          $ref: '#/components/schemas/WorkflowScheduleId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetWorkflowScheduleSessionsRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetWorkflowScheduleSessionsResponse'
          description: Successfully retrieved workflow sessions
        '403':
          description: Access denied
        '404':
          description: Workflow schedule not found
      tags:
      - workflow_schedule
components:
  schemas:
    ChatMessageId:
      format: uuid
      type: string
    WorkflowScheduleId:
      format: uuid
      type: string
    GetWorkflowScheduleSessionsRequest:
      properties:
        limit:
          format: int64
          type: integer
        offset:
          format: int64
          type: integer
      type: object
    GetWorkflowScheduleSessionsResponse:
      properties:
        sessions:
          items:
            $ref: '#/components/schemas/WorkflowSession'
          type: array
        total_count:
          format: int64
          type: integer
      required:
      - sessions
      - total_count
      type: object
    WorkflowSession:
      properties:
        aborted:
          type: boolean
        chat_session_id:
          $ref: '#/components/schemas/ChatSessionId'
        created_at:
          format: date-time
          nullable: true
          type: string
        dag_ready:
          type: boolean
        dag_ready_at:
          format: date-time
          nullable: true
          type: string
        dashboard_layout_proto:
          format: binary
          nullable: true
          type: string
        error_message:
          nullable: true
          type: string
        error_traceback:
          nullable: true
          type: string
        id:
          $ref: '#/components/schemas/WorkflowSessionId'
        parent_chat_message_id:
          allOf:
          - $ref: '#/components/schemas/ChatMessageId'
          nullable: true
        updated_at:
          format: date-time
          type: string
        workflow_schedule_id:
          allOf:
          - $ref: '#/components/schemas/WorkflowScheduleId'
          nullable: true
      required:
      - id
      - chat_session_id
      - updated_at
      - dag_ready
      - aborted
      type: object
    CreateWorkflowScheduleRequest:
      properties:
        cron_schedule:
          nullable: true
          type: string
        git_commit_hash:
          nullable: true
          type: string
        name:
          type: string
      required:
      - name
      type: object
    ChatVisibility:
      enum:
      - private
      - shared_with_team
      - shared_with_team_view
      - public
      type: string
    ChatSessionId:
      format: uuid
      type: string
    WorkflowSessionId:
      format: uuid
      type: string
    WorkflowScheduleInfo:
      properties:
        chat_session_id:
          $ref: '#/components/schemas/ChatSessionId'
        cron_schedule:
          nullable: true
          type: string
        git_commit_hash:
          nullable: true
          type: string
        id:
          $ref: '#/components/schemas/WorkflowScheduleId'
        name:
          type: string
        next_run_time:
          nullable: true
          type: string
        owner_email:
          nullable: true
          type: string
        paused:
          type: boolean
        updated_at:
          nullable: true
          type: string
        visibility:
          allOf:
          - $ref: '#/components/schemas/ChatVisibility'
          nullable: true
      required:
      - id
      - name
      - chat_session_id
      - paused
      type: object
    PauseWorkflowScheduleRequest:
      properties:
        paused:
          type: boolean
      required:
      - paused
      type: object
    UpdateWorkflowScheduleRequest:
      properties:
        cron_schedule:
          nullable: true
          type: string
        git_commit_hash:
          nullable: true
          type: string
        name:
          nullable: true
          type: string
        paused:
          nullable: true
          type: boolean
      type: object
  securitySchemes:
    api_key:
      in: header
      name: api_key
      type: apiKey
    session_token:
      scheme: bearer
      type: http
