openapi: 3.0.3
info:
  contact:
    email: team@structify.ai
    name: Structify Team
  description: Every enterprise's data team.
  license:
    name: Discuss directly with founders for license.
    url: https://structify.ai
  title: Structify account admin API
  version: 0.1.0
servers:
- description: Production server
  url: https://api.structify.ai
- description: Local server
  url: http://localhost:8080
security:
- api_key: []
- session_token: []
tags:
- description: Admin endpoints
  name: admin
paths:
  /admin/chat/templates:
    get:
      operationId: admin_list_chat_templates
      parameters:
      - in: query
        name: chat_session_id
        required: false
        schema:
          allOf:
          - $ref: '#/components/schemas/ChatSessionId'
          nullable: true
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ChatTemplate'
                type: array
          description: Chat templates retrieved
        '500':
          description: Internal server error
      security:
      - api_key: []
      - session_token: []
      tags:
      - admin
    post:
      operationId: admin_create_chat_template
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateChatTemplateRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatTemplate'
          description: Chat template created
        '400':
          description: Bad request
        '403':
          description: Forbidden
        '404':
          description: Chat session not found
        '500':
          description: Internal server error
      security:
      - api_key: []
      - session_token: []
      tags:
      - admin
  /admin/chat/templates/{template_id}:
    patch:
      operationId: admin_update_chat_template
      parameters:
      - description: Chat template ID
        in: path
        name: template_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateChatTemplate'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatTemplate'
          description: Chat template updated
        '404':
          description: Chat template not found
        '500':
          description: Internal server error
      security:
      - api_key: []
      - session_token: []
      tags:
      - admin
  /admin/connector-catalog:
    post:
      operationId: admin_create_connector_catalog
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateConnectorCatalogRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorCatalog'
          description: ''
      security:
      - api_key: []
      - session_token: []
      summary: Create a new connector catalog entry
      tags:
      - admin
  /admin/connector-catalog/auth-methods:
    post:
      operationId: admin_create_connector_auth_method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateConnectorAuthMethodRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorAuthMethod'
          description: ''
      security:
      - api_key: []
      - session_token: []
      summary: Create a new connector auth method
      tags:
      - admin
  /admin/connector-catalog/auth-methods/{id}:
    patch:
      operationId: admin_update_connector_auth_method
      parameters:
      - in: path
        name: id
        required: true
        schema:
          $ref: '#/components/schemas/ConnectorAuthMethodId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateConnectorAuthMethodRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorAuthMethod'
          description: ''
      security:
      - api_key: []
      - session_token: []
      summary: Update a connector auth method
      tags:
      - admin
  /admin/connector-catalog/credential-fields:
    post:
      operationId: admin_create_connector_credential_field
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateConnectorCredentialFieldRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorCredentialField'
          description: ''
      security:
      - api_key: []
      - session_token: []
      summary: Create a new connector credential field
      tags:
      - admin
  /admin/connector-catalog/credential-fields/batch:
    post:
      operationId: admin_batch_create_connector_credential_fields
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchCreateCredentialFieldsRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ConnectorCredentialField'
                type: array
          description: ''
      security:
      - api_key: []
      - session_token: []
      summary: Batch create connector credential fields
      tags:
      - admin
  /admin/connector-catalog/credential-fields/{id}:
    delete:
      operationId: admin_delete_connector_credential_field
      parameters:
      - in: path
        name: id
        required: true
        schema:
          $ref: '#/components/schemas/ConnectorCredentialFieldId'
      responses:
        '200':
          description: Field deleted successfully
        '404':
          description: Field not found
      security:
      - api_key: []
      - session_token: []
      summary: Delete a connector credential field
      tags:
      - admin
    patch:
      operationId: admin_update_connector_credential_field
      parameters:
      - in: path
        name: id
        required: true
        schema:
          $ref: '#/components/schemas/ConnectorCredentialFieldId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateConnectorCredentialFieldRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorCredentialField'
          description: ''
      security:
      - api_key: []
      - session_token: []
      summary: Update a connector credential field
      tags:
      - admin
  /admin/connector-catalog/nango-pending:
    get:
      operationId: admin_list_nango_pending
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PendingNangoIntegration'
                type: array
          description: ''
      security:
      - api_key: []
      - session_token: []
      summary: List Nango integrations that are not yet in the connector catalog
      tags:
      - admin
  /admin/connector-catalog/scopes:
    get:
      operationId: admin_list_connector_auth_method_scopes
      parameters:
      - in: query
        name: connector_auth_method_id
        required: true
        schema:
          $ref: '#/components/schemas/ConnectorAuthMethodId'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListScopesResponse'
          description: ''
      security:
      - api_key: []
      - session_token: []
      tags:
      - admin
    post:
      operationId: admin_create_connector_auth_method_scope
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateConnectorAuthMethodScopeRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorAuthMethodScope'
          description: ''
      security:
      - api_key: []
      - session_token: []
      tags:
      - admin
  /admin/connector-catalog/scopes/batch:
    post:
      operationId: admin_batch_create_connector_auth_method_scopes
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchCreateScopesRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchCreateScopesResponse'
          description: ''
      security:
      - api_key: []
      - session_token: []
      tags:
      - admin
  /admin/connector-catalog/scopes/{id}:
    delete:
      operationId: admin_delete_connector_auth_method_scope
      parameters:
      - in: path
        name: id
        required: true
        schema:
          $ref: '#/components/schemas/ConnectorAuthMethodScopeId'
      responses:
        '200':
          description: Scope deleted successfully
        '404':
          description: Scope not found
      security:
      - api_key: []
      - session_token: []
      tags:
      - admin
    patch:
      operationId: admin_update_connector_auth_method_scope
      parameters:
      - in: path
        name: id
        required: true
        schema:
          $ref: '#/components/schemas/ConnectorAuthMethodScopeId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateConnectorAuthMethodScope'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorAuthMethodScope'
          description: ''
        '404':
          description: Scope not found
      security:
      - api_key: []
      - session_token: []
      tags:
      - admin
  /admin/connector-catalog/{id}:
    delete:
      operationId: admin_delete_connector_catalog
      parameters:
      - in: path
        name: id
        required: true
        schema:
          $ref: '#/components/schemas/ConnectorCatalogId'
      responses:
        '200':
          description: Catalog entry deleted successfully
        '404':
          description: Catalog entry not found
      security:
      - api_key: []
      - session_token: []
      tags:
      - admin
    patch:
      operationId: admin_update_connector_catalog
      parameters:
      - in: path
        name: id
        required: true
        schema:
          $ref: '#/components/schemas/ConnectorCatalogId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateConnectorCatalogRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorCatalog'
          description: ''
      security:
      - api_key: []
      - session_token: []
      summary: Update a connector catalog entry
      tags:
      - admin
  /admin/connector-catalog/{slug}/logo:
    put:
      operationId: admin_upload_connector_logo
      parameters:
      - in: path
        name: slug
        required: true
        schema:
          type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/UploadConnectorLogoForm'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadConnectorLogoResponse'
          description: Logo uploaded
      security:
      - api_key: []
      - session_token: []
      tags:
      - admin
  /admin/connector/clone:
    post:
      operationId: admin_clone_connectors
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CloneConnectorsRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloneConnectorsResponse'
          description: Connectors cloned successfully
        '401':
          description: Unauthorized
        '404':
          description: Source connector not found
      security:
      - api_key: []
      - session_token: []
      tags:
      - admin
  /admin/connector/datahub-config:
    post:
      operationId: admin_set_connector_datahub_config
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetDatahubConfigRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Connector'
          description: Datahub config updated
        '401':
          description: Unauthorized
        '404':
          description: Connector not found
      security:
      - api_key: []
      - session_token: []
      tags:
      - admin
  /admin/connector/team/{team_id}:
    get:
      operationId: admin_list_team_connectors
      parameters:
      - description: Team ID
        in: path
        name: team_id
        required: true
        schema:
          $ref: '#/components/schemas/TeamId'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminListConnectorsResponse'
          description: Connectors for team
        '401':
          description: Unauthorized
      security:
      - api_key: []
      - session_token: []
      tags:
      - admin
  /admin/critical:
    post:
      operationId: admin_report_critical
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReportCriticalRequest'
        required: true
      responses:
        '200':
          description: Critical error reported
        '401':
          description: Unauthorized
      security:
      - api_key: []
      - session_token: []
      tags:
      - admin
  /admin/dataset/get_by_id:
    get:
      operationId: admin_dataset_get_by_id
      parameters:
      - description: ID of the dataset to retrieve
        in: query
        name: id
        required: true
        schema:
          $ref: '#/components/schemas/DatasetId'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminDatasetReturn'
          description: Dataset retrieved successfully
        '404':
          description: Dataset not found
      security:
      - api_key: []
      tags:
      - admin
  /admin/functional_tests/create:
    post:
      description: Creates a new functional test with optional model and prompt overrides.
      operationId: admin_create_functional_test
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateFunctionalTestRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FunctionalTest'
          description: ''
        '400':
          description: Bad request
        '500':
          description: Internal server error
      security:
      - api_key: []
      - session_token: []
      summary: Create a new functional test
      tags:
      - admin
  /admin/functional_tests/link:
    post:
      description: Links a chat session to a functional test with a specific sample name and initial results.
      operationId: admin_link_chat_to_functional_test
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LinkChatToFunctionalTestRequest'
        required: true
      responses:
        '200':
          description: Successfully linked chat to functional test
        '400':
          description: Bad request
        '500':
          description: Internal server error
      security:
      - api_key: []
      - session_token: []
      summary: Link a chat session to a functional test
      tags:
      - admin
  /admin/functional_tests/list:
    get:
      description: Gets all functional tests with their overrides and creation dates, ordered by most recent first.
      operationId: admin_list_functional_tests
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/FunctionalTestListItem'
                type: array
          description: ''
        '500':
          description: Internal server error
      security:
      - api_key: []
      - session_token: []
      summary: List all functional tests
      tags:
      - admin
  /admin/functional_tests/results:
    get:
      description: 'Gets all results and chat IDs for either a specific functional test or a specific sample name.

        Must provide either functional_test_id or sample_name, but not both.'
      operationId: admin_get_functional_test_results
      parameters:
      - in: query
        name: functional_test_id
        required: false
        schema:
          allOf:
          - $ref: '#/components/schemas/FunctionalTestId'
          nullable: true
      - in: query
        name: sample_name
        required: false
        schema:
          nullable: true
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FunctionalTestResultsResponse'
          description: ''
        '400':
          description: Bad request - must provide either functional_test_id or sample_name
        '500':
          description: Internal server error
      security:
      - api_key: []
      - session_token: []
      summary: Get results for a functional test or sample
      tags:
      - admin
  /admin/functional_tests/system_prompt:
    get:
      description: Returns the current system prompt template used by the code agent.
      operationId: admin_get_system_prompt
      responses:
        '200':
          content:
            text/plain:
              schema:
                type: string
          description: System prompt content
        '500':
          description: Internal server error
      security:
      - api_key: []
      - session_token: []
      summary: Get the system prompt template
      tags:
      - admin
  /admin/functional_tests/update_results:
    put:
      description: Updates the results for a specific chat session linked to a functional test.
      operationId: admin_update_functional_test_results
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateFunctionalTestResultsRequest'
        required: true
      responses:
        '200':
          description: Successfully updated functional test results
        '400':
          description: Bad request
        '404':
          description: Chat/functional test link not found
        '500':
          description: Internal server error
      security:
      - api_key: []
      - session_token: []
      summary: Update results for a chat linked to a functional test
      tags:
      - admin
  /admin/jobs/concurrency_limits:
    get:
      operationId: admin_get_job_concurrency_limits
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobConcurrencyLimits'
          description: Current job concurrency limits
      security:
      - api_key: []
      - session_token: []
      tags:
      - admin
    put:
      operationId: admin_update_job_concurrency_limits
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateJobConcurrencyLimits'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobConcurrencyLimits'
          description: Updated job concurrency limits
      security:
      - api_key: []
      - session_token: []
      tags:
      - admin
  /admin/jobs/delete:
    post:
      operationId: admin_jobs_delete
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminDeleteJobsRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminDeleteJobsResponse'
          description: Jobs deleted successfully
        '400':
          description: Invalid request
      security:
      - api_key: []
      - session_token: []
      tags:
      - admin
  /admin/jobs/kill_by_user:
    post:
      operationId: admin_kill_jobs_by_user
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KillByUserRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KillByUserResponse'
          description: Jobs killed successfully
      security:
      - api_key: []
      - session_token: []
      tags:
      - admin
  /admin/jobs/list:
    get:
      operationId: admin_jobs_list
      parameters:
      - in: query
        name: offset
        required: false
        schema:
          minimum: 0
          type: integer
      - in: query
        name: limit
        required: false
        schema:
          minimum: 0
          type: integer
      - in: query
        name: status
        required: false
        schema:
          allOf:
          - $ref: '#/components/schemas/JobStatus'
          nullable: true
      - in: query
        name: job_type
        required: false
        schema:
          allOf:
          - $ref: '#/components/schemas/JobType'
          nullable: true
      - in: query
        name: user_id
        required: false
        schema:
          allOf:
          - $ref: '#/components/schemas/UserId'
          nullable: true
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ListJobsResponse'
                type: array
          description: A list of all execution histories across all users
      security:
      - api_key: []
      - session_token: []
      tags:
      - admin
  /admin/jobs/running_stats:
    get:
      operationId: admin_get_running_job_stats
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunningJobStats'
          description: Running job statistics by type and user
      security:
      - api_key: []
      - session_token: []
      tags:
      - admin
  /admin/redis/flush:
    post:
      operationId: admin_redis_flush
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlushResponse'
          description: Redis flushed successfully
        '500':
          description: Failed to flush Redis
      security:
      - api_key: []
      - session_token: []
      tags:
      - admin
  /admin/sandbox/create_job:
    post:
      operationId: admin_sandbox_create_job
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateJobSandboxRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateJobSandboxResponse'
          description: ''
      security:
      - api_key: []
      - session_token: []
      tags:
      - admin
  /admin/sandbox/list:
    get:
      operationId: admin_sandbox_list
      parameters:
      - in: query
        name: limit
        required: false
        schema:
          format: int64
          nullable: true
          type: integer
      - in: query
        name: offset
        required: false
        schema:
          format: int64
          nullable: true
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Sandbox'
                type: array
          description: ''
      security:
      - api_key: []
      tags:
      - admin
  /admin/sandbox/{sandbox_id}/terminate:
    post:
      operationId: admin_sandbox_terminate
      parameters:
      - description: Sandbox ID
        in: path
        name: sandbox_id
        required: true
        schema:
          $ref: '#/components/schemas/SandboxId'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sandbox'
          description: ''
      security:
      - api_key: []
      - session_token: []
      tags:
      - admin
  /admin/team/add_member:
    post:
      operationId: admin_team_add_member
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminAddMemberRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminAddMemberResponse'
          description: Member added successfully
      security:
      - api_key: []
      - session_token: []
      tags:
      - admin
  /admin/team/cancel_subscription:
    post:
      operationId: admin_team_cancel_subscription
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelSubscriptionRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelSubscriptionResponse'
          description: Subscription canceled successfully
      security:
      - api_key: []
      - session_token: []
      tags:
      - admin
  /admin/team/create_subscription:
    post:
      operationId: admin_team_create_subscription
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminCreateSubscriptionRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminCreateSubscriptionResponse'
          description: Subscription created successfully
      security:
      - api_key: []
      - session_token: []
      tags:
      - admin
  /admin/team/expire_grants:
    post:
      operationId: admin_team_expire_grants
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExpireGrantsRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpireGrantsResponse'
          description: Grants expired successfully
      security:
      - api_key: []
      - session_token: []
      tags:
      - admin
  /admin/team/extend_trial:
    post:
      operationId: admin_team_extend_trial
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExtendTrialRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtendTrialResponse'
          description: Trial extended successfully
      security:
      - api_key: []
      - session_token: []
      tags:
      - admin
  /admin/team/get/{team_id}:
    get:
      operationId: admin_team_get
      parameters:
      - description: Team ID
        in: path
        name: team_id
        required: true
        schema:
          $ref: '#/components/schemas/TeamId'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamListResponse'
          description: Team retrieved successfully
        '404':
          description: Team not found
        '500':
          description: Internal server error
      security:
      - api_key: []
      - session_token: []
      tags:
      - admin
  /admin/team/grant_credits:
    post:
      operationId: admin_team_grant_credits
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GrantCreditsRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GrantCreditsResponse'
          description: Credits granted successfully
      security:
      - api_key: []
      - session_token: []
      tags:
      - admin
  /admin/team/list:
    get:
      description: 'Lists teams in the system along with their subscription information, credit grants, and member counts.

        Supports optional pagination via limit, offset, and search query parameters.'
      operationId: admin_team_list
      parameters:
      - in: query
        name: limit
        required: false
        schema:
          format: int64
          nullable: true
          type: integer
      - in: query
        name: offset
        required: false
        schema:
          format: int64
          nullable: true
          type: integer
      - in: query
        name: search
        required: false
        schema:
          nullable: true
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedTeamListResponse'
          description: ''
      security:
      - api_key: []
      - session_token: []
      summary: Gets all the teams with their subscription status, grants, and member counts.
      tags:
      - admin
  /admin/team/remove_member:
    post:
      operationId: admin_team_remove_member
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminRemoveMemberRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminRemoveMemberResponse'
          description: Member removed successfully
      security:
      - api_key: []
      - session_token: []
      tags:
      - admin
  /admin/team/update_seats_override:
    post:
      operationId: admin_team_update_seats_override
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSeatsOverrideRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateSeatsOverrideResponse'
          description: Seats override updated successfully
      security:
      - api_key: []
      - session_token: []
      tags:
      - admin
  /admin/team/{team_id}/members:
    get:
      operationId: admin_team_list_members
      parameters:
      - description: Team ID
        in: path
        name: team_id
        required: true
        schema:
          $ref: '#/components/schemas/TeamId'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminListMembersResponse'
          description: Members retrieved successfully
      security:
      - api_key: []
      - session_token: []
      tags:
      - admin
  /admin/users/create:
    post:
      operationId: admin_user_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserParams'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
          description: Created
      security:
      - api_key: []
      - session_token: []
      summary: Create a user, returning their session token.
      tags:
      - admin
  /admin/users/get_stats:
    post:
      operationId: admin_user_stats
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetUserStatsParams'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/JobStats'
                type: array
          description: User statistics
      security:
      - api_key: []
      - session_token: []
      tags:
      - admin
  /admin/users/impersonate:
    post:
      operationId: admin_impersonate_user
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImpersonateRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImpersonateResponse'
          description: Session created successfully
        '400':
          description: Bad request - invalid membership_id
        '401':
          description: Unauthorized - not an admin
        '500':
          description: Internal server error
      security:
      - session_token: []
      - api_key: []
      tags:
      - admin
  /admin/users/list:
    get:
      operationId: admin_user_list
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/UserListResponse'
                type: array
          description: ''
      security:
      - api_key: []
      - session_token: []
      summary: Lists all users with their team memberships.
      tags:
      - admin
components:
  schemas:
    SetDatahubConfigRequest:
      properties:
        connector_id:
          $ref: '#/components/schemas/ConnectorId'
        datahub_ingestion_type:
          allOf:
          - $ref: '#/components/schemas/DatahubIngestionType'
          nullable: true
        datahub_secret_map:
          allOf:
          - $ref: '#/components/schemas/DatahubSecretMap'
          nullable: true
      required:
      - connector_id
      type: object
    SandboxStatus:
      enum:
      - alive
      - paused
      - terminated
      type: string
    UpdateConnectorCredentialFieldRequest:
      properties:
        default_value:
          nullable: true
          type: string
        description:
          nullable: true
          type: string
        display_order:
          format: int32
          nullable: true
          type: integer
        field_type:
          nullable: true
          type: string
        is_optional:
          nullable: true
          type: boolean
        label:
          nullable: true
          type: string
        name:
          nullable: true
          type: string
        options:
          nullable: true
      type: object
    TableDescriptor:
      additionalProperties: false
      description: The full definition of what a schema is - without duplicate information.
      properties:
        description:
          type: string
        expected_cardinality:
          description: 'Expected number of unique values in the complete dataset.


            This is used for our probabilistic merge strategy.'
          format: int64
          minimum: 0
          nullable: true
          type: integer
        name:
          description: Organized in a name, description format.
          type: string
        primary_column:
          nullable: true
          type: string
        properties:
          description: Organized in a name, description format.
          items:
            $ref: '#/components/schemas/PropertyDescriptor'
          type: array
      required:
      - name
      - description
      - properties
      type: object
    CreateJobSandboxResponse:
      properties:
        auth_token:
          type: string
        proxy_api_key:
          nullable: true
          type: string
        sandbox_id:
          type: string
        tunnel_url:
          type: string
      required:
      - sandbox_id
      - tunnel_url
      - auth_token
      type: object
    AdminListMembersResponse:
      properties:
        members:
          items:
            $ref: '#/components/schemas/TeamMember'
          type: array
      required:
      - members
      type: object
    UpdateSeatsOverrideResponse:
      properties:
        seats_override:
          format: int32
          nullable: true
          type: integer
        team_id:
          $ref: '#/components/schemas/TeamId'
      required:
      - team_id
      type: object
    ConnectorAuthMethodScope:
      properties:
        connector_auth_method_id:
          $ref: '#/components/schemas/ConnectorAuthMethodId'
        created_at:
          format: date-time
          type: string
        id:
          $ref: '#/components/schemas/ConnectorAuthMethodScopeId'
        is_recommended:
          type: boolean
        is_required:
          type: boolean
        query_parameter:
          type: string
        scope_value:
          type: string
        updated_at:
          format: date-time
          type: string
      required:
      - id
      - connector_auth_method_id
      - scope_value
      - query_parameter
      - is_required
      - is_recommended
      - created_at
      - updated_at
      type: object
    CloneConnectorsResponse:
      properties:
        connectors:
          items:
            $ref: '#/components/schemas/Connector'
          type: array
      required:
      - connectors
      type: object
    UploadConnectorLogoForm:
      properties:
        file:
          format: binary
          type: string
      required:
      - file
      type: object
    MergeStrategy:
      oneOf:
      - description: 'Property with unique 1:1 correspondence to its parent.


          Merge based on this property 100% of the time'
        enum:
        - Unique
        type: string
      - properties:
          Probabilistic:
            $ref: '#/components/schemas/MergeConfig'
        required:
        - Probabilistic
        type: object
      - enum:
        - NoSignal
        type: string
    ConnectorTableId:
      format: uuid
      type: string
    JobStatus:
      enum:
      - Queued
      - Running
      - Completed
      - Failed
      type: string
    CloneConnectorItem:
      properties:
        known_connector_type:
          type: string
        name:
          type: string
        source_connector_id:
          $ref: '#/components/schemas/ConnectorId'
      required:
      - source_connector_id
      - name
      - known_connector_type
      type: object
    FunctionalTestResult:
      properties:
        chat_session_id:
          $ref: '#/components/schemas/ChatSessionId'
        results:
          additionalProperties: true
          type: object
          x-stainless-empty-object: true
        sample_name:
          type: string
      required:
      - chat_session_id
      - sample_name
      - results
      type: object
    JobInput:
      properties:
        allow_extra_entities:
          type: boolean
        extraction_criteria:
          items:
            $ref: '#/components/schemas/SaveRequirement'
          type: array
        instructions:
          nullable: true
          type: string
        model:
          nullable: true
          type: string
        seeded_kg:
          allOf:
          - $ref: '#/components/schemas/LLMKnowledgeGraph'
          nullable: true
        structuring_input:
          $ref: '#/components/schemas/InputType'
      required:
      - structuring_input
      - extraction_criteria
      - allow_extra_entities
      type: object
    ConnectorAuthMethod:
      properties:
        auth_type:
          $ref: '#/components/schemas/ConnectorAuthType'
        connector_catalog_id:
          $ref: '#/components/schemas/ConnectorCatalogId'
        created_at:
          format: date-time
          type: string
        id:
          $ref: '#/components/schemas/ConnectorAuthMethodId'
        is_active:
          type: boolean
        label:
          nullable: true
          type: string
        nango_integration_key:
          nullable: true
          type: string
        priority:
          format: int32
          type: integer
        updated_at:
          format: date-time
          type: string
      required:
      - id
      - connector_catalog_id
      - auth_type
      - is_active
      - priority
      - created_at
      - updated_at
      type: object
    UserId:
      format: uuid
      type: string
    UpdateConnectorCatalogRequest:
      properties:
        categories:
          items:
            type: string
          nullable: true
          type: array
        description:
          nullable: true
          type: string
        enterprise_only:
          nullable: true
          type: boolean
        name:
          nullable: true
          type: string
        onboarding_priority:
          format: int32
          nullable: true
          type: integer
        priority:
          format: int32
          nullable: true
          type: integer
      type: object
    DatahubSecretMap:
      additionalProperties:
        type: string
      description: Maps DatahubIngestionKey to the name of the connector secret that holds the value.
      type: object
    CreateChatTemplateRequest:
      properties:
        chat_session_id:
          $ref: '#/components/schemas/ChatSessionId'
        description:
          type: string
        display_order:
          format: int32
          type: integer
        image_url:
          type: string
        is_active:
          type: boolean
        questions:
          items:
            $ref: '#/components/schemas/TemplateQuestion'
          type: array
        title:
          type: string
      required:
      - chat_session_id
      - title
      - description
      - image_url
      - questions
      - display_order
      - is_active
      type: object
    Input:
      oneOf:
      - properties:
          PDF:
            $ref: '#/components/schemas/PDFIngestor'
        required:
        - PDF
        type: object
      - properties:
          Web:
            $ref: '#/components/schemas/WebSearch'
        required:
        - Web
        type: object
    ConnectorExplorationInput:
      properties:
        connector_id:
          $ref: '#/components/schemas/ConnectorId'
        exploration_phase_id:
          $ref: '#/components/schemas/ExplorationPhaseId'
        exploration_run_id:
          $ref: '#/components/schemas/ExplorationRunId'
        strategy:
          $ref: '#/components/schemas/ExplorationStrategy'
      required:
      - connector_id
      - exploration_phase_id
      - exploration_run_id
      - strategy
      type: object
    AdminCreateSubscriptionRequest:
      properties:
        billing_interval:
          type: string
        external_customer_id:
          nullable: true
          type: string
        external_price_id:
          nullable: true
          type: string
        external_subscription_id:
          nullable: true
          type: string
        is_active:
          type: boolean
        subscription_tier:
          $ref: '#/components/schemas/SubscriptionTier'
        team_id:
          $ref: '#/components/schemas/TeamId'
      required:
      - team_id
      - subscription_tier
      - billing_interval
      - is_active
      type: object
    UserSessionId:
      format: uuid
      type: string
    FunctionalTestId:
      format: uuid
      type: string
    AdminCreateSubscriptionResponse:
      properties:
        is_active:
          type: boolean
        subscription_tier:
          type: string
        team_id:
          $ref: '#/components/schemas/TeamId'
      required:
      - team_id
      - subscription_tier
      - is_active
      type: object
    ImpersonateResponse:
      properties:
        expires_at:
          format: date-time
          type: string
        refresh_token:
          type: string
        refresh_token_expires_at:
          format: date-time
          type: string
        session_token:
          type: string
      required:
      - session_token
      - refresh_token
      - expires_at
      - refresh_token_expires_at
      type: object
    RequiredEntity:
      additionalProperties: false
      properties:
        entity_id:
          allOf:
          - $ref: '#/components/schemas/EntityId'
          nullable: true
        seeded_entity_id:
          description: The integer id corresponding to an entity in the seeded entity graph (different from the global dataset entity id)
          minimum: 0
          type: integer
      required:
      - seeded_entity_id
      type: object
    DatahubIngestionType:
      enum:
      - postgres
      - snowflake
      - salesforce
      - hubspot
      - bigquery
      type: string
    TeamListResponse:
      allOf:
      - $ref: '#/components/schemas/Team'
      - properties:
          grants:
            items:
              $ref: '#/components/schemas/CreditGrant'
            type: array
          member_count:
            format: int64
            type: integer
          subscription:
            $ref: '#/components/schemas/TeamSubscriptionInfo'
        required:
        - subscription
        - member_count
        - grants
        type: object
    Team:
      properties:
        created_at:
          format: date-time
          type: string
        daytona_credentials:
          allOf:
          - $ref: '#/components/schemas/DaytonaCredentials'
          nullable: true
        description:
          nullable: true
          type: string
        id:
          $ref: '#/components/schemas/TeamId'
        name:
          type: string
        sandbox_provider:
          nullable: true
          type: string
        seats_override:
          format: int32
          nullable: true
          type: integer
        slack_team_icon:
          nullable: true
          type: string
        slack_team_id:
          nullable: true
          type: string
        slack_team_name:
          nullable: true
          type: string
        teams_app_id:
          nullable: true
          type: string
        teams_service_url:
          nullable: true
          type: string
        teams_tenant_id:
          nullable: true
          type: string
        updated_at:
          format: date-time
          type: string
        workflow_bucket:
          allOf:
          - $ref: '#/components/schemas/WorkflowBucket'
          nullable: true
      required:
      - id
      - name
      - created_at
      - updated_at
      type: object
    JobStats:
      properties:
        job_count:
          format: int64
          type: integer
        period:
          format: date-time
          type: string
      required:
      - period
      - job_count
      type: object
    TokenResponse:
      properties:
        permissions:
          items:
            $ref: '#/components/schemas/Permission'
          type: array
        refresh_token:
          type: string
        session_expires_at:
          type: string
        session_token:
          type: string
      required:
      - permissions
      - session_token
      - refresh_token
      - session_expires_at
      type: object
    DatasetId:
      format: uuid
      type: string
    UpdateSeatsOverrideRequest:
      properties:
        seats_override:
          format: int32
          nullable: true
          type: integer
        team_id:
          $ref: '#/components/schemas/TeamId'
      required:
      - team_id
      type: object
    AdminAddMemberResponse:
      properties:
        membership:
          $ref: '#/components/schemas/Membership'
      required:
      - membership
      type: object
    GrantCreditsResponse:
      properties:
        amount:
          format: int64
          type: integer
        grant_id:
          type: string
        team_id:
          $ref: '#/components/schemas/TeamId'
      required:
      - grant_id
      - amount
      - team_id
      type: object
    PDFIngestor:
      additionalProperties: false
      description: Ingest all pages of a PDF and process them independently.
      properties:
        page:
          format: int32
          minimum: 0
          nullable: true
          type: integer
        path:
          type: string
      required:
      - path
      type: object
    LLMEntity:
      additionalProperties: false
      properties:
        id:
          minimum: 0
          type: integer
        properties:
          additionalProperties:
            $ref: '#/components/schemas/BasicPropValue'
          type: object
        type:
          type: string
      required:
      - id
      - type
      - properties
      type: object
    JobTypeCount:
      properties:
        count:
          format: int64
          type: integer
        job_type:
          type: string
      required:
      - job_type
      - count
      type: object
    TeamRole:
      enum:
      - read_only
      - member
      - admin
      - owner
      type: string
    CancelSubscriptionResponse:
      properties:
        canceled:
          type: boolean
        team_id:
          $ref: '#/components/schemas/TeamId'
      required:
      - team_id
      - canceled
      type: object
    LinkChatToFunctionalTestRequest:
      properties:
        chat_session_id:
          $ref: '#/components/schemas/ChatSessionId'
        functional_test_id:
          $ref: '#/components/schemas/FunctionalTestId'
        results:
          additionalProperties: true
          type: object
          x-stainless-empty-object: true
        sample_name:
          type: string
      required:
      - chat_session_id
      - functional_test_id
      - sample_name
      - results
      type: object
    FunctionalTest:
      properties:
        created_at:
          format: date-time
          type: string
        created_by:
          $ref: '#/components/schemas/UserId'
        id:
          $ref: '#/components/schemas/FunctionalTestId'
        model_override:
          nullable: true
          type: string
        prompt_override:
          nullable: true
          type: string
      required:
      - id
      - created_at
      - created_by
      type: object
    UserJobCount:
      properties:
        email:
          type: string
        queued:
          format: int64
          type: integer
        running:
          format: int64
          type: integer
        user_id:
          type: string
      required:
      - user_id
      - email
      - running
      - queued
      type: object
    Sandbox:
      properties:
        api_url:
          nullable: true
          type: string
        chat_session_id:
          allOf:
          - $ref: '#/components/schemas/ChatSessionId'
          nullable: true
        created_at:
          format: date-time
          type: string
        exploration_run_id:
          allOf:
          - $ref: '#/components/schemas/ExplorationRunId'
          nullable: true
        id:
          $ref: '#/components/schemas/SandboxId'
        latest_node:
          allOf:
          - $ref: '#/components/schemas/WorkflowSessionNodeId'
          nullable: true
        provider:
          $ref: '#/components/schemas/SandboxProvider'
        provider_id:
          type: string
        resumed_at:
          format: date-time
          nullable: true
          type: string
        session_id:
          allOf:
          - $ref: '#/components/schemas/UserSessionId'
          nullable: true
        status:
          $ref: '#/components/schemas/SandboxStatus'
        team_id:
          $ref: '#/components/schemas/TeamId'
        tunnel_url:
          nullable: true
          type: string
        updated_at:
          format: date-time
          type: string
      required:
      - id
      - team_id
      - provider_id
      - status
      - created_at
      - updated_at
      - provider
      type: object
    TeamVisibility:
      enum:
      - Team
      - Private
      type: string
    ConnectorId:
      format: uuid
      type: string
    BatchCreateCredentialFieldsRequest:
      properties:
        fields:
          items:
            $ref: '#/components/schemas/CreateConnectorCredentialFieldRequest'
          type: array
      required:
      - fields
      type: object
    FunctionalTestResultsResponse:
      properties:
        functional_test_id:
          allOf:
          - $ref: '#/components/schemas/FunctionalTestId'
          nullable: true
        results:
          items:
            $ref: '#/components/schemas/FunctionalTestResult'
          type: array
        sample_name:
          nullable: true
          type: string
      required:
      - results
      type: object
    AdminDeleteJobsRequest:
      properties:
        job_ids:
          items:
            $ref: '#/components/schemas/JobId'
          type: array
      required:
      - job_ids
      type: object
    KillByUserResponse:
      properties:
        killed_jobs:
          minimum: 0
          type: integer
      required:
      - killed_jobs
      type: object
    TimeBucket:
      enum:
      - Second
      - Minute
      - Hour
      - Day
      - Week
      - Month
      - Quarter
      - Year
      - Decade
      type: string
    MembershipId:
      format: uuid
      type: string
    AdminDeleteJobsResponse:
      properties:
        deleted_jobs:
          minimum: 0
          type: integer
      required:
      - deleted_jobs
      type: object
    UpdateChatTemplate:
      properties:
        description:
          nullable: true
          type: string
        display_order:
          format: int32
          nullable: true
          type: integer
        image_url:
          nullable: true
          type: string
        is_active:
          nullable: true
          type: boolean
        questions:
          items:
            $ref: '#/components/schemas/TemplateQuestion'
          nullable: true
          type: array
        title:
          nullable: true
          type: string
        updated_by:
          allOf:
          - $ref: '#/components/schemas/UserId'
          nullable: true
      type: object
    ConnectorCatalog:
      properties:
        categories:
          items:
            nullable: true
            type: string
          type: array
        created_at:
          format: date-time
          type: string
        description:
          nullable: true
          type: string
        enterprise_only:
          type: boolean
        id:
          $ref: '#/components/schemas/ConnectorCatalogId'
        name:
          type: string
        onboarding_priority:
          format: int32
          nullable: true
          type: integer
        priority:
          format: int32
          nullable: true
          type: integer
        slug:
          type: string
        updated_at:
          format: date-time
          type: string
      required:
      - id
      - slug
      - name
      - categories
      - created_at
      - updated_at
      - enterprise_only
      type: object
    JobType:
      enum:
      - Web
      - Pdf
      - Derive
      - Scrape
      - Match
      - ConnectorExplore
      - DatahubIngestion
      type: string
    LLMKnowledgeGraph:
      additionalProperties: false
      description: 'Knowledge graph info structured to deserialize and display

        in the same format that the LLM outputs.

        Also the first representation of an LLM output in the pipeline from raw tool output to being merged into a DB'
      properties:
        entities:
          items:
            $ref: '#/components/schemas/LLMEntity'
          type: array
        relationships:
          items:
            $ref: '#/components/schemas/LLMRelationship'
          type: array
      required:
      - entities
      type: object
    UserListResponse:
      allOf:
      - $ref: '#/components/schemas/User'
      - properties:
          memberships:
            items:
              $ref: '#/components/schemas/UserMembershipInfo'
            type: array
        required:
        - memberships
        type: object
    ChatTemplate:
      properties:
        chat_session_id:
          $ref: '#/components/schemas/ChatSessionId'
        created_at:
          format: date-time
          type: string
        created_by:
          $ref: '#/components/schemas/UserId'
        description:
          type: string
        display_order:
          format: int32
          type: integer
        id:
          $ref: '#/components/schemas/ChatTemplateId'
        image_url:
          type: string
        is_active:
          type: boolean
        questions:
          items:
            $ref: '#/components/schemas/TemplateQuestion'
          type: array
        title:
          type: string
        updated_at:
          format: date-time
          type: string
        updated_by:
          $ref: '#/components/schemas/UserId'
      required:
      - id
      - chat_session_id
      - title
      - description
      - image_url
      - display_order
      - is_active
      - created_by
      - updated_by
      - created_at
      - updated_at
      - questions
      type: object
    Membership:
      description: Contains membership information and API token value
      properties:
        created_at:
          format: date-time
          type: string
        id:
          $ref: '#/components/schemas/MembershipId'
        invitation_expires_at:
          format: date-time
          nullable: true
          type: string
        invitation_token:
          format: uuid
          nullable: true
          type: string
        invited_at:
          format: date-time
          nullable: true
          type: string
        invited_by_user_id:
          allOf:
          - $ref: '#/components/schemas/UserId'
          nullable: true
        invitee_email:
          nullable: true
          type: string
        pending:
          type: boolean
        role:
          $ref: '#/components/schemas/TeamRole'
        team_id:
          $ref: '#/components/schemas/TeamId'
        user_id:
          allOf:
          - $ref: '#/components/schemas/UserId'
          nullable: true
        value:
          format: binary
          type: string
      required:
      - id
      - value
      - created_at
      - team_id
      - role
      - pending
      type: object
    WorkflowBucket:
      properties:
        bucket_url:
          type: string
        gcp_credentials_json:
          nullable: true
          type: string
      required:
      - bucket_url
      type: object
    RequiredProperty:
      additionalProperties: false
      properties:
        property_names:
          description: If there are multiple properties, it can match just one of them
          items:
            type: string
          type: array
        table_name:
          description: The table name of the entity to update
          type: string
      required:
      - table_name
      - property_names
      type: object
    BasicPropValue:
      oneOf:
      - type: string
      - format: int64
        type: integer
      - type: boolean
      - format: double
        type: number
    CreateConnectorAuthMethodScopeRequest:
      properties:
        connector_auth_method_id:
          $ref: '#/components/schemas/ConnectorAuthMethodId'
        is_recommended:
          type: boolean
        is_required:
          type: boolean
        query_parameter:
          type: string
        scope_value:
          type: string
      required:
      - connector_auth_method_id
      - scope_value
      type: object
    BatchCreateScopesRequest:
      properties:
        scopes:
          items:
            $ref: '#/components/schemas/CreateConnectorAuthMethodScopeRequest'
          type: array
      required:
      - scopes
      type: object
    SubscriptionTier:
      description: Represents the different subscription tiers available
      enum:
      - free
      - free_trial
      - pro
      - team
      - enterprise
      type: string
    CreditGrant:
      properties:
        amount:
          format: int64
          type: integer
        amount_remaining:
          format: int64
          type: integer
        created_at:
          format: date-time
          type: string
        expires_at:
          format: date-time
          nullable: true
          type: string
        id:
          $ref: '#/components/schemas/CreditGrantId'
        source_ref:
          nullable: true
          type: string
        source_type:
          type: string
        starts_at:
          format: date-time
          nullable: true
          type: string
        stripe_event_id:
          allOf:
          - $ref: '#/components/schemas/StripeEventId'
          nullable: true
        team_id:
          $ref: '#/components/schemas/TeamId'
        updated_at:
          format: date-time
          type: string
      required:
      - id
      - team_id
      - amount
      - amount_remaining
      - source_type
      - created_at
      - updated_at
      type: object
    UserParams:
      properties:
        credit_count:
          minimum: 0
          nullable: true
          type: integer
        email:
          nullable: true
          type: string
        feature_flags:
          items:
            $ref: '#/components/schemas/FeatureFlag'
          type: array
        full_name:
          nullable: true
          type: string
        is_admin:
          type: boolean
        permissions:
          items:
            $ref: '#/components/schemas/Permission'
          type: array
        test:
          type: boolean
      type: object
    ConnectorSchemaId:
      format: uuid
      type: string
    ChatSessionId:
      format: uuid
      type: string
    KillByUserRequest:
      properties:
        user_id:
          $ref: '#/components/schemas/UserId'
      required:
      - user_id
      type: object
    FeatureFlag:
      enum:
      - functional_test
      - pdf_parsing
      - boredm_construction_model
      - generic_suspicious_queue
      - new_use_case_preview
      - bedrock_codegen
      - cerebras_codegen
      - gemini25pro
      - claude_sonnet4
      - allow_job_deletion
      - none
      type: string
    SandboxProvider:
      enum:
      - modal
      - daytona
      type: string
    AdminAddMemberRequest:
      properties:
        email:
          type: string
        role:
          $ref: '#/components/schemas/TeamRole'
        team_id:
          $ref: '#/components/schemas/TeamId'
      required:
      - team_id
      - email
      - role
      type: object
    ConnectorCredentialFieldId:
      format: uuid
      type: string
    SandboxId:
      format: uuid
      type: string
    BatchCreateScopesResponse:
      properties:
        scopes:
          items:
            $ref: '#/components/schemas/ConnectorAuthMethodScope'
          type: array
      required:
      - scopes
      type: object
    DaytonaCredentials:
      properties:
        api_key:
          nullable: true
          type: string
        api_url:
          nullable: true
          type: string
      type: object
    UserType:
      enum:
      - admin
      - public
      - end_user
      type: string
    ComparisonStrategy:
      enum:
      - Default
      - EnforceUniqueness
      type: string
    ConnectorAuthType:
      enum:
      - credentials
      - oauth_nango
      type: string
    ChatTemplateId:
      format: uuid
      type: string
    UpdateJobConcurrencyLimits:
      properties:
        max_connector_explore_jobs:
          format: int32
          nullable: true
          type: integer
        max_derive_jobs:
          format: int32
          nullable: true
          type: integer
        max_match_jobs:
          format: int32
          nullable: true
          type: integer
        max_pdf_jobs:
          format: int32
          nullable: true
          type: integer
        max_scrape_jobs:
          format: int32
          nullable: true
          type: integer
        max_total_jobs:
          format: int32
          nullable: true
          type: integer
        max_web_jobs:
          format: int32
          nullable: true
          type: integer
      type: object
    LLMRelationship:
      additionalProperties: false
      properties:
        properties:
          additionalProperties:
            $ref: '#/components/schemas/BasicPropValue'
          type: object
        source:
          minimum: 0
          type: integer
        target:
          minimum: 0
          type: integer
        type:
          type: string
      required:
      - type
      - source
      - target
      type: object
    CreateConnectorAuthMethodRequest:
      properties:
        auth_type:
          $ref: '#/components/schemas/ConnectorAuthType'
        connector_catalog_id:
          $ref: '#/components/schemas/ConnectorCatalogId'
        is_active:
          type: boolean
        label:
          nullable: true
          type: string
        nango_integration_key:
          nullable: true
          type: string
        priority:
          format: int32
          type: integer
      required:
      - connector_catalog_id
      - auth_type
      - is_active
      - priority
      type: object
    User:
      properties:
        apollo_data:
          nullable: true
        company_description:
          nullable: true
          type: string
        company_name:
          nullable: true
          type: string
        completed_onboarding:
          type: boolean
        cost_confirmation_threshold:
          description: Cost confirmation threshold in credits (thousandth of a cent).
          format: int64
          nullable: true
          type: integer
        created_at:
          format: date-time
          type: string
        cufinder_data:
          nullable: true
        email:
          type: string
        feature_flags:
          items:
            allOf:
            - $ref: '#/components/schemas/FeatureFlag'
            nullable: true
          type: array
        feature_overrides:
          additionalProperties: true
          type: object
          x-stainless-empty-object: true
        full_name:
          type: string
        id:
          $ref: '#/components/schemas/UserId'
        job_title:
          nullable: true
          type: string
        last_activity:
          format: date-time
          nullable: true
          type: string
        last_selected_team_id:
          allOf:
          - $ref: '#/components/schemas/TeamId'
          nullable: true
        linkedin_url:
          nullable: true
          type: string
        notify_for_interaction:
          type: boolean
        permissions:
          items:
            allOf:
            - $ref: '#/components/schemas/Permission'
            nullable: true
          type: array
        slack_user_id:
          nullable: true
          type: string
        slack_username:
          nullable: true
          type: string
        survey_completed_at:
          format: date-time
          nullable: true
          type: string
        survey_response:
          nullable: true
        teams_user_id:
          nullable: true
          type: string
        teams_user_name:
          nullable: true
          type: string
        updated_at:
          format: date-time
          type: string
        user_type:
          $ref: '#/components/schemas/UserType'
      required:
      - id
      - email
      - feature_flags
      - permissions
      - user_type
      - created_at
      - updated_at
      - full_name
      - feature_overrides
      - completed_onboarding
      - notify_for_interaction
      type: object
    GrantCreditsRequest:
      properties:
        amount:
          format: int64
          type: integer
        expires_at:
          format: date-time
          nullable: true
          type: string
        source_ref:
          nullable: true
          type: string
        source_type:
          type: string
        starts_at:
          format: date-time
          nullable: true
          type: string
        team_id:
          $ref: '#/components/schemas/TeamId'
      required:
      - team_id
      - amount
      - source_type
      type: object
    TeamSubscriptionInfo:
      properties:
        has_active_subscription:
          type: boolean
        is_trial:
          type: boolean
        remaining_credits:
          format: int64
          type: integer
        subscription_tier:
          $ref: '#/components/schemas/SubscriptionTier'
        trial_expires_at:
          format: date-time
          nullable: true
          type: string
      required:
      - subscription_tier
      - is_trial
      - has_active_subscription
      - remaining_credits
      type: object
    Connector:
      properties:
        connector_category:
          allOf:
          - $ref: '#/components/schemas/ConnectorCategory'
          nullable: true
        created_at:
          format: date-time
          type: string
        datahub_ingestion_type:
          nullable: true
          type: string
        datahub_secret_map:
          allOf:
          - $ref: '#/components/schemas/DatahubSecretMap'
          nullable: true
        datahub_urn:
          nullable: true
          type: string
        deleted_at:
          format: date-time
          nullable: true
          type: string
        description:
          nullable: true
          type: string
        id:
          $ref: '#/components/schemas/ConnectorId'
        known_connector_type:
          type: string
        name:
          type: string
        nango_connection_id:
          nullable: true
          type: string
        oauth_scopes:
          items:
            nullable: true
            type: string
          nullable: true
          type: array
        owner_user_id:
          $ref: '#/components/schemas/UserId'
        refresh_cron_schedule:
          nullable: true
          type: string
        refresh_next_run_at:
          format: date-time
          nullable: true
          type: string
        team_id:
          $ref: '#/components/schemas/TeamId'
        team_visibility:
          $ref: '#/components/schemas/TeamVisibility'
        updated_at:
          format: date-time
          type: string
        usage_snippet_override:
          nullable: true
          type: string
      required:
      - id
      - name
      - created_at
      - updated_at
      - known_connector_type
      - team_id
      - team_visibility
      - owner_user_id
      type: object
    JobId:
      format: uuid
      type: string
    ImpersonateRequest:
      properties:
        membership_id:
          $ref: '#/components/schemas/MembershipId'
      required:
      - membership_id
      type: object
    CreateFunctionalTestRequest:
      properties:
        model_override:
          nullable: true
          type: string
        prompt_override:
          nullable: true
          type: string
        team_id:
          $ref: '#/components/schemas/TeamId'
      required:
      - team_id
      type: object
    ConnectorCredentialField:
      properties:
        auth_method_id:
          $ref: '#/components/schemas/ConnectorAuthMethodId'
        created_at:
          format: date-time
          type: string
        default_value:
          nullable: true
          type: string
        description:
          nullable: true
          type: string
        display_order:
          format: int32
          type: integer
        field_type:
          type: string
        id:
          $ref: '#/components/schemas/ConnectorCredentialFieldId'
        is_optional:
          type: boolean
        label:
          nullable: true
          type: string
        name:
          type: string
        options:
          nullable: true
        updated_at:
          format: date-time
          type: string
      required:
      - id
      - auth_method_id
      - name
      - is_optional
      - field_type
      - display_order
      - created_at
      - updated_at
      type: object
    UpdateFunctionalTestResultsRequest:
      properties:
        chat_session_id:
          $ref: '#/components/schemas/ChatSessionId'
        functional_test_id:
          $ref: '#/components/schemas/FunctionalTestId'
        results:
          additionalProperties: true
          type: object
          x-stainless-empty-object: true
        sample_name:
          type: string
      required:
      - chat_session_id
      - functional_test_id
      - sample_name
      - results
      type: object
    JobConcurrencyLimits:
      properties:
        id:
          format: int32
          type: integer
        max_connector_explore_jobs:
          format: int32
          nullable: true
          type: integer
        max_derive_jobs:
          format: int32
          nullable: true
          type: integer
        max_match_jobs:
          format: int32
          nullable: true
          type: integer
        max_pdf_jobs:
          format: int32
          nullable: true
          type: integer
        max_scrape_jobs:
          format: int32
          nullable: true
          type: integer
        max_total_jobs:
          format: int32
          nullable: true
          type: integer
        max_web_jobs:
          format: int32
          nullable: true
          type: integer
        updated_at:
          format: date-time
          type: string
      required:
      - id
      - updated_at
      type: object
    ConnectorCategory:
      enum:
      - RelationalDatabase
      - ApiTabular
      type: string
    ScrapePageInput:
      properties:
        batch_scrape:
          type: boolean
        url_property_name:
          type: string
        use_markdown:
          type: boolean
      required:
      - url_property_name
      - batch_scrape
      - use_markdown
      type: object
    UserMembershipInfo:
      properties:
        membership_id:
          $ref: '#/components/schemas/MembershipId'
        role:
          $ref: '#/components/schemas/TeamRole'
        team_id:
          $ref: '#/components/schemas/TeamId'
        team_name:
          type: string
      required:
      - membership_id
      - team_id
      - team_name
      - role
      type: object
    TeamMember:
      properties:
        created_at:
          format: date-time
          type: string
        email:
          type: string
        pending:
          type: boolean
        role:
          $ref: '#/components/schemas/TeamRole'
        team_id:
          $ref: '#/components/schemas/TeamId'
        user_id:
          allOf:
          - $ref: '#/components/schemas/UserId'
          nullable: true
      required:
      - team_id
      - role
      - created_at
      - email
      - pending
      type: object
    StripeEventId:
      format: uuid
      type: string
    TemplateQuestion:
      properties:
        options:
          items:
            type: string
          nullable: true
          type: array
        prompt:
          type: string
      required:
      - prompt
      type: object
    RelationshipMergeStrategy:
      oneOf:
      - $ref: '#/components/schemas/RelationshipMergeProbability'
    ExplorationPhaseId:
      description: 'Identifies the phase of connector exploration


        This enum is used to track which phase of exploration a chat session belongs to.

        It''s stored as JSONB in the database to allow for flexible phase identification.'
      discriminator:
        propertyName: type
      oneOf:
      - description: 'First phase: discovering all databases in the connector'
        properties:
          connector_id:
            $ref: '#/components/schemas/ConnectorId'
          type:
            enum:
            - discover_databases
            type: string
        required:
        - connector_id
        - type
        type: object
      - description: 'Second phase: discovering all schemas in a database'
        properties:
          database_id:
            $ref: '#/components/schemas/ConnectorDatabaseId'
          database_name:
            type: string
          type:
            enum:
            - discover_schemas
            type: string
        required:
        - database_id
        - database_name
        - type
        type: object
      - description: 'Third phase: discovering all tables in a schema'
        properties:
          schema_id:
            $ref: '#/components/schemas/ConnectorSchemaId'
          schema_name:
            type: string
          type:
            enum:
            - discover_tables
            type: string
        required:
        - schema_id
        - schema_name
        - type
        type: object
      - description: 'Fourth phase: discovering columns for a specific table'
        properties:
          table_id:
            $ref: '#/components/schemas/ConnectorTableId'
          table_name:
            type: string
          type:
            enum:
            - discover_columns
            type: string
        required:
        - table_id
        - table_name
        - type
        type: object
      - description: 'Initial phase: discovering all API resources'
        properties:
          connector_id:
            $ref: '#/components/schemas/ConnectorId'
          type:
            enum:
            - discover_api_resources
            type: string
        required:
        - connector_id
        - type
        type: object
      - description: 'Second phase: discovering fields for a specific API resource'
        properties:
          resource_name:
            type: string
          table_id:
            $ref: '#/components/schemas/ConnectorTableId'
          type:
            enum:
            - discover_api_fields
            type: string
        required:
        - table_id
        - resource_name
        - type
        type: object
    WebSearch:
      properties:
        banned_domains:
          items:
            type: string
          type: array
        starting_searches:
          items:
            type: string
          type: array
        starting_urls:
          items:
            type: string
          type: array
      type: object
    CreateConnectorCatalogRequest:
      properties:
        categories:
          items:
            type: string
          type: array
        description:
          nullable: true
          type: string
        enterprise_only:
          type: boolean
        name:
          type: string
        onboarding_priority:
          format: int32
          nullable: true
          type: integer
        priority:
          format: int32
          nullable: true
          type: integer
        slug:
          type: string
      required:
      - slug
      - name
      type: object
    AdminListConnectorsResponse:
      properties:
        connectors:
          items:
            $ref: '#/components/schemas/Connector'
          type: array
      required:
      - connectors
      type: object
    Permission:
      enum:
      - labeler
      - qa_labeler
      - debug
      - human_llm
      - none
      type: string
    ExtendTrialResponse:
      properties:
        grant_id:
          type: string
        new_expires_at:
          format: date-time
          type: string
        team_id:
          $ref: '#/components/schemas/TeamId'
      required:
      - team_id
      - new_expires_at
      - grant_id
      type: object
    AdminDatasetReturn:
      allOf:
      - $ref: '#/components/schemas/DatasetDescriptor'
      - properties:
          created_timestamp:
            format: date-time
            type: string
          id:
            $ref: '#/components/schemas/DatasetId'
          user_id:
            type: string
        required:
        - id
        - created_timestamp
        - user_id
        type: object
    GetUserStatsParams:
      properties:
        bucket:
          $ref: '#/components/schemas/TimeBucket'
        end_date:
          format: date-time
          type: string
        start_date:
          format: date-time
          type: string
        user_email:
          nullable: true
          type: string
        user_token:
          nullable: true
          type: string
      type: object
    ExpireGrantsResponse:
      properties:
        expired_count:
          format: int64
          type: integer
        team_id:
          $ref: '#/components/schemas/TeamId'
      required:
      - team_id
      - expired_count
      type: object
    DatahubIngestionInput:
      properties:
        connector_id:
          $ref: '#/components/schemas/ConnectorId'
        exploration_run_id:
          $ref: '#/components/schemas/ExplorationRunId'
        only_do_datahub:
          type: boolean
      required:
      - connector_id
      - exploration_run_id
      - only_do_datahub
      type: object
    ConnectorCatalogId:
      format: uuid
      type: string
    TeamId:
      format: uuid
      type: string
    CreateConnectorCredentialFieldRequest:
      properties:
        auth_method_id:
          $ref: '#/components/schemas/ConnectorAuthMethodId'
        default_value:
          nullable: true
          type: string
        description:
          nullable: true
          type: string
        display_order:
          format: int32
          type: integer
        field_type:
          type: string
        is_optional:
          type: boolean
        label:
          nullable: true
          type: string
        name:
          type: string
        options:
          nullable: true
      required:
      - auth_method_id
      - name
      - is_optional
      - field_type
      - display_order
      type: object
    CloneConnectorsRequest:
      properties:
        connectors:
          items:
            $ref: '#/components/schemas/CloneConnectorItem'
          type: array
        source_membership_id:
          $ref: '#/components/schemas/MembershipId'
        source_team_id:
          $ref: '#/components/schemas/TeamId'
        target_team_id:
          $ref: '#/components/schemas/TeamId'
      required:
      - source_team_id
      - source_membership_id
      - target_team_id
      - connectors
      type: object
    EntityId:
      format: uuid
      type: string
    PropertyType:
      oneOf:
      - enum:
        - String
        type: string
      - enum:
        - Boolean
        type: string
      - properties:
          Enum:
            items:
              type: string
            type: array
        required:
        - Enum
        type: object
      - enum:
        - Integer
        type: string
      - enum:
        - Float
        type: string
      - enum:
        - Date
        type: string
      - enum:
        - URL
        type: string
      - enum:
        - Money
        type: string
      - enum:
        - Image
        type: string
      - enum:
        - PersonName
        type: string
      - enum:
        - Address
        type: string
    UpdateConnectorAuthMethodRequest:
      properties:
        is_active:
          nullable: true
          type: boolean
        label:
          nullable: true
          type: string
        priority:
          format: int32
          nullable: true
          type: integer
      type: object
    UpdateConnectorAuthMethodScope:
      properties:
        is_recommended:
          nullable: true
          type: boolean
        is_required:
          nullable: true
          type: boolean
        query_parameter:
          nullable: true
          type: string
        scope_value:
          nullable: true
          type: string
      type: object
    RelationshipMergeProbability:
      properties:
        source_cardinality_given_target_match:
          description: 'Describes the expected cardinality of the source table when a match is found in the target table


            For example, if we have a source company and a target funding round, we expect the source company

            to appear in multiple funding rounds, but not *too* many.

            So if we have a funding round match, the expected number of unique companies is relatively small.

            This is an estimate of that number.'
          format: int64
          minimum: 0
          nullable: true
          type: integer
        target_cardinality_given_source_match:
          description: 'Describes the expected cardinality of the target table when a match is found in the source table


            For example, if we have a source company and a target funding round, we usually expect

            some number of funding rounds to be associated with a single company but not *too* many.

            So if we have a company match, the expected number of unique funding rounds is relatively small.

            This is an estimate of that number.'
          format: int64
          minimum: 0
          nullable: true
          type: integer
      type: object
    WorkflowSessionNodeId:
      format: uuid
      type: string
    PendingNangoIntegration:
      properties:
        display_name:
          nullable: true
          type: string
        logo_url:
          nullable: true
          type: string
        provider:
          type: string
        unique_key:
          type: string
      required:
      - unique_key
      - provider
      type: object
    RunningJobStats:
      properties:
        by_type:
          items:
            $ref: '#/components/schemas/JobTypeCount'
          type: array
        by_user:
          items:
            $ref: '#/components/schemas/UserJobCount'
          type: array
        completed_last_hour:
          format: int64
          type: integer
        failed_last_hour:
          format: int64
          type: integer
        total_queued:
          format: int64
          type: integer
        total_running:
          format: int64
          type: integer
      required:
      - total_running
      - total_queued
      - completed_last_hour
      - failed_last_hour
      - by_type
      - by_user
      type: object
    ExplorationStrategy:
      enum:
      - full
      - diff
      type: string
    CreateJobSandboxRequest:
      properties:
        structify_session_token:
          type: string
      required:
      - structify_session_token
      type: object
    ExpireGrantsRequest:
      properties:
        source_type:
          type: string
        team_id:
          $ref: '#/components/schemas/TeamId'
      required:
      - team_id
      - source_type
      type: object
    ConnectorDatabaseId:
      format: uuid
      type: string
    ConnectorAuthMethodId:
      format: uuid
      type: string
    UploadConnectorLogoResponse:
      properties:
        slug:
          type: string
      required:
      - slug
      type: object
    PaginatedTeamListResponse:
      properties:
        items:
          items:
            $ref: '#/components/schemas/TeamListResponse'
          type: array
        total_count:
          format: int64
          type: integer
      required:
      - items
      - total_count
      type: object
    AdminRemoveMemberResponse:
      properties:
        success:
          type: boolean
      required:
      - success
      type: object
    FlushResponse:
      properties:
        message:
          type: string
        success:
          type: boolean
      required:
      - success
      - message
      type: object
    SaveRequirement:
      description: It's an OR statement across these.
      oneOf:
      - $ref: '#/components/schemas/RequiredRelationship'
      - $ref: '#/components/schemas/RequiredEntity'
      - $ref: '#/components/schemas/RequiredProperty'
    AdminRemoveMemberRequest:
      properties:
        team_id:
          $ref: '#/components/schemas/TeamId'
        user_id:
          $ref: '#/components/schemas/UserId'
      required:
      - team_id
      - user_id
      type: object
    ReportCriticalRequest:
      properties:
        message:
          type: string
      required:
      - message
      type: object
    ConnectorAuthMethodScopeId:
      format: uuid
      type: string
    ListScopesResponse:
      properties:
        scopes:
          items:
            $ref: '#/components/schemas/ConnectorAuthMethodScope'
          type: array
      required:
      - scopes
      type: object
    ScrapePageUrlInput:
      properties:
        batch_scrape:
          type: boolean
        url:
          type: string
        use_markdown:
          type: boolean
      required:
      - url
      - batch_scrape
      - use_markdown
      type: object
    ExtendTrialRequest:
      properties:
        new_expires_at:
          format: date-time
          type: string
        team_id:
          $ref: '#/components/schemas/TeamId'
      required:
      - team_id
      - new_expires_at
      type: object
    DatasetDescriptor:
      additionalProperties: false
      description: 'A dataset is where you put multiple referential schemas.


        A dataset is a complete namespace where all references between schemas

        are held within the dataset.'
      properties:
        description:
          type: string
        llm_override_field:
          nullable: true
          type: string
        name:
          type: string
        relationships:
          items:
            $ref: '#/components/schemas/RelationshipDescriptor'
          type: array
        tables:
          items:
            $ref: '#/components/schemas/TableDescriptor'
          type: array
      required:
      - name
      - description
      - tables
      - relationships
      type: object
    CancelSubscriptionRequest:
      properties:
        team_id:
          $ref: '#/components/schemas/TeamId'
      required:
      - team_id
      type: object
    CreditGrantId:
      format: uuid
      type: string
    RelationshipDescriptor:
      additionalProperties: false
      properties:
        description:
          type: string
        merge_strategy:
          allOf:
          - $ref: '#/components/schemas/RelationshipMergeStrategy'
          nullable: true
        name:
          type: string
        properties:
          items:
            $ref: '#/components/schemas/PropertyDescriptor'
          type: array
        source_table:
          type: string
        target_table:
          type: string
      required:
      - name
      - description
      - source_table
      - target_table
      type: object
    InputType:
      oneOf:
      - properties:
          Agent:
            $ref: '#/components/schemas/Input'
        required:
        - Agent
        type: object
      - properties:
          TransformationPrompt:
            type: string
        required:
        - TransformationPrompt
        type: object
      - properties:
          ScrapeFromUrlProperty:
            $ref: '#/components/schemas/ScrapePageInput'
        required:
        - ScrapeFromUrlProperty
        type: object
      - properties:
          ScrapeUrl:
            $ref: '#/components/schemas/ScrapePageUrlInput'
        required:
        - ScrapeUrl
        type: object
      - properties:
          DatahubIngestion:
            $ref: '#/components/schemas/DatahubIngestionInput'
        required:
        - DatahubIngestion
        type: object
      - properties:
          ConnectorExploration:
            $ref: '#/components/schemas/ConnectorExplorationInput'
        required:
        - ConnectorExploration
        type: object
    ExplorationRunId:
      format: uuid
      type: string
    RequiredRelationship:
      additionalProperties: false
      properties:
        relationship_name:
          type: string
      required:
      - relationship_name
      type: object
    ListJobsResponse:
      properties:
        created_at:
          format: date-time
          type: string
        dataset_id:
          allOf:
          - $ref: '#/components/schemas/DatasetId'
          nullable: true
        id:
          $ref: '#/components/schemas/JobId'
        job_type:
          $ref: '#/components/schemas/JobType'
        message:
          nullable: true
          type: string
        parameters:
          allOf:
          - $ref: '#/components/schemas/JobInput'
          nullable: true
        reason:
          nullable: true
          type: string
        run_started_time:
          format: date-time
          nullable: true
          type: string
        run_time_milliseconds:
          format: int64
          nullable: true
          type: integer
        status:
          $ref: '#/components/schemas/JobStatus'
        user_id:
          $ref: '#/components/schemas/UserId'
      required:
      - id
      - status
      - created_at
      - job_type
      - user_id
      type: object
    MergeConfig:
      description: The configuration for a probabilistic merge strategy
      properties:
        baseline_cardinality:
          description: 'The number of unique values that are expected to be present in the complete dataset


            This is used for merging to determine how significant a match is. (i.e. if there are

            only 2 possible values, a match gives less confidence than if there are 100)'
          format: int64
          minimum: 0
          type: integer
        comparison_strategy:
          $ref: '#/components/schemas/ComparisonStrategy'
        match_transfer_probability:
          description: 'The estimated probability that, given an entity match, the properties also match


            For a person''s full name, this would be quite high. For a person''s job title, it

            would be lower because people can have multiple job titles over time or at different

            companies at the same time.'
          format: float
          type: number
      required:
      - baseline_cardinality
      - match_transfer_probability
      type: object
    PropertyDescriptor:
      additionalProperties: false
      properties:
        description:
          type: string
        merge_strategy:
          $ref: '#/components/schemas/MergeStrategy'
        name:
          type: string
        prop_type:
          $ref: '#/components/schemas/PropertyType'
      required:
      - name
      - description
      type: object
    FunctionalTestListItem:
      properties:
        created_at:
          format: date-time
          type: string
        created_by:
          $ref: '#/components/schemas/UserId'
        created_by_email:
          type: string
        id:
          $ref: '#/components/schemas/FunctionalTestId'
        model_override:
          nullable: true
          type: string
        prompt_override:
          nullable: true
          type: string
      required:
      - id
      - created_at
      - created_by
      - created_by_email
      type: object
  securitySchemes:
    api_key:
      in: header
      name: api_key
      type: apiKey
    session_token:
      scheme: bearer
      type: http
