openapi: 3.2.0
info:
  contact:
    email: team@structify.ai
    name: Structify Team
  description: Every enterprise's data team.
  license:
    name: Discuss directly with founders for license.
    url: https://structify.ai
  title: Structify Teams API
  version: 0.1.0
servers:
- description: Production server
  url: https://api.structify.ai
- description: Local server
  url: http://localhost:8080
security:
- api_key: []
- session_token: []
tags:
- name: Teams
paths:
  /teams/files/{token}:
    get:
      operationId: download_teams_file
      parameters:
      - description: Signed download token for a Teams file.
        in: path
        name: token
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/octet-stream:
              schema:
                format: binary
                type: string
          description: Download Teams file.
        '404':
          description: File not found or token expired.
      tags:
      - Teams
      summary: Download teams file
      x-summary-source: derived
  /teams/messages:
    post:
      description: 'This endpoint receives activities from Teams when users message the bot.

        It handles message activities and invoke activities (for Adaptive Card actions).'
      operationId: teams_messages
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TeamsActivity'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamsEventResponse'
          description: Activity processed successfully
      summary: Handles Microsoft Teams Bot Framework webhook messages
      tags:
      - Teams
components:
  schemas:
    TeamsEventResponse:
      properties:
        message:
          type:
          - string
          - 'null'
        ok:
          type: boolean
      required:
      - ok
      type: object
    TeamsChannelAccount:
      properties:
        aadObjectId:
          type:
          - string
          - 'null'
        id:
          type: string
        name:
          type:
          - string
          - 'null'
      required:
      - id
      type: object
    TeamsAttachment:
      properties:
        content: {}
        contentType:
          type: string
        contentUrl:
          type:
          - string
          - 'null'
        name:
          type:
          - string
          - 'null'
      required:
      - contentType
      type: object
    TeamsActivityType:
      enum:
      - message
      - invoke
      - conversationUpdate
      - other
      type: string
    TeamsConversationAccount:
      properties:
        conversationType:
          type:
          - string
          - 'null'
        id:
          type: string
        isGroup:
          type:
          - boolean
          - 'null'
        name:
          type:
          - string
          - 'null'
        tenantId:
          type:
          - string
          - 'null'
      required:
      - id
      type: object
    TeamsActivity:
      properties:
        attachments:
          items:
            $ref: '#/components/schemas/TeamsAttachment'
          type:
          - array
          - 'null'
        channelId:
          type:
          - string
          - 'null'
        conversation:
          allOf:
          - $ref: '#/components/schemas/TeamsConversationAccount'
        from:
          allOf:
          - $ref: '#/components/schemas/TeamsChannelAccount'
        id:
          type:
          - string
          - 'null'
        membersAdded:
          items:
            $ref: '#/components/schemas/TeamsChannelAccount'
          type:
          - array
          - 'null'
        recipient:
          allOf:
          - $ref: '#/components/schemas/TeamsChannelAccount'
        replyToId:
          type:
          - string
          - 'null'
        serviceUrl:
          type:
          - string
          - 'null'
        text:
          type:
          - string
          - 'null'
        timestamp:
          type:
          - string
          - 'null'
        type:
          $ref: '#/components/schemas/TeamsActivityType'
        value: {}
      required:
      - type
      type: object
  securitySchemes:
    api_key:
      in: header
      name: api_key
      type: apiKey
    session_token:
      scheme: bearer
      type: http
