openapi: 3.2.0
info:
  contact:
    email: team@structify.ai
    name: Structify Team
  description: Every enterprise's data team.
  license:
    name: Discuss directly with founders for license.
    url: https://structify.ai
  title: Structify Source API
  version: 0.1.0
servers:
- description: Production server
  url: https://api.structify.ai
- description: Local server
  url: http://localhost:8080
security:
- api_key: []
- session_token: []
tags:
- name: Source
paths:
  /source/entity:
    delete:
      operationId: delete_source_entity
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteSourceEntityParams'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteSourceEntityResponse'
          description: Source entity deleted successfully
        '400':
          description: Bad request
        '404':
          description: Source entity not found
      tags:
      - Source
      summary: Delete source entity
      x-summary-source: derived
  /source/get_sources:
    get:
      operationId: source_get_sources
      parameters:
      - description: Entity ID to get sources for
        in: query
        name: id
        required: true
        schema:
          $ref: '#/components/schemas/EntityId'
      - description: Optional property name to filter sources by
        in: query
        name: property
        required: false
        schema:
          type:
          - string
          - 'null'
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Source'
                type: array
          description: Source Information
      summary: Get all sources for a given entity
      tags:
      - Source
  /source/relationship:
    delete:
      operationId: delete_source_relationship
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteSourceRelationshipParams'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteSourceRelationshipResponse'
          description: Source relationship deleted successfully
        '400':
          description: Bad request
        '404':
          description: Source relationship not found
      tags:
      - Source
      summary: Delete source relationship
      x-summary-source: derived
components:
  schemas:
    ScraperId:
      format: uuid
      type: string
    DeleteSourceEntityResponse:
      properties:
        message:
          description: Optional message about the deletion
          type: string
        success:
          description: Whether the deletion was successful
          type: boolean
      required:
      - success
      - message
      type: object
    Source:
      properties:
        created_at:
          format: date-time
          type: string
        id:
          $ref: '#/components/schemas/SourceId'
        is_summary:
          type: boolean
        link:
          allOf:
          - $ref: '#/components/schemas/SourceLink'
        location:
          allOf:
          - $ref: '#/components/schemas/SourceLocation'
        scraper_id:
          allOf:
          - $ref: '#/components/schemas/ScraperId'
        user_specified:
          type: boolean
      required:
      - id
      - user_specified
      - is_summary
      - created_at
      type: object
    DeleteSourceEntityParams:
      additionalProperties: false
      properties:
        source_entity_id:
          $ref: '#/components/schemas/SourceEntityId'
      required:
      - source_entity_id
      type: object
    SourceRelationshipId:
      format: uuid
      type: string
    SourceLocation:
      oneOf:
      - properties:
          Text:
            properties:
              byte_offset:
                minimum: 0
                type: integer
            required:
            - byte_offset
            type: object
        required:
        - Text
        type: object
      - properties:
          Visual:
            properties:
              x:
                minimum: 0
                type: integer
              y:
                minimum: 0
                type: integer
            required:
            - x
            - y
            type: object
        required:
        - Visual
        type: object
      - properties:
          Page:
            properties:
              page_number:
                format: int32
                minimum: 0
                type: integer
            required:
            - page_number
            type: object
        required:
        - Page
        type: object
    SourceLink:
      oneOf:
      - properties:
          Web:
            properties:
              url:
                type: string
            required:
            - url
            type: object
        required:
        - Web
        type: object
      - properties:
          Document:
            properties:
              name:
                type: string
            required:
            - name
            type: object
        required:
        - Document
        type: object
      - properties:
          SecFiling:
            properties:
              accession_number:
                type: string
              cik_number:
                type: string
            required:
            - accession_number
            - cik_number
            type: object
        required:
        - SecFiling
        type: object
    DeleteSourceRelationshipParams:
      additionalProperties: false
      properties:
        source_relationship_id:
          $ref: '#/components/schemas/SourceRelationshipId'
      required:
      - source_relationship_id
      type: object
    SourceEntityId:
      format: uuid
      type: string
    DeleteSourceRelationshipResponse:
      properties:
        message:
          description: Optional message about the deletion
          type: string
        success:
          description: Whether the deletion was successful
          type: boolean
      required:
      - success
      - message
      type: object
    EntityId:
      format: uuid
      type: string
    SourceId:
      format: uuid
      type: string
  securitySchemes:
    api_key:
      in: header
      name: api_key
      type: apiKey
    session_token:
      scheme: bearer
      type: http
