openapi: 3.2.0
info:
  contact:
    email: team@structify.ai
    name: Structify Team
  description: Every enterprise's data team.
  license:
    name: Discuss directly with founders for license.
    url: https://structify.ai
  title: Structify Connectors API
  version: 0.1.0
servers:
- description: Production server
  url: https://api.structify.ai
- description: Local server
  url: http://localhost:8080
security:
- api_key: []
- session_token: []
tags:
- name: Connectors
paths:
  /connector-type-snippets/{connector_type}:
    put:
      operationId: upsert_connector_type_snippet
      parameters:
      - description: Connector type identifier
        in: path
        name: connector_type
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpsertConnectorTypeSnippetRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorTypeSnippet'
          description: Connector type snippet created or updated
        '401':
          description: Unauthorized
      security:
      - api_key: []
      - session_token: []
      tags:
      - Connectors
      summary: Upsert connector type snippet
      x-summary-source: derived
  /connectors:
    get:
      operationId: list_connectors
      parameters:
      - in: query
        name: offset
        required: false
        schema:
          minimum: 0
          type: integer
      - in: query
        name: limit
        required: false
        schema:
          minimum: 0
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ConnectorWithSecrets'
                type: array
          description: List of connectors with their secrets for the team
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - user does not have access to team
      security:
      - api_key: []
      - session_token: []
      tags:
      - Connectors
      summary: List connectors
      x-summary-source: derived
    post:
      operationId: create_connector
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateConnectorRequest'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Connector'
          description: Connector created successfully
        '400':
          description: Invalid request data
        '401':
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden - user does not have access to team
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal server error
      security:
      - api_key: []
      - session_token: []
      tags:
      - Connectors
      summary: Create connector
      x-summary-source: derived
  /connectors/clarification-requests/{clarification_id}/resolve:
    patch:
      operationId: resolve_clarification
      parameters:
      - in: path
        name: clarification_id
        required: true
        schema:
          $ref: '#/components/schemas/ClarificationRequestId'
      responses:
        '200':
          description: Clarification marked as resolved
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - user does not have write access
        '404':
          description: Clarification request not found
      security:
      - api_key: []
      - session_token: []
      summary: Mark a clarification request as resolved
      tags:
      - Connectors
  /connectors/columns/{column_id}:
    patch:
      operationId: update_column
      parameters:
      - in: path
        name: column_id
        required: true
        schema:
          $ref: '#/components/schemas/ConnectorColumnId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateColumnRequest'
        required: true
      responses:
        '200':
          description: Column metadata updated successfully
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - user does not have write access
        '404':
          description: Column not found
      security:
      - api_key: []
      - session_token: []
      summary: Update column metadata (notes)
      tags:
      - Connectors
  /connectors/search-tables:
    get:
      operationId: search_tables
      parameters:
      - description: Search query string
        in: query
        name: query
        required: true
        schema:
          type: string
      - description: Team ID to scope table search
        in: query
        name: team_id
        required: true
        schema:
          $ref: '#/components/schemas/TeamId'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TableSearchResults'
          description: List of table mentions
        '401':
          description: Unauthorized
      security:
      - api_key: []
      - session_token: []
      tags:
      - Connectors
      summary: Search tables
      x-summary-source: derived
  /connectors/stores:
    get:
      operationId: list_connector_stores
      responses:
        '200':
          content:
            application/json:
              schema:
                additionalProperties:
                  $ref: '#/components/schemas/LlmInformationStore'
                type: object
          description: Map of connector ID to LLM information store for connectors that have stores
        '401':
          description: Unauthorized
      security:
      - api_key: []
      - session_token: []
      tags:
      - Connectors
      summary: List connector stores
      x-summary-source: derived
  /connectors/summaries:
    post:
      operationId: list_connector_summaries
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectorSummariesRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ConnectorSummary'
                type: array
          description: Connector summaries with logos
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Connector not found
      security:
      - api_key: []
      - session_token: []
      tags:
      - Connectors
      summary: List connector summaries
      x-summary-source: derived
  /connectors/tables/{table_id}:
    patch:
      operationId: update_table
      parameters:
      - in: path
        name: table_id
        required: true
        schema:
          $ref: '#/components/schemas/ConnectorTableId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateTableRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateTableResponse'
          description: Table metadata updated successfully
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - user does not have write access
        '404':
          description: Table not found
      security:
      - api_key: []
      - session_token: []
      summary: Update table metadata (description or notes)
      tags:
      - Connectors
  /connectors/tables/{table_id}/lineage:
    get:
      operationId: get_table_lineage
      parameters:
      - description: The table ID
        in: path
        name: table_id
        required: true
        schema:
          $ref: '#/components/schemas/ConnectorTableId'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TableLineageResponse'
          description: Table lineage information
        '404':
          description: Table not found
      security:
      - api_key: []
      - session_token: []
      tags:
      - Connectors
      summary: Get table lineage
      x-summary-source: derived
  /connectors/tables/{table_id}/path:
    get:
      operationId: get_connector_table_path
      parameters:
      - in: path
        name: table_id
        required: true
        schema:
          $ref: '#/components/schemas/ConnectorTableId'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorTablePathResponse'
          description: Table location details
        '404':
          description: Table not found
      security:
      - api_key: []
      - session_token: []
      tags:
      - Connectors
      summary: Get connector table path
      x-summary-source: derived
  /connectors/with-snippets:
    get:
      operationId: list_connectors_with_snippets
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ConnectorWithSnippets'
                type: array
          description: List of connectors with their usage snippets
        '401':
          description: Unauthorized
      security:
      - api_key: []
      - session_token: []
      tags:
      - Connectors
      summary: List connectors with snippets
      x-summary-source: derived
  /connectors/{connector_id}:
    delete:
      operationId: delete_connector
      parameters:
      - description: The connector ID
        in: path
        name: connector_id
        required: true
        schema:
          $ref: '#/components/schemas/ConnectorId'
      responses:
        '204':
          description: Connector deleted successfully
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - user does not have access to connector
        '404':
          description: Connector not found
      security:
      - api_key: []
      - session_token: []
      tags:
      - Connectors
      summary: Delete connector
      x-summary-source: derived
    get:
      operationId: get_connector
      parameters:
      - description: The connector ID
        in: path
        name: connector_id
        required: true
        schema:
          $ref: '#/components/schemas/ConnectorId'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorWithSecretsAndValues'
          description: Connector details
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - user does not have access to connector
        '404':
          description: Connector not found
      security:
      - api_key: []
      - session_token: []
      tags:
      - Connectors
      summary: Get connector
      x-summary-source: derived
    patch:
      operationId: update_connector
      parameters:
      - description: The connector ID
        in: path
        name: connector_id
        required: true
        schema:
          $ref: '#/components/schemas/ConnectorId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateConnectorRequest'
        required: true
      responses:
        '200':
          description: Connector updated successfully
        '400':
          description: Invalid request data
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Connector not found
      security:
      - api_key: []
      - session_token: []
      tags:
      - Connectors
      summary: Update connector
      x-summary-source: derived
  /connectors/{connector_id}/clarification-requests:
    get:
      operationId: get_connector_clarification_requests
      parameters:
      - description: The connector ID
        in: path
        name: connector_id
        required: true
        schema:
          $ref: '#/components/schemas/ConnectorId'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClarificationRequestsResponse'
          description: Clarification requests retrieved successfully
        '403':
          description: Forbidden - user does not have access to connector
        '404':
          description: Connector not found
      security:
      - api_key: []
      - session_token: []
      summary: Get all clarification requests for a connector
      tags:
      - Connectors
  /connectors/{connector_id}/explore:
    post:
      operationId: explore_connector
      parameters:
      - description: The connector ID
        in: path
        name: connector_id
        required: true
        schema:
          $ref: '#/components/schemas/ConnectorId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExploreConnectorRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Job'
          description: Exploration started successfully
        '400':
          description: Bad request - connector type not supported or table not found
        '403':
          description: Forbidden - user does not have access to connector
        '404':
          description: Connector not found
      security:
      - api_key: []
      - session_token: []
      tags:
      - Connectors
      summary: Explore connector
      x-summary-source: derived
  /connectors/{connector_id}/explore/active-run:
    get:
      operationId: get_active_exploration_run
      parameters:
      - description: The connector ID
        in: path
        name: connector_id
        required: true
        schema:
          $ref: '#/components/schemas/ConnectorId'
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ExplorationRun'
          description: Active exploration run retrieved successfully
        '403':
          description: Forbidden - user does not have access to connector
        '404':
          description: Connector not found
      security:
      - api_key: []
      - session_token: []
      tags:
      - Connectors
      summary: Get active exploration run
      x-summary-source: derived
  /connectors/{connector_id}/explore/chat:
    get:
      description: Optionally filter by run, database, schema, or table
      operationId: get_connector_explorer_chat
      parameters:
      - description: The connector ID
        in: path
        name: connector_id
        required: true
        schema:
          $ref: '#/components/schemas/ConnectorId'
      - in: query
        name: run_id
        required: false
        schema:
          allOf:
          - $ref: '#/components/schemas/ExplorationRunId'
      - in: query
        name: database_id
        required: false
        schema:
          allOf:
          - $ref: '#/components/schemas/ConnectorDatabaseId'
      - in: query
        name: schema_id
        required: false
        schema:
          allOf:
          - $ref: '#/components/schemas/ConnectorSchemaId'
      - in: query
        name: table_id
        required: false
        schema:
          allOf:
          - $ref: '#/components/schemas/ConnectorTableId'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExplorerChatResponse'
          description: Chats retrieved successfully
        '400':
          description: Bad request - invalid parameters
        '403':
          description: Forbidden - user does not have debug permission
        '404':
          description: Connector not found
      security:
      - api_key: []
      - session_token: []
      summary: Get chats from connector exploration (requires debug permission)
      tags:
      - Connectors
  /connectors/{connector_id}/explore/runs:
    get:
      operationId: get_connector_exploration_runs
      parameters:
      - description: The connector ID
        in: path
        name: connector_id
        required: true
        schema:
          $ref: '#/components/schemas/ConnectorId'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExplorationRunsResponse'
          description: Exploration runs retrieved successfully
        '403':
          description: Forbidden - user does not have debug permission
        '404':
          description: Connector not found
      security:
      - api_key: []
      - session_token: []
      summary: Get all exploration runs for a connector (requires debug permission)
      tags:
      - Connectors
  /connectors/{connector_id}/explore/runs/{run_id}/progress:
    get:
      operationId: get_exploration_run_progress
      parameters:
      - in: path
        name: connector_id
        required: true
        schema:
          $ref: '#/components/schemas/ConnectorId'
      - in: path
        name: run_id
        required: true
        schema:
          $ref: '#/components/schemas/ExplorationRunId'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExplorationProgress'
          description: Exploration progress retrieved successfully
        '403':
          description: Forbidden
        '404':
          description: Connector or run not found
      security:
      - api_key: []
      - session_token: []
      tags:
      - Connectors
      summary: Get exploration run progress
      x-summary-source: derived
  /connectors/{connector_id}/schema_object:
    delete:
      operationId: delete_connector_schema_object
      parameters:
      - description: The connector ID
        in: path
        name: connector_id
        required: true
        schema:
          $ref: '#/components/schemas/ConnectorId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteSchemaObjectRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteSchemaObjectResponse'
          description: Schema object deleted successfully
        '400':
          description: Bad request - invalid object specification
        '403':
          description: Forbidden - user does not have access to connector
        '404':
          description: Connector or object not found
      security:
      - api_key: []
      tags:
      - Connectors
      summary: Delete connector schema object
      x-summary-source: derived
    post:
      operationId: add_connector_schema_object
      parameters:
      - description: The connector ID
        in: path
        name: connector_id
        required: true
        schema:
          $ref: '#/components/schemas/ConnectorId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddSchemaObjectRequest'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddSchemaObjectResponse'
          description: Schema object created successfully
        '400':
          description: Bad request - invalid object specification
        '403':
          description: Forbidden - user does not have access to connector
        '404':
          description: Connector or parent object not found
      security:
      - api_key: []
      - session_token: []
      tags:
      - Connectors
      summary: Add connector schema object
      x-summary-source: derived
  /connectors/{connector_id}/secrets:
    post:
      operationId: create_connector_secret
      parameters:
      - in: path
        name: connector_id
        required: true
        schema:
          $ref: '#/components/schemas/ConnectorId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSecretRequest'
        required: true
      responses:
        '201':
          description: Secret created successfully
        '400':
          description: Invalid request data
        '401':
          description: Unauthorized
        '404':
          description: Connector not found
      security:
      - api_key: []
      - session_token: []
      tags:
      - Connectors
      summary: Create connector secret
      x-summary-source: derived
  /connectors/{connector_id}/secrets/{secret_name}:
    delete:
      operationId: delete_connector_secret
      parameters:
      - in: path
        name: connector_id
        required: true
        schema:
          $ref: '#/components/schemas/ConnectorId'
      - in: path
        name: secret_name
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Secret deleted successfully
        '401':
          description: Unauthorized
        '404':
          description: Connector or secret not found
      security:
      - api_key: []
      - session_token: []
      tags:
      - Connectors
      summary: Delete connector secret
      x-summary-source: derived
  /connectors/{connector_id}/store:
    get:
      operationId: get_connector_store
      parameters:
      - description: The connector ID
        in: path
        name: connector_id
        required: true
        schema:
          $ref: '#/components/schemas/ConnectorId'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorStoreResponse'
          description: Connector's LLM information store
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - user does not have access to connector
        '404':
          description: Connector not found
      security:
      - api_key: []
      - session_token: []
      tags:
      - Connectors
      summary: Get connector store
      x-summary-source: derived
  /connectors/{connector_id}/tables:
    get:
      description: 'Returns all tables across all databases and schemas for the given connector.

        Useful for finding table IDs to pass to the explore endpoint for single-table exploration.'
      operationId: list_connector_tables
      parameters:
      - description: Connector ID
        in: path
        name: connector_id
        required: true
        schema:
          $ref: '#/components/schemas/ConnectorId'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListTablesResponse'
          description: Successfully retrieved tables
        '403':
          description: Forbidden - user does not have access to connector
        '404':
          description: Connector not found
      security:
      - api_key: []
      - session_token: []
      summary: List all tables for a connector
      tags:
      - Connectors
  /internal/connectors/{connector_id}/datahub-artifacts/{kind}:
    get:
      operationId: connectors_download_datahub_artifact
      parameters:
      - in: path
        name: connector_id
        required: true
        schema:
          $ref: '#/components/schemas/ConnectorId'
      - in: path
        name: kind
        required: true
        schema:
          type: string
      - in: query
        name: exploration_run_id
        required: false
        schema:
          allOf:
          - $ref: '#/components/schemas/ExplorationRunId'
      responses:
        '200':
          content:
            application/octet-stream:
              schema:
                format: binary
                type: string
          description: Connector DataHub artifact bytes
        '403':
          description: Forbidden
        '404':
          description: Artifact or connector not found
      security:
      - api_key: []
      - session_token: []
      tags:
      - Connectors
      summary: Connectors download datahub artifact
      x-summary-source: derived
    put:
      operationId: connectors_upload_datahub_artifact
      parameters:
      - in: path
        name: connector_id
        required: true
        schema:
          $ref: '#/components/schemas/ConnectorId'
      - in: path
        name: kind
        required: true
        schema:
          type: string
      - in: query
        name: exploration_run_id
        required: true
        schema:
          $ref: '#/components/schemas/ExplorationRunId'
      requestBody:
        content:
          multipart/form-data:
            schema:
              properties:
                file:
                  format: binary
                  type: string
              required:
              - file
              type: object
        required: true
      responses:
        '204':
          description: Connector DataHub artifact uploaded successfully
        '403':
          description: Forbidden
        '404':
          description: Artifact or connector not found
      security:
      - api_key: []
      - session_token: []
      tags:
      - Connectors
      summary: Connectors upload datahub artifact
      x-summary-source: derived
components:
  schemas:
    PhaseActivity:
      properties:
        chat_id:
          allOf:
          - $ref: '#/components/schemas/ConnectorExplorerChatId'
        job_id:
          $ref: '#/components/schemas/JobId'
        phase_id:
          $ref: '#/components/schemas/ExplorationPhaseId'
        status:
          $ref: '#/components/schemas/JobStatus'
      required:
      - job_id
      - phase_id
      - status
      type: object
    UpdateColumnRequest:
      properties:
        notes:
          type:
          - string
          - 'null'
      type: object
    ConnectorColumnResult:
      properties:
        name:
          type: string
        notes:
          type:
          - string
          - 'null'
        type:
          type: string
      required:
      - name
      - type
      type: object
    WebNavigateInput:
      properties:
        output_format:
          allOf:
          - $ref: '#/components/schemas/WebNavigateOutput'
        url:
          type: string
      required:
      - url
      type: object
    UpdateConnectorRequest:
      allOf:
      - $ref: '#/components/schemas/UpdateConnector'
      - properties:
          shared_user_roles:
            additionalProperties:
              $ref: '#/components/schemas/ChatSessionRole'
            type:
            - object
            - 'null'
        type: object
    AddDependencyInput:
      properties:
        package_name:
          type: string
        version_spec:
          type:
          - string
          - 'null'
      required:
      - package_name
      type: object
    Flag:
      properties:
        ariaLabel:
          type: string
        height:
          format: double
          type: number
        href:
          type:
          - string
          - 'null'
        isInteractive:
          type:
          - boolean
          - 'null'
        number:
          description: The number by which the flag is referred in image, prompt, and tool calls.
          minimum: 0
          type:
          - integer
          - 'null'
        text:
          type: string
        type:
          type: string
        width:
          description: 'The serde default here is to give us backwards compatibility

            it''s fine for these to be anything as long as the image isn''t

            given since it won''t regenerate.'
          format: double
          type: number
        x:
          format: double
          type: number
        y:
          format: double
          type: number
      required:
      - x
      - y
      - type
      - ariaLabel
      type: object
    TeamVisibility:
      enum:
      - Team
      - Private
      type: string
    ConnectorTableResult:
      properties:
        columns:
          items:
            $ref: '#/components/schemas/ConnectorColumnResult'
          type: array
        database:
          type: string
        description:
          type:
          - string
          - 'null'
        notes:
          type:
          - string
          - 'null'
        schema:
          type: string
        table_name:
          type: string
      required:
      - schema
      - database
      - table_name
      - columns
      type: object
    TableLineageResponse:
      description: Response for table lineage queries containing both upstream and downstream dependencies
      properties:
        downstream:
          items:
            $ref: '#/components/schemas/TableLineageItem'
          type: array
        upstream:
          items:
            $ref: '#/components/schemas/TableLineageItem'
          type: array
      required:
      - upstream
      - downstream
      type: object
    ConnectorTablePathResponse:
      properties:
        connector_id:
          $ref: '#/components/schemas/ConnectorId'
        database_name:
          type: string
        schema_name:
          type: string
        table_name:
          type: string
      required:
      - connector_id
      - database_name
      - schema_name
      - table_name
      type: object
    RequiredRelationship:
      additionalProperties: false
      properties:
        relationship_name:
          type: string
      required:
      - relationship_name
      type: object
    RunBashInput:
      properties:
        command:
          type: string
        connector:
          type:
          - string
          - 'null'
        working_dir:
          type:
          - string
          - 'null'
      required:
      - command
      type: object
    ConnectorDatabaseId:
      format: uuid
      type: string
    SaveSchemaInput:
      properties:
        description:
          type:
          - string
          - 'null'
        name:
          type: string
        notes:
          type:
          - string
          - 'null'
      required:
      - name
      type: object
    ApplyPatchInput:
      properties:
        apply_all:
          type: boolean
        edits:
          items:
            $ref: '#/components/schemas/ApplyPatchEdit'
          type: array
        file:
          type: string
      required:
      - file
      - edits
      - apply_all
      type: object
    NavigateToIFrameInput:
      properties:
        index:
          format: int32
          minimum: 0
          type: integer
      required:
      - index
      type: object
    RelationshipMergeProbability:
      properties:
        source_cardinality_given_target_match:
          description: 'Describes the expected cardinality of the source table when a match is found in the target table


            For example, if we have a source company and a target funding round, we expect the source company

            to appear in multiple funding rounds, but not *too* many.

            So if we have a funding round match, the expected number of unique companies is relatively small.

            This is an estimate of that number.'
          format: int64
          minimum: 0
          type:
          - integer
          - 'null'
        target_cardinality_given_source_match:
          description: 'Describes the expected cardinality of the target table when a match is found in the source table


            For example, if we have a source company and a target funding round, we usually expect

            some number of funding rounds to be associated with a single company but not *too* many.

            So if we have a company match, the expected number of unique funding rounds is relatively small.

            This is an estimate of that number.'
          format: int64
          minimum: 0
          type:
          - integer
          - 'null'
      type: object
    ConnectorWithSecrets:
      allOf:
      - $ref: '#/components/schemas/Connector'
      - properties:
          secrets:
            items:
              $ref: '#/components/schemas/SecretSummary'
            type: array
        required:
        - secrets
        type: object
    DeleteFileInput:
      properties:
        file:
          type: string
      required:
      - file
      type: object
    ClarificationRequestsResponse:
      properties:
        requests:
          items:
            $ref: '#/components/schemas/ClarificationRequest'
          type: array
      required:
      - requests
      type: object
    ExplorationRun:
      properties:
        checkpoint_blob_name:
          type:
          - string
          - 'null'
        connector_id:
          $ref: '#/components/schemas/ConnectorId'
        created_at:
          format: date-time
          type: string
        id:
          $ref: '#/components/schemas/ExplorationRunId'
        latest_snapshot_blob_name:
          type:
          - string
          - 'null'
        status:
          $ref: '#/components/schemas/ExplorationStatus'
        triggered_by:
          allOf:
          - $ref: '#/components/schemas/MembershipId'
      required:
      - id
      - connector_id
      - created_at
      - status
      type: object
    ImageResult:
      properties:
        image_bytes:
          format: binary
          type: string
        ocr_text:
          type:
          - string
          - 'null'
      required:
      - image_bytes
      type: object
    UpdateTableResponse:
      properties:
        table:
          $ref: '#/components/schemas/ConnectorTable'
      required:
      - table
      type: object
    ClarificationRequest:
      properties:
        column_id:
          allOf:
          - $ref: '#/components/schemas/ConnectorColumnId'
        column_name:
          type:
          - string
          - 'null'
        created_at:
          format: date-time
          type: string
        database_name:
          type:
          - string
          - 'null'
        id:
          $ref: '#/components/schemas/ClarificationRequestId'
        question:
          type: string
        resolved:
          type: boolean
        schema_name:
          type:
          - string
          - 'null'
        table_id:
          $ref: '#/components/schemas/ConnectorTableId'
        table_name:
          type:
          - string
          - 'null'
        updated_at:
          format: date-time
          type: string
      required:
      - id
      - table_id
      - question
      - resolved
      - created_at
      - updated_at
      type: object
    SaveColumnInput:
      properties:
        column_name:
          type: string
        column_type:
          type: string
        notes:
          type:
          - string
          - 'null'
      required:
      - column_name
      - column_type
      type: object
    MessageContent:
      oneOf:
      - properties:
          Text:
            type: string
        required:
        - Text
        type: object
      - properties:
          Image:
            format: binary
            type: string
        required:
        - Image
        type: object
    ExplorationProgress:
      properties:
        datahub:
          allOf:
          - $ref: '#/components/schemas/DatahubProgress'
        phases:
          items:
            $ref: '#/components/schemas/PhaseActivity'
          type: array
      required:
      - phases
      type: object
    MoveFileInput:
      properties:
        file:
          type: string
        new_path:
          type: string
      required:
      - file
      - new_path
      type: object
    JavascriptInput:
      properties:
        code:
          type: string
      required:
      - code
      type: object
    SaveApiResourceInput:
      properties:
        description:
          type:
          - string
          - 'null'
        endpoint:
          type: string
        name:
          type: string
        notes:
          type:
          - string
          - 'null'
      required:
      - name
      - endpoint
      type: object
    ConnectorExplorerChatId:
      format: uuid
      type: string
    RequestClarificationInput:
      properties:
        column_name:
          type:
          - string
          - 'null'
        question:
          type: string
        table_name:
          type: string
      required:
      - table_name
      - question
      type: object
    ExplorationPhaseId:
      description: 'Identifies the phase of connector exploration


        This enum is used to track which phase of exploration a chat session belongs to.

        It''s stored as JSONB in the database to allow for flexible phase identification.'
      discriminator:
        propertyName: type
      oneOf:
      - description: 'First phase: discovering all databases in the connector'
        properties:
          connector_id:
            $ref: '#/components/schemas/ConnectorId'
          type:
            enum:
            - discover_databases
            type: string
        required:
        - connector_id
        - type
        type: object
      - description: 'Second phase: discovering all schemas in a database'
        properties:
          database_id:
            $ref: '#/components/schemas/ConnectorDatabaseId'
          database_name:
            type: string
          type:
            enum:
            - discover_schemas
            type: string
        required:
        - database_id
        - database_name
        - type
        type: object
      - description: 'Third phase: discovering all tables in a schema'
        properties:
          schema_id:
            $ref: '#/components/schemas/ConnectorSchemaId'
          schema_name:
            type: string
          type:
            enum:
            - discover_tables
            type: string
        required:
        - schema_id
        - schema_name
        - type
        type: object
      - description: 'Fourth phase: discovering columns for a specific table'
        properties:
          table_id:
            $ref: '#/components/schemas/ConnectorTableId'
          table_name:
            type: string
          type:
            enum:
            - discover_columns
            type: string
        required:
        - table_id
        - table_name
        - type
        type: object
      - description: 'Initial phase: discovering all API resources'
        properties:
          connector_id:
            $ref: '#/components/schemas/ConnectorId'
          type:
            enum:
            - discover_api_resources
            type: string
        required:
        - connector_id
        - type
        type: object
      - description: 'Second phase: discovering fields for a specific API resource'
        properties:
          resource_name:
            type: string
          table_id:
            $ref: '#/components/schemas/ConnectorTableId'
          type:
            enum:
            - discover_api_fields
            type: string
        required:
        - table_id
        - resource_name
        - type
        type: object
    SaveRequirement:
      description: It's an OR statement across these.
      oneOf:
      - $ref: '#/components/schemas/RequiredRelationship'
      - $ref: '#/components/schemas/RequiredEntity'
      - $ref: '#/components/schemas/RequiredProperty'
    PinPreviousToolInput:
      properties:
        path:
          type: string
      required:
      - path
      type: object
    ReasoningEffort:
      enum:
      - low
      - medium
      - high
      - minimal
      type: string
    ConnectorSchemaInfo:
      description: Schema within a database
      properties:
        description:
          type:
          - string
          - 'null'
        id:
          $ref: '#/components/schemas/ConnectorSchemaId'
        name:
          type: string
        notes:
          type:
          - string
          - 'null'
        tables:
          items:
            $ref: '#/components/schemas/ConnectorTable'
          type: array
      required:
      - id
      - name
      - tables
      type: object
    MembershipId:
      format: uuid
      type: string
    ClarificationRequestId:
      format: uuid
      type: string
    Verbosity:
      enum:
      - low
      - medium
      - high
      type: string
    RequiredEntity:
      additionalProperties: false
      properties:
        entity_id:
          allOf:
          - $ref: '#/components/schemas/EntityId'
        seeded_entity_id:
          description: The integer id corresponding to an entity in the seeded entity graph (different from the global dataset entity id)
          minimum: 0
          type: integer
      required:
      - seeded_entity_id
      type: object
    LineageType:
      description: Lineage type for table-to-table relationships
      enum:
      - COPY
      - TRANSFORMED
      - VIEW
      - FOREIGN_KEY
      type: string
    ScraperMeta:
      properties:
        html_content:
          type: string
        url:
          type: string
      required:
      - html_content
      - url
      type: object
    ConnectorTable:
      description: Represents a table (for relational databases) or resource (for APIs)
      properties:
        columns:
          description: List of columns in this table/resource
          items:
            $ref: '#/components/schemas/ConnectorColumn'
          type: array
        description:
          description: Optional description
          type:
          - string
          - 'null'
        endpoint:
          description: API endpoint (None for relational DB tables, Some for API resources)
          type:
          - string
          - 'null'
        id:
          $ref: '#/components/schemas/ConnectorTableId'
        name:
          description: Name of the table or resource
          type: string
        notes:
          description: Optional notes
          type:
          - string
          - 'null'
      required:
      - id
      - name
      - columns
      type: object
    NodeSummary:
      properties:
        data_preview:
          type:
          - string
          - 'null'
        image:
          format: binary
          type:
          - string
          - 'null'
        in_dashboard:
          type: boolean
        name:
          type: string
      required:
      - name
      - in_dashboard
      type: object
    ReadNodeLogsInput:
      properties:
        log_type:
          type:
          - string
          - 'null'
        node_function_name:
          type: string
      required:
      - node_function_name
      type: object
    GetSecretResult:
      description: Result of getting a secret
      properties:
        created_at:
          format: date-time
          type: string
        secret_name:
          type: string
        secret_value:
          type: string
        updated_at:
          format: date-time
          type: string
      required:
      - secret_name
      - secret_value
      - created_at
      - updated_at
      type: object
    SaveInput:
      properties:
        knowledge_graph:
          $ref: '#/components/schemas/LLMKnowledgeGraph'
        reason:
          type: string
        sources:
          items:
            type: string
          type: array
      required:
      - knowledge_graph
      - sources
      - reason
      type: object
    RerankResult:
      properties:
        index:
          format: int32
          type: integer
        relevance_score:
          format: float
          type: number
        text:
          type:
          - string
          - 'null'
      required:
      - index
      - relevance_score
      type: object
    WebNavigateOutput:
      enum:
      - Text
      - Visual
      type: string
    ComparisonStrategy:
      enum:
      - Default
      - EnforceUniqueness
      type: string
    JobType:
      enum:
      - Web
      - Pdf
      - Derive
      - Scrape
      - Match
      - ConnectorExplore
      - DatahubIngestion
      type: string
    ExplorationStatus:
      enum:
      - NotStarted
      - Running
      - Completed
      - Failed
      type: string
    DeleteSchemaObjectRequest:
      allOf:
      - $ref: '#/components/schemas/SchemaObjectId'
      - type: object
    ToolResult:
      oneOf:
      - enum:
        - Pending
        type: string
      - enum:
        - NoResult
        type: string
      - properties:
          Error:
            type: string
        required:
        - Error
        type: object
      - properties:
          Text:
            type: string
        required:
        - Text
        type: object
      - properties:
          CodeExecution:
            $ref: '#/components/schemas/CodeExecutionResult'
        required:
        - CodeExecution
        type: object
      - properties:
          WebMarkdown:
            type: string
        required:
        - WebMarkdown
        type: object
      - properties:
          WebSearch:
            items:
              $ref: '#/components/schemas/DocSnippet'
            type: array
        required:
        - WebSearch
        type: object
      - properties:
          ConnectorSearch:
            items:
              $ref: '#/components/schemas/ConnectorTableResult'
            type: array
        required:
        - ConnectorSearch
        type: object
      - properties:
          NodeLogs:
            items:
              type: string
            type: array
        required:
        - NodeLogs
        type: object
      - enum:
        - Completed
        type: string
      - properties:
          Image:
            $ref: '#/components/schemas/ImageResult'
        required:
        - Image
        type: object
      - properties:
          Pinned:
            type: string
        required:
        - Pinned
        type: object
    SecretSummary:
      description: Response model for listing secrets (without sensitive data)
      properties:
        created_at:
          format: date-time
          type: string
        secret_name:
          type: string
        updated_at:
          format: date-time
          type: string
      required:
      - secret_name
      - created_at
      - updated_at
      type: object
    SchemaObjectId:
      discriminator:
        propertyName: type
      oneOf:
      - properties:
          id:
            $ref: '#/components/schemas/ConnectorColumnId'
          type:
            enum:
            - column
            type: string
        required:
        - id
        - type
        type: object
      - properties:
          id:
            $ref: '#/components/schemas/ConnectorTableId'
          type:
            enum:
            - table
            type: string
        required:
        - id
        - type
        type: object
      - properties:
          id:
            $ref: '#/components/schemas/ConnectorSchemaId'
          type:
            enum:
            - schema
            type: string
        required:
        - id
        - type
        type: object
      - properties:
          id:
            $ref: '#/components/schemas/ConnectorDatabaseId'
          type:
            enum:
            - database
            type: string
        required:
        - id
        - type
        type: object
    RelationshipMergeStrategy:
      oneOf:
      - $ref: '#/components/schemas/RelationshipMergeProbability'
    PromptMeta:
      description: All metadata required to generate a prompt for the LLM
      properties:
        dataset_descriptor:
          $ref: '#/components/schemas/DatasetDescriptor'
        extracted_entities:
          items:
            $ref: '#/components/schemas/LLMKnowledgeGraph'
          type: array
        extraction_criteria:
          items:
            $ref: '#/components/schemas/SaveRequirement'
          type: array
        formatter_specific:
          $ref: '#/components/schemas/FormatterMeta'
        qa_potentially_sus_response:
          type:
          - string
          - 'null'
      required:
      - dataset_descriptor
      - extracted_entities
      - extraction_criteria
      - formatter_specific
      type: object
    ConnectorTypeSnippet:
      properties:
        connector_type:
          type: string
        created_at:
          format: date-time
          type: string
        id:
          format: uuid
          type: string
        updated_at:
          format: date-time
          type: string
        usage_snippet:
          type:
          - string
          - 'null'
      required:
      - id
      - connector_type
      - created_at
      - updated_at
      type: object
    DatasetId:
      format: uuid
      type: string
    DatahubSecretMap:
      additionalProperties:
        type: string
      description: Maps DatahubIngestionKey to the name of the connector secret that holds the value.
      type: object
    TableDescriptor:
      additionalProperties: false
      description: The full definition of what a schema is - without duplicate information.
      properties:
        description:
          type: string
        expected_cardinality:
          description: 'Expected number of unique values in the complete dataset.


            This is used for our probabilistic merge strategy.'
          format: int64
          minimum: 0
          type:
          - integer
          - 'null'
        name:
          description: Organized in a name, description format.
          type: string
        primary_column:
          type:
          - string
          - 'null'
        properties:
          description: Organized in a name, description format.
          items:
            $ref: '#/components/schemas/PropertyDescriptor'
          type: array
      required:
      - name
      - description
      - properties
      type: object
    InspectStepInput:
      properties:
        step_name:
          type: string
      required:
      - step_name
      type: object
    DatahubProgress:
      properties:
        databases_created:
          minimum: 0
          type: integer
        job_id:
          $ref: '#/components/schemas/JobId'
        job_status:
          $ref: '#/components/schemas/JobStatus'
        pages_fetched:
          format: int32
          type: integer
        records_written:
          minimum: 0
          type: integer
        schemas_created:
          minimum: 0
          type: integer
        tables_processed:
          minimum: 0
          type: integer
        total_datasets:
          minimum: 0
          type: integer
      required:
      - job_id
      - job_status
      - records_written
      - pages_fetched
      - total_datasets
      - databases_created
      - schemas_created
      - tables_processed
      type: object
    UpdateTableRequest:
      properties:
        description:
          type:
          - string
          - 'null'
        notes:
          type:
          - string
          - 'null'
      type: object
    ConnectorTableId:
      format: uuid
      type: string
    ConnectorStoreResponse:
      properties:
        store:
          allOf:
          - $ref: '#/components/schemas/LlmInformationStore'
      type: object
    SearchConnectorTypesInput:
      properties:
        query:
          type:
          - string
          - 'null'
      type: object
    RunPipelineInput:
      properties:
        rerun_all_steps:
          type: boolean
      type: object
    InternalErrorKind:
      description: 'Categorizes the kind of internal error that occurred during LLM generation.

        This allows the frontend to render appropriate error messages without regex matching.'
      enum:
      - unknown
      - context_limit
      - rate_limited
      - timeout
      - connection_error
      type: string
    DatasetDescriptor:
      additionalProperties: false
      description: 'A dataset is where you put multiple referential schemas.


        A dataset is a complete namespace where all references between schemas

        are held within the dataset.'
      properties:
        description:
          type: string
        llm_override_field:
          type:
          - string
          - 'null'
        name:
          type: string
        relationships:
          items:
            $ref: '#/components/schemas/RelationshipDescriptor'
          type: array
        tables:
          items:
            $ref: '#/components/schemas/TableDescriptor'
          type: array
      required:
      - name
      - description
      - tables
      - relationships
      type: object
    ChatEvent:
      description: Events in a chat session timeline, including messages and unified tool calls/results
      oneOf:
      - properties:
          TextMessage:
            properties:
              message:
                type: string
            required:
            - message
            type: object
        required:
        - TextMessage
        type: object
      - properties:
          Thinking:
            properties:
              block_id:
                format: int64
                minimum: 0
                type: integer
              complete:
                type: boolean
              content:
                type: string
            required:
            - content
            - complete
            - block_id
            type: object
        required:
        - Thinking
        type: object
      - properties:
          File:
            description: 'The file event can''t be serialized to the database safely without the content.

              When streaming, we start with the path only, then add the content as we go.'
            properties:
              block_id:
                format: int64
                minimum: 0
                type: integer
              complete:
                type: boolean
              content:
                type:
                - string
                - 'null'
              path:
                type: string
            required:
            - path
            - complete
            - block_id
            type: object
        required:
        - File
        type: object
      - properties:
          Action:
            properties:
              actions:
                items:
                  $ref: '#/components/schemas/ActionDef'
                type: array
              block_id:
                format: int64
                minimum: 0
                type: integer
              complete:
                type: boolean
            required:
            - actions
            - complete
            - block_id
            type: object
        required:
        - Action
        type: object
      - properties:
          Connector:
            properties:
              description:
                type:
                - string
                - 'null'
              env_vars:
                items:
                  type: string
                type: array
              name:
                type: string
            required:
            - name
            - env_vars
            type: object
        required:
        - Connector
        type: object
      - properties:
          ToolCall:
            properties:
              block_id:
                format: int64
                minimum: 0
                type: integer
              complete:
                type: boolean
              invocation:
                $ref: '#/components/schemas/ToolInvocation'
              tool_result:
                $ref: '#/components/schemas/ToolResult'
            required:
            - invocation
            - tool_result
            - block_id
            - complete
            type: object
        required:
        - ToolCall
        type: object
      - properties:
          Question:
            properties:
              block_id:
                format: int64
                minimum: 0
                type: integer
              complete:
                type: boolean
              content:
                type: string
              options:
                items:
                  type: string
                type: array
            required:
            - content
            - complete
            - options
            - block_id
            type: object
        required:
        - Question
        type: object
      - properties:
          InternalError:
            properties:
              error_kind:
                $ref: '#/components/schemas/InternalErrorKind'
              message:
                type: string
            required:
            - message
            type: object
        required:
        - InternalError
        type: object
      - properties:
          ReviewRequest:
            properties:
              node_summaries:
                items:
                  $ref: '#/components/schemas/NodeSummary'
                type: array
            required:
            - node_summaries
            type: object
        required:
        - ReviewRequest
        type: object
      - properties:
          AttachedFile:
            properties:
              image_bytes:
                format: binary
                type:
                - string
                - 'null'
              path:
                type: string
            required:
            - path
            type: object
        required:
        - AttachedFile
        type: object
      - properties:
          ConnectorRequest:
            properties:
              connector_id:
                $ref: '#/components/schemas/ConnectorId'
            required:
            - connector_id
            type: object
        required:
        - ConnectorRequest
        type: object
      - properties:
          UserInterrupted:
            type: object
        required:
        - UserInterrupted
        type: object
      - properties:
          IssueFound:
            properties:
              admin_override:
                type: boolean
              description:
                type: string
              title:
                type: string
            required:
            - title
            - description
            - admin_override
            type: object
        required:
        - IssueFound
        type: object
    TeamId:
      format: uuid
      type: string
    ConnectorExplorerChat:
      description: Connector explorer chat with deserialized ChatPrompt for API responses
      properties:
        chat_events:
          items:
            $ref: '#/components/schemas/ChatEvent'
          type: array
        chat_prompt:
          $ref: '#/components/schemas/ChatPrompt'
        connector_id:
          $ref: '#/components/schemas/ConnectorId'
        created_at:
          format: date-time
          type: string
        exploration_run_id:
          $ref: '#/components/schemas/ExplorationRunId'
        id:
          $ref: '#/components/schemas/ConnectorExplorerChatId'
        phase_id:
          $ref: '#/components/schemas/ExplorationPhaseId'
      required:
      - id
      - connector_id
      - exploration_run_id
      - phase_id
      - chat_prompt
      - chat_events
      - created_at
      type: object
    RequiredProperty:
      additionalProperties: false
      properties:
        property_names:
          description: If there are multiple properties, it can match just one of them
          items:
            type: string
          type: array
        table_name:
          description: The table name of the entity to update
          type: string
      required:
      - table_name
      - property_names
      type: object
    DocSnippet:
      properties:
        snippet:
          type: string
        title:
          type: string
        url:
          type: string
      required:
      - title
      - url
      - snippet
      type: object
    ViewPageInput:
      properties:
        page_number:
          format: int32
          minimum: 0
          type: integer
      required:
      - page_number
      type: object
    JobStatus:
      enum:
      - Queued
      - Running
      - Completed
      - Failed
      type: string
    ConnectorId:
      format: uuid
      type: string
    ExplorerChatResponse:
      properties:
        chats:
          items:
            $ref: '#/components/schemas/ConnectorExplorerChat'
          type: array
      required:
      - chats
      type: object
    WebSearchInput:
      properties:
        query:
          type: string
      required:
      - query
      type: object
    EntityId:
      format: uuid
      type: string
    ConnectorDatabaseInfo:
      description: Database within a connector
      properties:
        description:
          type:
          - string
          - 'null'
        id:
          $ref: '#/components/schemas/ConnectorDatabaseId'
        name:
          type: string
        notes:
          type:
          - string
          - 'null'
        schemas:
          items:
            $ref: '#/components/schemas/ConnectorSchemaInfo'
          type: array
      required:
      - id
      - name
      - schemas
      type: object
    WebMeta:
      properties:
        flags:
          items:
            $ref: '#/components/schemas/Flag'
          type: array
        ocr_content:
          type:
          - string
          - 'null'
        screenshot:
          format: binary
          type:
          - string
          - 'null'
        url:
          type: string
      required:
      - url
      - flags
      type: object
    NewSchemaObject:
      discriminator:
        propertyName: type
      oneOf:
      - properties:
          description:
            type:
            - string
            - 'null'
          name:
            type: string
          notes:
            type:
            - string
            - 'null'
          type:
            enum:
            - database
            type: string
        required:
        - name
        - type
        type: object
      - properties:
          database_id:
            $ref: '#/components/schemas/ConnectorDatabaseId'
          description:
            type:
            - string
            - 'null'
          name:
            type: string
          notes:
            type:
            - string
            - 'null'
          type:
            enum:
            - schema
            type: string
        required:
        - database_id
        - name
        - type
        type: object
      - properties:
          description:
            type:
            - string
            - 'null'
          endpoint:
            type:
            - string
            - 'null'
          name:
            type: string
          notes:
            type:
            - string
            - 'null'
          schema_id:
            $ref: '#/components/schemas/ConnectorSchemaId'
          type:
            enum:
            - table
            type: string
        required:
        - schema_id
        - name
        - type
        type: object
      - properties:
          column_type:
            type: string
          name:
            type: string
          notes:
            type:
            - string
            - 'null'
          table_id:
            $ref: '#/components/schemas/ConnectorTableId'
          type:
            enum:
            - column
            type: string
        required:
        - table_id
        - name
        - column_type
        - type
        type: object
    CreateConnectorInput:
      properties:
        connector_type:
          type: string
        description:
          type:
          - string
          - 'null'
        name:
          type: string
        secrets:
          items:
            type: string
          type: array
      required:
      - name
      - connector_type
      type: object
    ConnectorSchemaId:
      format: uuid
      type: string
    ConnectorTableInfo:
      properties:
        description:
          type:
          - string
          - 'null'
        id:
          $ref: '#/components/schemas/ConnectorTableId'
        name:
          type: string
      required:
      - id
      - name
      type: object
    CreateSecretRequest:
      properties:
        secret_name:
          type: string
        secret_value:
          type: string
      required:
      - secret_name
      - secret_value
      type: object
    CreateConnectorRequest:
      properties:
        description:
          type:
          - string
          - 'null'
        known_connector_type:
          type: string
        name:
          type: string
        nango_connection_id:
          description: Nango connection ID for OAuth token management
          type:
          - string
          - 'null'
        secrets:
          additionalProperties:
            type: string
          description: Optional secrets/environment variables for the connector
          type: object
      required:
      - name
      - known_connector_type
      type: object
    ImageMeta:
      properties:
        document_name:
          type:
          - string
          - 'null'
        document_page:
          format: int32
          minimum: 0
          type:
          - integer
          - 'null'
        image:
          type:
          - string
          - 'null'
        ocr_content:
          type:
          - string
          - 'null'
      required:
      - image
      type: object
    ConnectorColumnId:
      format: uuid
      type: string
    AddSchemaObjectRequest:
      allOf:
      - $ref: '#/components/schemas/NewSchemaObject'
      - type: object
    ConnectorSummariesRequest:
      properties:
        connector_ids:
          items:
            $ref: '#/components/schemas/ConnectorId'
          type: array
      required:
      - connector_ids
      type: object
    TableLineageItem:
      description: A single table in a lineage relationship
      properties:
        database_name:
          type: string
        lineage_type:
          $ref: '#/components/schemas/LineageType'
        schema_name:
          type: string
        table_id:
          $ref: '#/components/schemas/ConnectorTableId'
        table_name:
          type: string
      required:
      - table_id
      - table_name
      - database_name
      - schema_name
      - lineage_type
      type: object
    MergeConfig:
      description: The configuration for a probabilistic merge strategy
      properties:
        baseline_cardinality:
          description: 'The number of unique values that are expected to be present in the complete dataset


            This is used for merging to determine how significant a match is. (i.e. if there are

            only 2 possible values, a match gives less confidence than if there are 100)'
          format: int64
          minimum: 0
          type: integer
        comparison_strategy:
          $ref: '#/components/schemas/ComparisonStrategy'
        match_transfer_probability:
          description: 'The estimated probability that, given an entity match, the properties also match


            For a person''s full name, this would be quite high. For a person''s job title, it

            would be lower because people can have multiple job titles over time or at different

            companies at the same time.'
          format: float
          type: number
      required:
      - baseline_cardinality
      - match_transfer_probability
      type: object
    ConnectorColumn:
      description: Represents a column in a table or API resource
      properties:
        id:
          $ref: '#/components/schemas/ConnectorColumnId'
        name:
          description: Name of the column
          type: string
        notes:
          description: Additional notes about the column
          type:
          - string
          - 'null'
        type:
          description: SQL type of the column (e.g., "VARCHAR(255)", "INTEGER") or API field type
          type: string
      required:
      - id
      - name
      - type
      type: object
    Message:
      description: Our generic definition of a message to a chat agent.
      properties:
        content:
          description: 'We want this to be a vec of contents so we can accurately

            capture an interleaving of images and text.


            This is meant to be a completely raw, unprocessed representation

            of the text. Don''t take stuff out.'
          items:
            $ref: '#/components/schemas/MessageContent'
          type: array
        role:
          $ref: '#/components/schemas/SpeakerTag'
      required:
      - role
      - content
      type: object
    RelationshipDescriptor:
      additionalProperties: false
      properties:
        description:
          type: string
        merge_strategy:
          allOf:
          - $ref: '#/components/schemas/RelationshipMergeStrategy'
        name:
          type: string
        properties:
          items:
            $ref: '#/components/schemas/PropertyDescriptor'
          type: array
        source_table:
          type: string
        target_table:
          type: string
      required:
      - name
      - description
      - source_table
      - target_table
      type: object
    SaveMemoryInput:
      properties:
        key:
          type: string
        value:
          type: string
      required:
      - key
      - value
      type: object
    ChatSessionRole:
      enum:
      - viewer
      - editor
      - owner
      type: string
    DecodingParamEnum:
      oneOf:
      - properties:
          MaxTokens:
            minimum: 0
            type: integer
        required:
        - MaxTokens
        type: object
      - properties:
          MaxCompletionTokens:
            minimum: 0
            type: integer
        required:
        - MaxCompletionTokens
        type: object
      - properties:
          TopP:
            format: float
            type: number
        required:
        - TopP
        type: object
      - properties:
          RepeatWindow:
            minimum: 0
            type: integer
        required:
        - RepeatWindow
        type: object
      - properties:
          RepeatPenalty:
            format: float
            type: number
        required:
        - RepeatPenalty
        type: object
      - properties:
          Temperature:
            format: float
            type: number
        required:
        - Temperature
        type: object
      - properties:
          StopTokens:
            items:
              type: string
            type: array
        required:
        - StopTokens
        type: object
      - properties:
          LogitBias:
            additionalProperties:
              format: float
              type: number
            type: object
        required:
        - LogitBias
        type: object
      - properties:
          Functions:
            items:
              additionalProperties: true
              type: object
              x-stainless-empty-object: true
            type: array
        required:
        - Functions
        type: object
      - properties:
          JsonValidator:
            additionalProperties: true
            type: object
            x-stainless-empty-object: true
        required:
        - JsonValidator
        type: object
      - properties:
          RegexValidator:
            type: string
        required:
        - RegexValidator
        type: object
      - properties:
          ContextFreeGrammar:
            type: string
        required:
        - ContextFreeGrammar
        type: object
      - properties:
          NumBeams:
            minimum: 0
            type: integer
        required:
        - NumBeams
        type: object
      - properties:
          Crop:
            type: boolean
        required:
        - Crop
        type: object
      - properties:
          Thinking:
            description: Thinking tokens for Claude 3.7. Contains the budget in tokens for thinking.
            minimum: 0
            type: integer
        required:
        - Thinking
        type: object
      - properties:
          Verbosity:
            $ref: '#/components/schemas/Verbosity'
        required:
        - Verbosity
        type: object
      - properties:
          ReasoningEffort:
            $ref: '#/components/schemas/ReasoningEffort'
        required:
        - ReasoningEffort
        type: object
    AddSchemaObjectResponse:
      allOf:
      - $ref: '#/components/schemas/CreatedSchemaObject'
      - type: object
    FormatterMeta:
      oneOf:
      - properties:
          ImageMeta:
            $ref: '#/components/schemas/ImageMeta'
        required:
        - ImageMeta
        type: object
      - properties:
          WebMeta:
            $ref: '#/components/schemas/WebMeta'
        required:
        - WebMeta
        type: object
      - properties:
          TextMeta:
            $ref: '#/components/schemas/TextMeta'
        required:
        - TextMeta
        type: object
      - properties:
          ScraperMeta:
            $ref: '#/components/schemas/ScraperMeta'
        required:
        - ScraperMeta
        type: object
    ConnectorWithSecretsAndValues:
      allOf:
      - $ref: '#/components/schemas/Connector'
      - properties:
          secrets:
            items:
              $ref: '#/components/schemas/GetSecretResult'
            type: array
          shared_user_roles:
            additionalProperties:
              $ref: '#/components/schemas/ChatSessionRole'
            type: object
        required:
        - secrets
        - shared_user_roles
        type: object
    LlmInformationStore:
      description: 'Information store for connector schema


        Hierarchical structure: Connector → Database → Schema → Table → Column

        Works for both relational databases and API-based data.

        Distinguishes between the two by presence of `endpoint` on tables:

        - Relational DB: all tables have `endpoint: None`

        - API: all tables have `endpoint: Some(...)`'
      properties:
        databases:
          description: List of databases in this connector
          items:
            $ref: '#/components/schemas/ConnectorDatabaseInfo'
          type: array
        uses_default_hierarchy:
          description: 'Whether this store uses default auto-generated database/schema names

            (i.e., database and schema names match the connector name).

            When true, UIs should hide the database/schema hierarchy.

            When false, UIs should show the full database → schema → table hierarchy.'
          type: boolean
      required:
      - databases
      - uses_default_hierarchy
      type: object
    TableSearchResults:
      properties:
        ranked_results:
          items:
            $ref: '#/components/schemas/ConnectorTableSearchResult'
          type: array
        raw_results:
          items:
            $ref: '#/components/schemas/ConnectorTableSearchResult'
          type: array
        rerank_scores:
          items:
            $ref: '#/components/schemas/RerankResult'
          type: array
      required:
      - raw_results
      - rerank_scores
      - ranked_results
      type: object
    SaveTableInput:
      properties:
        description:
          type:
          - string
          - 'null'
        name:
          type: string
        notes:
          type:
          - string
          - 'null'
      required:
      - name
      type: object
    PropertyDescriptor:
      additionalProperties: false
      properties:
        description:
          type: string
        merge_strategy:
          $ref: '#/components/schemas/MergeStrategy'
        name:
          type: string
        prop_type:
          $ref: '#/components/schemas/PropertyType'
      required:
      - name
      - description
      type: object
    LLMKnowledgeGraph:
      additionalProperties: false
      description: 'Knowledge graph info structured to deserialize and display

        in the same format that the LLM outputs.

        Also the first representation of an LLM output in the pipeline from raw tool output to being merged into a DB'
      properties:
        entities:
          items:
            $ref: '#/components/schemas/LLMEntity'
          type: array
        relationships:
          items:
            $ref: '#/components/schemas/LLMRelationship'
          type: array
      required:
      - entities
      type: object
    MergeStrategy:
      oneOf:
      - description: 'Property with unique 1:1 correspondence to its parent.


          Merge based on this property 100% of the time'
        enum:
        - Unique
        type: string
      - properties:
          Probabilistic:
            $ref: '#/components/schemas/MergeConfig'
        required:
        - Probabilistic
        type: object
      - enum:
        - NoSignal
        type: string
    ListTablesResponse:
      properties:
        tables:
          items:
            $ref: '#/components/schemas/ConnectorTableInfo'
          type: array
      required:
      - tables
      type: object
    CreatedSchemaObject:
      discriminator:
        propertyName: type
      oneOf:
      - properties:
          id:
            $ref: '#/components/schemas/ConnectorDatabaseId'
          type:
            enum:
            - database
            type: string
        required:
        - id
        - type
        type: object
      - properties:
          id:
            $ref: '#/components/schemas/ConnectorSchemaId'
          type:
            enum:
            - schema
            type: string
        required:
        - id
        - type
        type: object
      - properties:
          id:
            $ref: '#/components/schemas/ConnectorTableId'
          type:
            enum:
            - table
            type: string
        required:
        - id
        - type
        type: object
      - properties:
          id:
            $ref: '#/components/schemas/ConnectorColumnId'
          type:
            enum:
            - column
            type: string
        required:
        - id
        - type
        type: object
    ExitInput:
      properties:
        reason:
          type: string
      required:
      - reason
      type: object
    TextMeta:
      properties:
        text:
          type: string
      required:
      - text
      type: object
    ExplorationRunsResponse:
      properties:
        runs:
          items:
            $ref: '#/components/schemas/ExplorationRun'
          type: array
      required:
      - runs
      type: object
    JobId:
      format: uuid
      type: string
    Connector:
      properties:
        connector_category:
          allOf:
          - $ref: '#/components/schemas/ConnectorCategory'
        created_at:
          format: date-time
          type: string
        datahub_ingestion_type:
          type:
          - string
          - 'null'
        datahub_secret_map:
          allOf:
          - $ref: '#/components/schemas/DatahubSecretMap'
        datahub_urn:
          type:
          - string
          - 'null'
        deleted_at:
          format: date-time
          type:
          - string
          - 'null'
        description:
          type:
          - string
          - 'null'
        id:
          $ref: '#/components/schemas/ConnectorId'
        known_connector_type:
          type: string
        name:
          type: string
        nango_connection_id:
          type:
          - string
          - 'null'
        oauth_scopes:
          items:
            type:
            - string
            - 'null'
          type:
          - array
          - 'null'
        owner_user_id:
          $ref: '#/components/schemas/UserId'
        refresh_cron_schedule:
          type:
          - string
          - 'null'
        refresh_next_run_at:
          format: date-time
          type:
          - string
          - 'null'
        team_id:
          $ref: '#/components/schemas/TeamId'
        team_visibility:
          $ref: '#/components/schemas/TeamVisibility'
        updated_at:
          format: date-time
          type: string
        usage_snippet_override:
          type:
          - string
          - 'null'
      required:
      - id
      - name
      - created_at
      - updated_at
      - known_connector_type
      - team_id
      - team_visibility
      - owner_user_id
      type: object
    UpsertConnectorTypeSnippetRequest:
      properties:
        usage_snippet:
          type:
          - string
          - 'null'
      type: object
    UpdateConnector:
      properties:
        connector_category:
          allOf:
          - $ref: '#/components/schemas/ConnectorCategory'
        datahub_ingestion_type:
          type:
          - string
          - 'null'
        datahub_secret_map:
          allOf:
          - $ref: '#/components/schemas/DatahubSecretMap'
        datahub_urn:
          type:
          - string
          - 'null'
        description:
          type:
          - string
          - 'null'
        known_connector_type:
          type:
          - string
          - 'null'
        name:
          type:
          - string
          - 'null'
        nango_connection_id:
          type:
          - string
          - 'null'
        oauth_scopes:
          items:
            type:
            - string
            - 'null'
          type:
          - array
          - 'null'
        owner_user_id:
          allOf:
          - $ref: '#/components/schemas/UserId'
        refresh_cron_schedule:
          type:
          - string
          - 'null'
        team_visibility:
          allOf:
          - $ref: '#/components/schemas/TeamVisibility'
        usage_snippet_override:
          type:
          - string
          - 'null'
      type: object
    DecodingParams:
      properties:
        parameters:
          items:
            $ref: '#/components/schemas/DecodingParamEnum'
          type: array
      required:
      - parameters
      type: object
    IssueFoundInput:
      properties:
        admin_override:
          type: boolean
        description:
          type: string
        title:
          type: string
      required:
      - title
      - description
      - admin_override
      type: object
    RunPythonInput:
      properties:
        code:
          type: string
        connector:
          type:
          - string
          - 'null'
        timeout_seconds:
          format: int64
          minimum: 0
          type:
          - integer
          - 'null'
        working_dir:
          type:
          - string
          - 'null'
      required:
      - code
      type: object
    ConnectorWithSnippets:
      allOf:
      - $ref: '#/components/schemas/Connector'
      - properties:
          usage_snippet_global:
            type:
            - string
            - 'null'
        type: object
    WorkflowSessionNodeId:
      format: uuid
      type: string
    SearchConnectorTablesInput:
      properties:
        query:
          type: string
        wiki_tag:
          type:
          - string
          - 'null'
      required:
      - query
      type: object
    ConnectorSummary:
      properties:
        id:
          $ref: '#/components/schemas/ConnectorId'
        logo_url:
          description: Base64 data URI for the logo (e.g., "data:image/svg+xml;base64,...")
          type:
          - string
          - 'null'
        name:
          type: string
      required:
      - id
      - name
      type: object
    LLMRelationship:
      additionalProperties: false
      properties:
        properties:
          additionalProperties:
            $ref: '#/components/schemas/BasicPropValue'
          type: object
        source:
          minimum: 0
          type: integer
        target:
          minimum: 0
          type: integer
        type:
          type: string
      required:
      - type
      - source
      - target
      type: object
    ApiExecuteInput:
      properties:
        code:
          type: string
      required:
      - code
      type: object
    SpeakerTag:
      enum:
      - user
      - system
      - assistant
      type: string
    ExploreConnectorRequest:
      properties:
        database_id:
          allOf:
          - $ref: '#/components/schemas/ConnectorDatabaseId'
        only_do_datahub:
          description: If true, run only DataHub ingestion without queuing Diego annotation jobs.
          type:
          - boolean
          - 'null'
        schema_id:
          allOf:
          - $ref: '#/components/schemas/ConnectorSchemaId'
        table_id:
          allOf:
          - $ref: '#/components/schemas/ConnectorTableId'
      type: object
    ApplyPatchEdit:
      properties:
        new_string:
          type: string
        old_string:
          type: string
      required:
      - old_string
      - new_string
      type: object
    ToolInvocation:
      discriminator:
        propertyName: name
      oneOf:
      - properties:
          input:
            $ref: '#/components/schemas/WebSearchInput'
          name:
            enum:
            - WebSearch
            type: string
        required:
        - name
        - input
        type: object
      - properties:
          input:
            $ref: '#/components/schemas/WebNavigateInput'
          name:
            enum:
            - WebNavigate
            type: string
        required:
        - name
        - input
        type: object
      - properties:
          input:
            $ref: '#/components/schemas/ViewPageInput'
          name:
            enum:
            - ViewPage
            type: string
        required:
        - name
        - input
        type: object
      - properties:
          input:
            $ref: '#/components/schemas/SaveInput'
          name:
            enum:
            - Save
            type: string
        required:
        - name
        - input
        type: object
      - properties:
          input:
            $ref: '#/components/schemas/SaveEntitiesInput'
          name:
            enum:
            - SaveEntities
            type: string
        required:
        - name
        - input
        type: object
      - properties:
          input:
            $ref: '#/components/schemas/ExitInput'
          name:
            enum:
            - Exit
            type: string
        required:
        - name
        - input
        type: object
      - properties:
          input:
            $ref: '#/components/schemas/ApiExecuteInput'
          name:
            enum:
            - ApiExecute
            type: string
        required:
        - name
        - input
        type: object
      - properties:
          input:
            $ref: '#/components/schemas/JavascriptInput'
          name:
            enum:
            - Javascript
            type: string
        required:
        - name
        - input
        type: object
      - properties:
          input:
            $ref: '#/components/schemas/NavigateToIFrameInput'
          name:
            enum:
            - NavigateToIFrame
            type: string
        required:
        - name
        - input
        type: object
      - properties:
          input:
            $ref: '#/components/schemas/InfiniteScrollInput'
          name:
            enum:
            - InfiniteScroll
            type: string
        required:
        - name
        - input
        type: object
      - properties:
          input:
            $ref: '#/components/schemas/InspectStepInput'
          name:
            enum:
            - InspectStep
            type: string
        required:
        - name
        - input
        type: object
      - properties:
          input:
            $ref: '#/components/schemas/ReadNodeLogsInput'
          name:
            enum:
            - ReadNodeLogs
            type: string
        required:
        - name
        - input
        type: object
      - properties:
          input:
            $ref: '#/components/schemas/DeleteFileInput'
          name:
            enum:
            - DeleteFile
            type: string
        required:
        - name
        - input
        type: object
      - properties:
          input:
            $ref: '#/components/schemas/MoveFileInput'
          name:
            enum:
            - MoveFile
            type: string
        required:
        - name
        - input
        type: object
      - properties:
          input:
            $ref: '#/components/schemas/ApplyPatchInput'
          name:
            enum:
            - ApplyPatch
            type: string
        required:
        - name
        - input
        type: object
      - properties:
          input:
            $ref: '#/components/schemas/RunBashInput'
          name:
            enum:
            - RunBash
            type: string
        required:
        - name
        - input
        type: object
      - properties:
          input:
            $ref: '#/components/schemas/RunPythonInput'
          name:
            enum:
            - RunPython
            type: string
        required:
        - name
        - input
        type: object
      - properties:
          input:
            $ref: '#/components/schemas/IssueFoundInput'
          name:
            enum:
            - IssueFound
            type: string
        required:
        - name
        - input
        type: object
      - properties:
          input:
            $ref: '#/components/schemas/SaveDatabaseInput'
          name:
            enum:
            - SaveDatabase
            type: string
        required:
        - name
        - input
        type: object
      - properties:
          input:
            $ref: '#/components/schemas/SaveSchemaInput'
          name:
            enum:
            - SaveSchema
            type: string
        required:
        - name
        - input
        type: object
      - properties:
          input:
            $ref: '#/components/schemas/SaveTableInput'
          name:
            enum:
            - SaveTable
            type: string
        required:
        - name
        - input
        type: object
      - properties:
          input:
            $ref: '#/components/schemas/SaveColumnInput'
          name:
            enum:
            - SaveColumn
            type: string
        required:
        - name
        - input
        type: object
      - properties:
          input:
            $ref: '#/components/schemas/SaveApiResourceInput'
          name:
            enum:
            - SaveApiResource
            type: string
        required:
        - name
        - input
        type: object
      - properties:
          input:
            $ref: '#/components/schemas/SaveMemoryInput'
          name:
            enum:
            - SaveMemory
            type: string
        required:
        - name
        - input
        type: object
      - properties:
          input:
            $ref: '#/components/schemas/SearchConnectorTablesInput'
          name:
            enum:
            - SearchConnectorTables
            type: string
        required:
        - name
        - input
        type: object
      - properties:
          input:
            $ref: '#/components/schemas/RequestClarificationInput'
          name:
            enum:
            - RequestClarification
            type: string
        required:
        - name
        - input
        type: object
      - properties:
          input:
            $ref: '#/components/schemas/AddDependencyInput'
          name:
            enum:
            - AddDependency
            type: string
        required:
        - name
        - input
        type: object
      - properties:
          input:
            $ref: '#/components/schemas/SelectDataInput'
          name:
            enum:
            - SelectData
            type: string
        required:
        - name
        - input
        type: object
      - properties:
          input:
            $ref: '#/components/schemas/CreateConnectorInput'
          name:
            enum:
            - CreateConnector
            type: string
        required:
        - name
        - input
        type: object
      - properties:
          input:
            $ref: '#/components/schemas/SearchConnectorTypesInput'
          name:
            enum:
            - SearchConnectorTypes
            type: string
        required:
        - name
        - input
        type: object
      - properties:
          input:
            $ref: '#/components/schemas/PinPreviousToolInput'
          name:
            enum:
            - PinPreviousTool
            type: string
        required:
        - name
        - input
        type: object
      - properties:
          input:
            $ref: '#/components/schemas/RunPipelineInput'
          name:
            enum:
            - RunPipeline
            type: string
        required:
        - name
        - input
        type: object
    CodeExecutionResult:
      properties:
        return_code:
          format: int32
          type: integer
        stderr:
          type: string
        stdout:
          type: string
      required:
      - stdout
      - stderr
      - return_code
      type: object
    BasicPropValue:
      oneOf:
      - type: string
      - format: int64
        type: integer
      - type: boolean
      - format: double
        type: number
    InfiniteScrollInput:
      type: object
    ActionDef:
      description: Action definition
      properties:
        description:
          type: string
        name:
          type: string
      required:
      - name
      - description
      type: object
    SelectDataInput:
      properties:
        node_ids:
          items:
            type: string
          type: array
      required:
      - node_ids
      type: object
    ChatPrompt:
      properties:
        decoding_params:
          $ref: '#/components/schemas/DecodingParams'
        messages:
          items:
            $ref: '#/components/schemas/Message'
          type: array
        metadata:
          $ref: '#/components/schemas/PromptMeta'
      required:
      - metadata
      - messages
      - decoding_params
      type: object
    Job:
      properties:
        created_at:
          format: date-time
          type: string
        dataset_id:
          allOf:
          - $ref: '#/components/schemas/DatasetId'
        exploration_run_id:
          allOf:
          - $ref: '#/components/schemas/ExplorationRunId'
        id:
          $ref: '#/components/schemas/JobId'
        job_type:
          $ref: '#/components/schemas/JobType'
        max_errors:
          format: int32
          type:
          - integer
          - 'null'
        max_execution_time_secs:
          format: int32
          type:
          - integer
          - 'null'
        max_steps_without_save:
          format: int32
          type: integer
        max_total_steps:
          format: int32
          type:
          - integer
          - 'null'
        membership_id:
          $ref: '#/components/schemas/MembershipId'
        message:
          description: A message about the status of the job at completion
          type:
          - string
          - 'null'
        node_id:
          allOf:
          - $ref: '#/components/schemas/WorkflowSessionNodeId'
        parameters:
          description: Proto for JobInput
          format: binary
          type:
          - string
          - 'null'
        reason:
          description: A reason for the job's existence
          type:
          - string
          - 'null'
        run_started_time:
          description: What time did the job start running?
          format: date-time
          type:
          - string
          - 'null'
        run_time_milliseconds:
          format: int64
          type:
          - integer
          - 'null'
        seeded_kg_search_term:
          type:
          - string
          - 'null'
        status:
          $ref: '#/components/schemas/JobStatus'
        updated_at:
          format: date-time
          type: string
        use_proxy:
          type: boolean
        user_id:
          $ref: '#/components/schemas/UserId'
      required:
      - id
      - status
      - created_at
      - user_id
      - membership_id
      - job_type
      - max_steps_without_save
      - use_proxy
      - updated_at
      type: object
    DeleteSchemaObjectResponse:
      properties:
        object_id:
          description: The ID of the schema object that was deleted
          type: string
        object_type:
          description: The type of schema object that was deleted
          type: string
      required:
      - object_type
      - object_id
      type: object
    SaveDatabaseInput:
      properties:
        description:
          type:
          - string
          - 'null'
        name:
          type: string
        notes:
          type:
          - string
          - 'null'
      required:
      - name
      type: object
    UserId:
      format: uuid
      type: string
    ErrorResponse:
      description: Standard error response
      properties:
        error:
          type: string
      required:
      - error
      type: object
    ConnectorCategory:
      enum:
      - RelationalDatabase
      - ApiTabular
      type: string
    SaveEntitiesInput:
      properties:
        entities:
          items:
            additionalProperties:
              additionalProperties: true
              type: object
              x-stainless-empty-object: true
            type: object
          type: array
        reason:
          type: string
        sources:
          items:
            type: string
          type: array
      required:
      - entities
      - sources
      - reason
      type: object
    ExplorationRunId:
      format: uuid
      type: string
    LLMEntity:
      additionalProperties: false
      properties:
        id:
          minimum: 0
          type: integer
        properties:
          additionalProperties:
            $ref: '#/components/schemas/BasicPropValue'
          type: object
        type:
          type: string
      required:
      - id
      - type
      - properties
      type: object
    ConnectorTableSearchResult:
      description: Result struct for connector table search
      properties:
        columns:
          items:
            $ref: '#/components/schemas/ConnectorColumn'
          type: array
        database_name:
          type: string
[...]
