openapi: 3.0.3
info:
  contact:
    email: team@structify.ai
    name: Structify Team
  description: Every enterprise's data team.
  license:
    name: Discuss directly with founders for license.
    url: https://structify.ai
  title: Structify account jobs API
  version: 0.1.0
servers:
- description: Production server
  url: https://api.structify.ai
- description: Local server
  url: http://localhost:8080
security:
- api_key: []
- session_token: []
tags:
- name: jobs
paths:
  /jobs/cancel/{uuid}:
    post:
      operationId: cancel_job
      parameters:
      - description: UUID of the job you want to cancel.
        in: path
        name: uuid
        required: true
        schema:
          format: uuid
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Job'
          description: Succesfully cancelled a job.
      summary: You successfully cancelled a job.
      tags:
      - jobs
  /jobs/get/{job_id}:
    get:
      operationId: get_job
      parameters:
      - in: path
        name: job_id
        required: true
        schema:
          $ref: '#/components/schemas/JobId'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobResponse'
          description: Full job details including info, source entities, and scrapers.
      tags:
      - jobs
  /jobs/list:
    get:
      operationId: jobs_list
      parameters:
      - in: query
        name: offset
        required: false
        schema:
          minimum: 0
          type: integer
      - in: query
        name: limit
        required: false
        schema:
          minimum: 0
          type: integer
      - description: Dataset name to optionally filter jobs by
        in: query
        name: dataset
        required: false
        schema:
          nullable: true
          type: string
      - description: Status to optionally filter jobs by
        in: query
        name: status
        required: false
        schema:
          allOf:
          - $ref: '#/components/schemas/JobStatus'
          nullable: true
      - description: List since a specific timestamp
        in: query
        name: since
        required: false
        schema:
          format: date-time
          nullable: true
          type: string
      - description: Type of job to optionally filter jobs by
        in: query
        name: job_type
        required: false
        schema:
          allOf:
          - $ref: '#/components/schemas/JobType'
          nullable: true
      - description: seeded kg search term
        in: query
        name: seeded_kg_search_term
        required: false
        schema:
          nullable: true
          type: string
      - description: Node ID to optionally filter jobs by
        in: query
        name: node_id
        required: false
        schema:
          allOf:
          - $ref: '#/components/schemas/WorkflowSessionNodeId'
          nullable: true
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ListJobsResponse'
                type: array
          description: A list of all execution histories
      summary: List all the executions
      tags:
      - jobs
  /jobs/schedule:
    post:
      description: 'One example use case is every single day check the news websites and

        pull them into my dataset.'
      operationId: schedule_job
      responses:
        '200':
          description: Succesfully scheduled a job.
      summary: You successfully scheduled a job.
      tags:
      - jobs
  /jobs/{job_id}/events:
    get:
      operationId: get_job_events
      parameters:
      - description: Id of the job whose events to get.
        in: path
        name: job_id
        required: true
        schema:
          $ref: '#/components/schemas/JobId'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetJobEventsResponse'
          description: Successfully got job events.
        '400':
          description: Job not found
        '401':
          description: Unauthorized
      security:
      - api_key: []
      - session_token: []
      tags:
      - jobs
components:
  schemas:
    PinPreviousToolInput:
      properties:
        path:
          type: string
      required:
      - path
      type: object
    RunPythonInput:
      properties:
        code:
          type: string
        connector:
          nullable: true
          type: string
        timeout_seconds:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        working_dir:
          nullable: true
          type: string
      required:
      - code
      type: object
    TableDescriptor:
      additionalProperties: false
      description: The full definition of what a schema is - without duplicate information.
      properties:
        description:
          type: string
        expected_cardinality:
          description: 'Expected number of unique values in the complete dataset.


            This is used for our probabilistic merge strategy.'
          format: int64
          minimum: 0
          nullable: true
          type: integer
        name:
          description: Organized in a name, description format.
          type: string
        primary_column:
          nullable: true
          type: string
        properties:
          description: Organized in a name, description format.
          items:
            $ref: '#/components/schemas/PropertyDescriptor'
          type: array
      required:
      - name
      - description
      - properties
      type: object
    ScraperMeta:
      properties:
        html_content:
          type: string
        url:
          type: string
      required:
      - html_content
      - url
      type: object
    ChatEvent:
      description: Events in a chat session timeline, including messages and unified tool calls/results
      oneOf:
      - properties:
          TextMessage:
            properties:
              message:
                type: string
            required:
            - message
            type: object
        required:
        - TextMessage
        type: object
      - properties:
          Thinking:
            properties:
              block_id:
                format: int64
                minimum: 0
                type: integer
              complete:
                type: boolean
              content:
                type: string
            required:
            - content
            - complete
            - block_id
            type: object
        required:
        - Thinking
        type: object
      - properties:
          File:
            description: 'The file event can''t be serialized to the database safely without the content.

              When streaming, we start with the path only, then add the content as we go.'
            properties:
              block_id:
                format: int64
                minimum: 0
                type: integer
              complete:
                type: boolean
              content:
                nullable: true
                type: string
              path:
                type: string
            required:
            - path
            - complete
            - block_id
            type: object
        required:
        - File
        type: object
      - properties:
          Action:
            properties:
              actions:
                items:
                  $ref: '#/components/schemas/ActionDef'
                type: array
              block_id:
                format: int64
                minimum: 0
                type: integer
              complete:
                type: boolean
            required:
            - actions
            - complete
            - block_id
            type: object
        required:
        - Action
        type: object
      - properties:
          Connector:
            properties:
              description:
                nullable: true
                type: string
              env_vars:
                items:
                  type: string
                type: array
              name:
                type: string
            required:
            - name
            - env_vars
            type: object
        required:
        - Connector
        type: object
      - properties:
          ToolCall:
            properties:
              block_id:
                format: int64
                minimum: 0
                type: integer
              complete:
                type: boolean
              invocation:
                $ref: '#/components/schemas/ToolInvocation'
              tool_result:
                $ref: '#/components/schemas/ToolResult'
            required:
            - invocation
            - tool_result
            - block_id
            - complete
            type: object
        required:
        - ToolCall
        type: object
      - properties:
          Question:
            properties:
              block_id:
                format: int64
                minimum: 0
                type: integer
              complete:
                type: boolean
              content:
                type: string
              options:
                items:
                  type: string
                type: array
            required:
            - content
            - complete
            - options
            - block_id
            type: object
        required:
        - Question
        type: object
      - properties:
          InternalError:
            properties:
              error_kind:
                $ref: '#/components/schemas/InternalErrorKind'
              message:
                type: string
            required:
            - message
            type: object
        required:
        - InternalError
        type: object
      - properties:
          ReviewRequest:
            properties:
              node_summaries:
                items:
                  $ref: '#/components/schemas/NodeSummary'
                type: array
            required:
            - node_summaries
            type: object
        required:
        - ReviewRequest
        type: object
      - properties:
          AttachedFile:
            properties:
              image_bytes:
                format: binary
                nullable: true
                type: string
              path:
                type: string
            required:
            - path
            type: object
        required:
        - AttachedFile
        type: object
      - properties:
          ConnectorRequest:
            properties:
              connector_id:
                $ref: '#/components/schemas/ConnectorId'
            required:
            - connector_id
            type: object
        required:
        - ConnectorRequest
        type: object
      - properties:
          UserInterrupted:
            type: object
        required:
        - UserInterrupted
        type: object
      - properties:
          IssueFound:
            properties:
              admin_override:
                type: boolean
              description:
                type: string
              title:
                type: string
            required:
            - title
            - description
            - admin_override
            type: object
        required:
        - IssueFound
        type: object
    TimeStampedJobEvent:
      properties:
        body:
          $ref: '#/components/schemas/JobEventBody'
        created_at:
          format: date-time
          type: string
      required:
      - created_at
      - body
      type: object
    ReasoningEffort:
      enum:
      - low
      - medium
      - high
      - minimal
      type: string
    MergeStrategy:
      oneOf:
      - description: 'Property with unique 1:1 correspondence to its parent.


          Merge based on this property 100% of the time'
        enum:
        - Unique
        type: string
      - properties:
          Probabilistic:
            $ref: '#/components/schemas/MergeConfig'
        required:
        - Probabilistic
        type: object
      - enum:
        - NoSignal
        type: string
    Money:
      oneOf:
      - description: 'Money string that includes currency and amount: $10k, £100.00, 1 million CAD, ¥1e8 etc.'
        title: MoneyString
        type: string
      - properties:
          amount:
            type: number
          currency_code:
            enum:
            - USD
            - EUR
            - GBP
            - JPY
            - CNY
            - INR
            - RUB
            - CAD
            - AUD
            - CHF
            - ILS
            - NZD
            - SGD
            - HKD
            - NOK
            - SEK
            - PLN
            - TRY
            - DKK
            - MXN
            - ZAR
            - PHP
            - VND
            - THB
            - BRL
            - KRW
            type: string
          original_string:
            type: string
        required:
        - currency_code
        - amount
        - original_string
        title: MoneyObject
        type: object
      title: MoneyProperty
    DecodingParams:
      properties:
        parameters:
          items:
            $ref: '#/components/schemas/DecodingParamEnum'
          type: array
      required:
      - parameters
      type: object
    ConnectorTableId:
      format: uuid
      type: string
    JobStatus:
      enum:
      - Queued
      - Running
      - Completed
      - Failed
      type: string
    ApplyPatchEdit:
      properties:
        new_string:
          type: string
        old_string:
          type: string
      required:
      - old_string
      - new_string
      type: object
    DecodingParamEnum:
      oneOf:
      - properties:
          MaxTokens:
            minimum: 0
            type: integer
        required:
        - MaxTokens
        type: object
      - properties:
          MaxCompletionTokens:
            minimum: 0
            type: integer
        required:
        - MaxCompletionTokens
        type: object
      - properties:
          TopP:
            format: float
            type: number
        required:
        - TopP
        type: object
      - properties:
          RepeatWindow:
            minimum: 0
            type: integer
        required:
        - RepeatWindow
        type: object
      - properties:
          RepeatPenalty:
            format: float
            type: number
        required:
        - RepeatPenalty
        type: object
      - properties:
          Temperature:
            format: float
            type: number
        required:
        - Temperature
        type: object
      - properties:
          StopTokens:
            items:
              type: string
            type: array
        required:
        - StopTokens
        type: object
      - properties:
          LogitBias:
            additionalProperties:
              format: float
              type: number
            type: object
        required:
        - LogitBias
        type: object
      - properties:
          Functions:
            items:
              additionalProperties: true
              type: object
              x-stainless-empty-object: true
            type: array
        required:
        - Functions
        type: object
      - properties:
          JsonValidator:
            additionalProperties: true
            type: object
            x-stainless-empty-object: true
        required:
        - JsonValidator
        type: object
      - properties:
          RegexValidator:
            type: string
        required:
        - RegexValidator
        type: object
      - properties:
          ContextFreeGrammar:
            type: string
        required:
        - ContextFreeGrammar
        type: object
      - properties:
          NumBeams:
            minimum: 0
            type: integer
        required:
        - NumBeams
        type: object
      - properties:
          Crop:
            type: boolean
        required:
        - Crop
        type: object
      - properties:
          Thinking:
            description: Thinking tokens for Claude 3.7. Contains the budget in tokens for thinking.
            minimum: 0
            type: integer
        required:
        - Thinking
        type: object
      - properties:
          Verbosity:
            $ref: '#/components/schemas/Verbosity'
        required:
        - Verbosity
        type: object
      - properties:
          ReasoningEffort:
            $ref: '#/components/schemas/ReasoningEffort'
        required:
        - ReasoningEffort
        type: object
    SearchConnectorTypesInput:
      properties:
        query:
          nullable: true
          type: string
      type: object
    ToolInvocation:
      discriminator:
        propertyName: name
      oneOf:
      - properties:
          input:
            $ref: '#/components/schemas/WebSearchInput'
          name:
            enum:
            - WebSearch
            type: string
        required:
        - name
        - input
        type: object
      - properties:
          input:
            $ref: '#/components/schemas/WebNavigateInput'
          name:
            enum:
            - WebNavigate
            type: string
        required:
        - name
        - input
        type: object
      - properties:
          input:
            $ref: '#/components/schemas/ViewPageInput'
          name:
            enum:
            - ViewPage
            type: string
        required:
        - name
        - input
        type: object
      - properties:
          input:
            $ref: '#/components/schemas/SaveInput'
          name:
            enum:
            - Save
            type: string
        required:
        - name
        - input
        type: object
      - properties:
          input:
            $ref: '#/components/schemas/SaveEntitiesInput'
          name:
            enum:
            - SaveEntities
            type: string
        required:
        - name
        - input
        type: object
      - properties:
          input:
            $ref: '#/components/schemas/ExitInput'
          name:
            enum:
            - Exit
            type: string
        required:
        - name
        - input
        type: object
      - properties:
          input:
            $ref: '#/components/schemas/ApiExecuteInput'
          name:
            enum:
            - ApiExecute
            type: string
        required:
        - name
        - input
        type: object
      - properties:
          input:
            $ref: '#/components/schemas/JavascriptInput'
          name:
            enum:
            - Javascript
            type: string
        required:
        - name
        - input
        type: object
      - properties:
          input:
            $ref: '#/components/schemas/NavigateToIFrameInput'
          name:
            enum:
            - NavigateToIFrame
            type: string
        required:
        - name
        - input
        type: object
      - properties:
          input:
            $ref: '#/components/schemas/InfiniteScrollInput'
          name:
            enum:
            - InfiniteScroll
            type: string
        required:
        - name
        - input
        type: object
      - properties:
          input:
            $ref: '#/components/schemas/InspectStepInput'
          name:
            enum:
            - InspectStep
            type: string
        required:
        - name
        - input
        type: object
      - properties:
          input:
            $ref: '#/components/schemas/ReadNodeLogsInput'
          name:
            enum:
            - ReadNodeLogs
            type: string
        required:
        - name
        - input
        type: object
      - properties:
          input:
            $ref: '#/components/schemas/DeleteFileInput'
          name:
            enum:
            - DeleteFile
            type: string
        required:
        - name
        - input
        type: object
      - properties:
          input:
            $ref: '#/components/schemas/MoveFileInput'
          name:
            enum:
            - MoveFile
            type: string
        required:
        - name
        - input
        type: object
      - properties:
          input:
            $ref: '#/components/schemas/ApplyPatchInput'
          name:
            enum:
            - ApplyPatch
            type: string
        required:
        - name
        - input
        type: object
      - properties:
          input:
            $ref: '#/components/schemas/RunBashInput'
          name:
            enum:
            - RunBash
            type: string
        required:
        - name
        - input
        type: object
      - properties:
          input:
            $ref: '#/components/schemas/RunPythonInput'
          name:
            enum:
            - RunPython
            type: string
        required:
        - name
        - input
        type: object
      - properties:
          input:
            $ref: '#/components/schemas/IssueFoundInput'
          name:
            enum:
            - IssueFound
            type: string
        required:
        - name
        - input
        type: object
      - properties:
          input:
            $ref: '#/components/schemas/SaveDatabaseInput'
          name:
            enum:
            - SaveDatabase
            type: string
        required:
        - name
        - input
        type: object
      - properties:
          input:
            $ref: '#/components/schemas/SaveSchemaInput'
          name:
            enum:
            - SaveSchema
            type: string
        required:
        - name
        - input
        type: object
      - properties:
          input:
            $ref: '#/components/schemas/SaveTableInput'
          name:
            enum:
            - SaveTable
            type: string
        required:
        - name
        - input
        type: object
      - properties:
          input:
            $ref: '#/components/schemas/SaveColumnInput'
          name:
            enum:
            - SaveColumn
            type: string
        required:
        - name
        - input
        type: object
      - properties:
          input:
            $ref: '#/components/schemas/SaveApiResourceInput'
          name:
            enum:
            - SaveApiResource
            type: string
        required:
        - name
        - input
        type: object
      - properties:
          input:
            $ref: '#/components/schemas/SaveMemoryInput'
          name:
            enum:
            - SaveMemory
            type: string
        required:
        - name
        - input
        type: object
      - properties:
          input:
            $ref: '#/components/schemas/SearchConnectorTablesInput'
          name:
            enum:
            - SearchConnectorTables
            type: string
        required:
        - name
        - input
        type: object
      - properties:
          input:
            $ref: '#/components/schemas/RequestClarificationInput'
          name:
            enum:
            - RequestClarification
            type: string
        required:
        - name
        - input
        type: object
      - properties:
          input:
            $ref: '#/components/schemas/AddDependencyInput'
          name:
            enum:
            - AddDependency
            type: string
        required:
        - name
        - input
        type: object
      - properties:
          input:
            $ref: '#/components/schemas/SelectDataInput'
          name:
            enum:
            - SelectData
            type: string
        required:
        - name
        - input
        type: object
      - properties:
          input:
            $ref: '#/components/schemas/CreateConnectorInput'
          name:
            enum:
            - CreateConnector
            type: string
        required:
        - name
        - input
        type: object
      - properties:
          input:
            $ref: '#/components/schemas/SearchConnectorTypesInput'
          name:
            enum:
            - SearchConnectorTypes
            type: string
        required:
        - name
        - input
        type: object
      - properties:
          input:
            $ref: '#/components/schemas/PinPreviousToolInput'
          name:
            enum:
            - PinPreviousTool
            type: string
        required:
        - name
        - input
        type: object
      - properties:
          input:
            $ref: '#/components/schemas/RunPipelineInput'
          name:
            enum:
            - RunPipeline
            type: string
        required:
        - name
        - input
        type: object
    JobInput:
      properties:
        allow_extra_entities:
          type: boolean
        extraction_criteria:
          items:
            $ref: '#/components/schemas/SaveRequirement'
          type: array
        instructions:
          nullable: true
          type: string
        model:
          nullable: true
          type: string
        seeded_kg:
          allOf:
          - $ref: '#/components/schemas/LLMKnowledgeGraph'
          nullable: true
        structuring_input:
          $ref: '#/components/schemas/InputType'
      required:
      - structuring_input
      - extraction_criteria
      - allow_extra_entities
      type: object
    UserId:
      format: uuid
      type: string
    SourceLocation:
      oneOf:
      - properties:
          Text:
            properties:
              byte_offset:
                minimum: 0
                type: integer
            required:
            - byte_offset
            type: object
        required:
        - Text
        type: object
      - properties:
          Visual:
            properties:
              x:
                minimum: 0
                type: integer
              y:
                minimum: 0
                type: integer
            required:
            - x
            - y
            type: object
        required:
        - Visual
        type: object
      - properties:
          Page:
            properties:
              page_number:
                format: int32
                minimum: 0
                type: integer
            required:
            - page_number
            type: object
        required:
        - Page
        type: object
    ApiExecuteInput:
      properties:
        code:
          type: string
      required:
      - code
      type: object
    Input:
      oneOf:
      - properties:
          PDF:
            $ref: '#/components/schemas/PDFIngestor'
        required:
        - PDF
        type: object
      - properties:
          Web:
            $ref: '#/components/schemas/WebSearch'
        required:
        - Web
        type: object
    ConnectorExplorationInput:
      properties:
        connector_id:
          $ref: '#/components/schemas/ConnectorId'
        exploration_phase_id:
          $ref: '#/components/schemas/ExplorationPhaseId'
        exploration_run_id:
          $ref: '#/components/schemas/ExplorationRunId'
        strategy:
          $ref: '#/components/schemas/ExplorationStrategy'
      required:
      - connector_id
      - exploration_phase_id
      - exploration_run_id
      - strategy
      type: object
    NavigationType:
      enum:
      - visual
      - text
      type: string
    ToolResult:
      oneOf:
      - enum:
        - Pending
        type: string
      - enum:
        - NoResult
        type: string
      - properties:
          Error:
            type: string
        required:
        - Error
        type: object
      - properties:
          Text:
            type: string
        required:
        - Text
        type: object
      - properties:
          CodeExecution:
            $ref: '#/components/schemas/CodeExecutionResult'
        required:
        - CodeExecution
        type: object
      - properties:
          WebMarkdown:
            type: string
        required:
        - WebMarkdown
        type: object
      - properties:
          WebSearch:
            items:
              $ref: '#/components/schemas/DocSnippet'
            type: array
        required:
        - WebSearch
        type: object
      - properties:
          ConnectorSearch:
            items:
              $ref: '#/components/schemas/ConnectorTableResult'
            type: array
        required:
        - ConnectorSearch
        type: object
      - properties:
          NodeLogs:
            items:
              type: string
            type: array
        required:
        - NodeLogs
        type: object
      - enum:
        - Completed
        type: string
      - properties:
          Image:
            $ref: '#/components/schemas/ImageResult'
        required:
        - Image
        type: object
      - properties:
          Pinned:
            type: string
        required:
        - Pinned
        type: object
    ScraperWithJobInfo:
      properties:
        base_url:
          type: string
        chat:
          allOf:
          - $ref: '#/components/schemas/ChatPrompt'
          nullable: true
        code:
          nullable: true
          type: string
        events:
          items:
            $ref: '#/components/schemas/ChatEvent'
          nullable: true
          type: array
        is_newly_created:
          type: boolean
        next_page_code:
          nullable: true
          type: string
        scraper_created_at:
          format: date-time
          type: string
        scraper_id:
          $ref: '#/components/schemas/ScraperId'
        scraper_updated_at:
          format: date-time
          type: string
      required:
      - scraper_id
      - base_url
      - scraper_created_at
      - scraper_updated_at
      - is_newly_created
      type: object
    NavigateToIFrameInput:
      properties:
        index:
          format: int32
          minimum: 0
          type: integer
      required:
      - index
      type: object
    SaveMemoryInput:
      properties:
        key:
          type: string
        value:
          type: string
      required:
      - key
      - value
      type: object
    SaveSchemaInput:
      properties:
        description:
          nullable: true
          type: string
        name:
          type: string
        notes:
          nullable: true
          type: string
      required:
      - name
      type: object
    RequiredEntity:
      additionalProperties: false
      properties:
        entity_id:
          allOf:
          - $ref: '#/components/schemas/EntityId'
          nullable: true
        seeded_entity_id:
          description: The integer id corresponding to an entity in the seeded entity graph (different from the global dataset entity id)
          minimum: 0
          type: integer
      required:
      - seeded_entity_id
      type: object
    ActionDef:
      description: Action definition
      properties:
        description:
          type: string
        name:
          type: string
      required:
      - name
      - description
      type: object
    ConnectorColumnResult:
      properties:
        name:
          type: string
        notes:
          nullable: true
          type: string
        type:
          type: string
      required:
      - name
      - type
      type: object
    DatasetId:
      format: uuid
      type: string
    MessageContent:
      oneOf:
      - properties:
          Text:
            type: string
        required:
        - Text
        type: object
      - properties:
          Image:
            format: binary
            type: string
        required:
        - Image
        type: object
    RequestClarificationInput:
      properties:
        column_name:
          nullable: true
          type: string
        question:
          type: string
        table_name:
          type: string
      required:
      - table_name
      - question
      type: object
    PDFIngestor:
      additionalProperties: false
      description: Ingest all pages of a PDF and process them independently.
      properties:
        page:
          format: int32
          minimum: 0
          nullable: true
          type: integer
        path:
          type: string
      required:
      - path
      type: object
    LLMEntity:
      additionalProperties: false
      properties:
        id:
          minimum: 0
          type: integer
        properties:
          additionalProperties:
            $ref: '#/components/schemas/BasicPropValue'
          type: object
        type:
          type: string
      required:
      - id
      - type
      - properties
      type: object
    CodeExecutionResult:
      properties:
        return_code:
          format: int32
          type: integer
        stderr:
          type: string
        stdout:
          type: string
      required:
      - stdout
      - stderr
      - return_code
      type: object
    InfiniteScrollInput:
      type: object
    ConnectorId:
      format: uuid
      type: string
    SaveTableInput:
      properties:
        description:
          nullable: true
          type: string
        name:
          type: string
        notes:
          nullable: true
          type: string
      required:
      - name
      type: object
    TextMeta:
      properties:
        text:
          type: string
      required:
      - text
      type: object
    InternalErrorKind:
      description: 'Categorizes the kind of internal error that occurred during LLM generation.

        This allows the frontend to render appropriate error messages without regex matching.'
      enum:
      - unknown
      - context_limit
      - rate_limited
      - timeout
      - connection_error
      type: string
    MembershipId:
      format: uuid
      type: string
    LLMImage:
      properties:
        flag_number:
          minimum: 0
          nullable: true
          type: integer
        image:
          format: binary
          nullable: true
          type: string
      type: object
    JobType:
      enum:
      - Web
      - Pdf
      - Derive
      - Scrape
      - Match
      - ConnectorExplore
      - DatahubIngestion
      type: string
    LLMKnowledgeGraph:
      additionalProperties: false
      description: 'Knowledge graph info structured to deserialize and display

        in the same format that the LLM outputs.

        Also the first representation of an LLM output in the pipeline from raw tool output to being merged into a DB'
      properties:
        entities:
          items:
            $ref: '#/components/schemas/LLMEntity'
          type: array
        relationships:
          items:
            $ref: '#/components/schemas/LLMRelationship'
          type: array
      required:
      - entities
      type: object
    WebNavigateInput:
      properties:
        output_format:
          allOf:
          - $ref: '#/components/schemas/WebNavigateOutput'
          nullable: true
        url:
          type: string
      required:
      - url
      type: object
    SaveApiResourceInput:
      properties:
        description:
          nullable: true
          type: string
        endpoint:
          type: string
        name:
          type: string
        notes:
          nullable: true
          type: string
      required:
      - name
      - endpoint
      type: object
    RequiredProperty:
      additionalProperties: false
      properties:
        property_names:
          description: If there are multiple properties, it can match just one of them
          items:
            type: string
          type: array
        table_name:
          description: The table name of the entity to update
          type: string
      required:
      - table_name
      - property_names
      type: object
    BasicPropValue:
      oneOf:
      - type: string
      - format: int64
        type: integer
      - type: boolean
      - format: double
        type: number
    RunBashInput:
      properties:
        command:
          type: string
        connector:
          nullable: true
          type: string
        working_dir:
          nullable: true
          type: string
      required:
      - command
      type: object
    SaveEntitiesInput:
      properties:
        entities:
          items:
            additionalProperties:
              additionalProperties: true
              type: object
              x-stainless-empty-object: true
            type: object
          type: array
        reason:
          type: string
        sources:
          items:
            type: string
          type: array
      required:
      - entities
      - sources
      - reason
      type: object
    ConnectorSchemaId:
      format: uuid
      type: string
    InspectStepInput:
      properties:
        step_name:
          type: string
      required:
      - step_name
      type: object
    ReadNodeLogsInput:
      properties:
        log_type:
          nullable: true
          type: string
        node_function_name:
          type: string
      required:
      - node_function_name
      type: object
    SourceLink:
      oneOf:
      - properties:
          Web:
            properties:
              url:
                type: string
            required:
            - url
            type: object
        required:
        - Web
        type: object
      - properties:
          Document:
            properties:
              name:
                type: string
            required:
            - name
            type: object
        required:
        - Document
        type: object
      - properties:
          SecFiling:
            properties:
              accession_number:
                type: string
              cik_number:
                type: string
            required:
            - accession_number
            - cik_number
            type: object
        required:
        - SecFiling
        type: object
    SourceEntity:
      properties:
        created_at:
          format: date-time
          type: string
        id:
          $ref: '#/components/schemas/SourceEntityId'
        job_id:
          allOf:
          - $ref: '#/components/schemas/JobId'
          nullable: true
        kg_entity_id:
          allOf:
          - $ref: '#/components/schemas/EntityId'
          nullable: true
        label:
          type: string
        llm_id:
          format: int32
          type: integer
        properties:
          additionalProperties:
            $ref: '#/components/schemas/ComplexPropValue'
          type: object
        source_id:
          $ref: '#/components/schemas/SourceId'
      required:
      - id
      - label
      - llm_id
      - created_at
      - properties
      - source_id
      type: object
    SourceId:
      format: uuid
      type: string
    DeleteFileInput:
      properties:
        file:
          type: string
      required:
      - file
      type: object
    SaveDatabaseInput:
      properties:
        description:
          nullable: true
          type: string
        name:
          type: string
        notes:
          nullable: true
          type: string
      required:
      - name
      type: object
    PartialDate:
      oneOf:
      - properties:
          day:
            nullable: true
            type: integer
          month:
            nullable: true
            type: integer
          original_string:
            type: string
          year:
            type: integer
        required:
        - year
        - original_string
        title: PartialDateObject
        type: object
      - description: 'Date string in formats: ''YYYY'', ''YYYY-MM'', ''YYYY-MM-DD'', ''DD-MM-YYYY'', ''MM-DD-YYYY'', ''Jan 3, 2023'', ''3 Jan 2023'', ''2023 Apr 3'', etc.'
        title: PartialDateString
        type: string
      title: PartialDateProperty
    ComparisonStrategy:
      enum:
      - Default
      - EnforceUniqueness
      type: string
    ImageResult:
      properties:
        image_bytes:
          format: binary
          type: string
        ocr_text:
          nullable: true
          type: string
      required:
      - image_bytes
      type: object
    LLMRelationship:
      additionalProperties: false
      properties:
        properties:
          additionalProperties:
            $ref: '#/components/schemas/BasicPropValue'
          type: object
        source:
          minimum: 0
          type: integer
        target:
          minimum: 0
          type: integer
        type:
          type: string
      required:
      - type
      - source
      - target
      type: object
    AddDependencyInput:
      properties:
        package_name:
          type: string
        version_spec:
          nullable: true
          type: string
      required:
      - package_name
      type: object
    SearchConnectorTablesInput:
      properties:
        query:
          type: string
        wiki_tag:
          nullable: true
          type: string
      required:
      - query
      type: object
    ImageMeta:
      properties:
        document_name:
          nullable: true
          type: string
        document_page:
          format: int32
          minimum: 0
          nullable: true
          type: integer
        image:
          nullable: true
          type: string
        ocr_content:
          nullable: true
          type: string
      required:
      - image
      type: object
    JobId:
      format: uuid
      type: string
    RunPipelineInput:
      properties:
        rerun_all_steps:
          type: boolean
      type: object
    NodeSummary:
      properties:
        data_preview:
          nullable: true
          type: string
        image:
          format: binary
          nullable: true
          type: string
        in_dashboard:
          type: boolean
        name:
          type: string
      required:
      - name
      - in_dashboard
      type: object
    Flag:
      properties:
        ariaLabel:
          type: string
        height:
          format: double
          type: number
        href:
          nullable: true
          type: string
        isInteractive:
          nullable: true
          type: boolean
        number:
          description: The number by which the flag is referred in image, prompt, and tool calls.
          minimum: 0
          nullable: true
          type: integer
        text:
          type: string
        type:
          type: string
        width:
          description: 'The serde default here is to give us backwards compatibility

            it''s fine for these to be anything as long as the image isn''t

            given since it won''t regenerate.'
          format: double
          type: number
        x:
          format: double
          type: number
        y:
          format: double
          type: number
      required:
      - x
      - y
      - type
      - ariaLabel
      type: object
    ScrapePageInput:
      properties:
        batch_scrape:
          type: boolean
        url_property_name:
          type: string
        use_markdown:
          type: boolean
      required:
      - url_property_name
      - batch_scrape
      - use_markdown
      type: object
    PromptMeta:
      description: All metadata required to generate a prompt for the LLM
      properties:
        dataset_descriptor:
          $ref: '#/components/schemas/DatasetDescriptor'
        extracted_entities:
          items:
            $ref: '#/components/schemas/LLMKnowledgeGraph'
          type: array
        extraction_criteria:
          items:
            $ref: '#/components/schemas/SaveRequirement'
          type: array
        formatter_specific:
          $ref: '#/components/schemas/FormatterMeta'
        qa_potentially_sus_response:
          nullable: true
          type: string
      required:
      - dataset_descriptor
      - extracted_entities
      - extraction_criteria
      - formatter_specific
      type: object
    WebNavigateOutput:
      enum:
      - Text
      - Visual
      type: string
    RelationshipMergeStrategy:
      oneOf:
      - $ref: '#/components/schemas/RelationshipMergeProbability'
    ExplorationPhaseId:
      description: 'Identifies the phase of connector exploration


        This enum is used to track which phase of exploration a chat session belongs to.

        It''s stored as JSONB in the database to allow for flexible phase identification.'
      discriminator:
        propertyName: type
      oneOf:
      - description: 'First phase: discovering all databases in the connector'
        properties:
          connector_id:
            $ref: '#/components/schemas/ConnectorId'
          type:
            enum:
            - discover_databases
            type: string
        required:
        - connector_id
        - type
        type: object
      - description: 'Second phase: discovering all schemas in a database'
        properties:
          database_id:
            $ref: '#/components/schemas/ConnectorDatabaseId'
          database_name:
            type: string
          type:
            enum:
            - discover_schemas
            type: string
        required:
        - database_id
        - database_name
        - type
        type: object
      - description: 'Third phase: discovering all tables in a schema'
        properties:
          schema_id:
            $ref: '#/components/schemas/ConnectorSchemaId'
          schema_name:
            type: string
          type:
            enum:
            - discover_tables
            type: string
        required:
        - schema_id
        - schema_name
        - type
        type: object
      - description: 'Fourth phase: discovering columns for a specific table'
        properties:
          table_id:
            $ref: '#/components/schemas/ConnectorTableId'
          table_name:
            type: string
          type:
            enum:
            - discover_columns
            type: string
        required:
        - table_id
        - table_name
        - type
        type: object
      - description: 'Initial phase: discovering all API resources'
        properties:
          connector_id:
            $ref: '#/components/schemas/ConnectorId'
          type:
            enum:
            - discover_api_resources
            type: string
        required:
        - connector_id
        - type
        type: object
      - description: 'Second phase: discovering fields for a specific API resource'
        properties:
          resource_name:
            type: string
          table_id:
            $ref: '#/components/schemas/ConnectorTableId'
          type:
            enum:
            - discover_api_fields
            type: string
        required:
        - table_id
        - resource_name
        - type
        type: object
    WebSearch:
      properties:
        banned_domains:
          items:
            type: string
          type: array
        starting_searches:
          items:
            type: string
          type: array
        starting_urls:
          items:
            type: string
          type: array
      type: object
    FormatterMeta:
      oneOf:
      - properties:
          ImageMeta:
            $ref: '#/components/schemas/ImageMeta'
        required:
        - ImageMeta
        type: object
      - properties:
          WebMeta:
            $ref: '#/components/schemas/WebMeta'
        required:
        - WebMeta
        type: object
      - properties:
          TextMeta:
            $ref: '#/components/schemas/TextMeta'
        required:
        - TextMeta
        type: object
      - properties:
          ScraperMeta:
            $ref: '#/components/schemas/ScraperMeta'
        required:
        - ScraperMeta
        type: object
    ScraperId:
      format: uuid
      type: string
    DocSnippet:
      properties:
        snippet:
          type: string
        title:
          type: string
        url:
          type: string
      required:
      - title
      - url
      - snippet
      type: object
    SelectDataInput:
      properties:
        node_ids:
          items:
            type: string
          type: array
      required:
      - node_ids
      type: object
    SaveColumnInput:
      properties:
        column_name:
          type: string
        column_type:
          type: string
        notes:
          nullable: true
          type: string
      required:
      - column_name
      - column_type
      type: object
    SpeakerTag:
      enum:
      - user
      - system
      - assistant
      type: string
    JobEventBody:
      description: The body content of a job event
      discriminator:
        propertyName: event_type
      oneOf:
      - properties:
          event_type:
            enum:
            - agent_navigated
            type: string
          mode:
            $ref: '#/components/schemas/NavigationType'
          url:
            type: string
        required:
        - url
        - mode
        - event_type
        type: object
      - properties:
          event_type:
            enum:
            - agent_searched
            type: string
          query:
            type: string
          results:
            items:
              items:
                allOf:
                - type: string
                - type: string
              type: array
            type: array
        required:
        - query
        - results
        - event_type
        type: object
      - properties:
          event_type:
            enum:
            - agent_saved
            type: string
          kg:
            $ref: '#/components/schemas/LLMKnowledgeGraph'
          page:
            format: int32
            minimum: 0
            nullable: true
            type: integer
          reason:
            nullable: true
            type: string
          sources:
            items:
              type: string
            type: array
        required:
        - sources
        - kg
        - event_type
        type: object
      - properties:
          event_type:
            enum:
            - agent_exited
            type: string
          reason:
            nullable: true
            type: string
        required:
        - event_type
        type: object
      - properties:
          api_candidate_count:
            minimum: 0
            type: integer
          event_type:
            enum:
            - api_network_captured
            type: string
          request_count:
            minimum: 0
            type: integer
          url:
            type: string
        required:
        - url
        - request_count
        - api_candidate_count
        - event_type
        type: object
      - properties:
          code_preview:
            type: string
          event_type:
            enum:
            - api_js_executed
            type: string
          success:
            type: boolean
        required:
        - code_preview
        - success
        - event_type
        type: object
      - properties:
          event_type:
            enum:
            - derived_property
            type: string
          property:
            type: string
          value:
            type: string
        required:
        - property
        - value
        - event_type
        type: object
      - properties:
          error:
            type: string
          event_type:
            enum:
            - failed
            type: string
          summary:
            nullable: true
            type: string
        required:
        - error
        - event_type
        type: object
      - properties:
          event_type:
            enum:
            - completed
            type: string
          message:
            nullable: true
            type: string
        required:
        - event_type
        type: object
      - properties:
          cached_from_job_id:
            $ref: '#/components/schemas/JobId'
          event_type:
            enum:
            - cache_hit
            type: string
          message:
            nullable: true
            type: string
        required:
        - cached_from_job_id
        - event_type
        type: object
      - properties:
          candidate_indices:
            items:
              minimum: 0
              type: integer
            type: array
          candidates:
            items:
              additionalProperties:
                $ref: '#/components/schemas/BasicPropValue'
              type: object
            type: array
          event_type:
            enum:
            - attempted_match
            type: string
          match_idx:
            minimum: 0
            nullable: true
            type: integer
          raw_text:
            nullable: true
            type: string
          reason:
            type: string
          source_entity_index:
            minimum: 0
            nullable: true
            type: integer
          target:
            additionalProperties:
              $ref: '#/components/schemas/BasicPropValue'
            type: object
        required:
        - reason
        - target
        - candidates
        - event_type
        type: object
      - properties:
          datasets_in_page:
            minimum: 0
            type: integer
          event_type:
            enum:
            - datahub_page_fetched
            type: string
          page_num:
            format: int32
            type: integer
          total_datasets:
            minimum: 0
            type: integer
        required:
        - page_num
        - datasets_in_page
        - total_datasets
        - event_type
        type: object
      - properties:
          count:
            minimum: 0
            type: integer
          event_type:
            enum:
            - datahub_databases_created
            type: string
        required:
        - count
        - event_type
        type: object
      - properties:
          count:
            minimum: 0
            type: integer
          event_type:
            enum:
            - datahub_schemas_created
            type: string
        required:
        - count
        - event_type
        type: object
      - properties:
          column_lineage_count:
            minimum: 0
            type: integer
          event_type:
            enum:
            - datahub_tables_processed
            type: string
          table_lineage_count:
            minimum: 0
            type: integer
          tables_created:
            minimum: 0
            type: integer
          tables_failed:
            minimum: 0
            type: integer
          tables_removed:
            minimum: 0
            type: integer
          tables_updated:
            minimum: 0
            type: integer
        required:
        - tables_created
        - tables_updated
        - tables_removed
        - tables_failed
        - table_lineage_count
        - column_lineage_count
        - event_type
        type: object
      - properties:
          diff_annotations_queued:
            minimum: 0
            type: integer
          event_type:
            enum:
            - datahub_annotations_queued
            type: string
          full_annotations_queued:
            minimum: 0
            type: integer
        required:
        - full_annotations_queued
        - diff_annotations_queued
        - event_type
        type: object
      - properties:
          event_type:
            enum:
            - datahub_ingestion_progress
            type: string
          records_written:
            minimum: 0
            type: integer
        required:
        - records_written
        - event_type
        type: object
      - properties:
          batch_num:
            minimum: 0
            type: integer
          event_type:
            enum:
            - datahub_embedding_batch
            type: string
          tables_in_batch:
            minimum: 0
            type: integer
          total_batches:
            minimum: 0
            type: integer
        required:
        - batch_num
        - total_batches
        - tables_in_batch
        - event_type
        type: object
      - properties:
          event_type:
            enum:
            - viewed_pdf_page
            type: string
          page_index:
            format: int32
            minimum: 0
            type: integer
        required:
        - page_index
        - event_type
        type: object
    WebMeta:
      properties:
        flags:
          items:
            $ref: '#/components/schemas/Flag'
          type: array
        ocr_content:
          nullable: true
          type: string
        screenshot:
          format: binary
          nullable: true
          type: string
        url:
          type: string
      required:
      - url
      - flags
      type: object
    DatahubIngestionInput:
      properties:
        connector_id:
          $ref: '#/components/schemas/ConnectorId'
        exploration_run_id:
          $ref: '#/components/schemas/ExplorationRunId'
        only_do_datahub:
          type: boolean
      required:
      - connector_id
      - exploration_run_id
      - only_do_datahub
      type: object
    Address:
      oneOf:
      - properties:
          components:
            additionalProperties:
              type: string
            type: object
          original_address:
            type: string
        required:
        - original_address
        - components
        title: AddressObject
        type: object
      - description: 'Address string in formats: ''123 Main St, Springfield, IL 62701, USA'', ''1600 Amphitheatre Parkway, Mountain View, California 94043'', ''1600 Pennsylvania Ave NW, Washington, DC 20500'', ''NYC, NY'', ''Oahu, Hawaii'''
        title: AddressString
        type: string
      title: AddressProperty
    ChatPrompt:
      properties:
        decoding_params:
          $ref: '#/components/schemas/DecodingParams'
        messages:
          items:
            $ref: '#/components/schemas/Message'
          type: array
        metadata:
          $ref: '#/components/schemas/PromptMeta'
      required:
      - metadata
      - messages
      - decoding_params
      type: object
    EntityId:
      format: uuid
      type: string
    SourceEntityId:
      format: uuid
      type: string
    PropertyType:
      oneOf:
      - enum:
        - String
        type: string
      - enum:
        - Boolean
        type: string
      - properties:
          Enum:
            items:
              type: string
            type: array
        required:
        - Enum
        type: object
      - enum:
        - Integer
        type: string
      - enum:
        - Float
        type: string
      - enum:
        - Date
        type: string
      - enum:
        - URL
        type: string
      - enum:
        - Money
        type: string
      - enum:
        - Image
        type: string
      - enum:
        - PersonName
        type: string
      - enum:
        - Address
        type: string
    Message:
      description: Our generic definition of a message to a chat agent.
      properties:
        content:
          description: 'We want this to be a vec of contents so we can accurately

            capture an interleaving of images and text.


            This is meant to be a completely raw, unprocessed representation

            of the text. Don''t take stuff out.'
          items:
            $ref: '#/components/schemas/MessageContent'
          type: array
        role:
          $ref: '#/components/schemas/SpeakerTag'
      required:
      - role
      - content
      type: object
    RelationshipMergeProbability:
      properties:
        source_cardinality_given_target_match:
          description: 'Describes the expected cardinality of the source table when a match is found in the target table


            For example, if we have a source company and a target funding round, we expect the source company

            to appear in multiple funding rounds, but not *too* many.

            So if we have a funding round match, the expected number of unique companies is relatively small.

            This is an estimate of that number.'
          format: int64
          minimum: 0
          nullable: true
          type: integer
        target_cardinality_given_source_match:
          description: 'Describes the expected cardinality of the target table when a match is found in the source table


            For example, if we have a source company and a target funding round, we usually expect

            some number of funding rounds to be associated with a single company but not *too* many.

            So if we have a company match, the expected number of unique funding rounds is relatively small.

            This is an estimate of that number.'
          format: int64
          minimum: 0
          nullable: true
          type: integer
      type: object
    WorkflowSessionNodeId:
      format: uuid
      type: string
    IssueFoundInput:
      properties:
        admin_override:
          type: boolean
        description:
          type: string
        title:
          type: string
      required:
      - title
      - description
      - admin_override
      type: object
    ApplyPatchInput:
      properties:
        apply_all:
          type: boolean
        edits:
          items:
            $ref: '#/components/schemas/ApplyPatchEdit'
          type: array
        file:
          type: string
      required:
      - file
      - edits
      - apply_all
      type: object
    MoveFileInput:
      properties:
        file:
          type: string
        new_path:
          type: string
      required:
      - file
      - new_path
      type: object
    ExplorationStrategy:
      enum:
      - full
      - diff
      type: string
    WebSearchInput:
      properties:
        query:
          type: string
      required:
      - query
      type: object
    ConnectorDatabaseId:
      format: uuid
      type: string
    Verbosity:
      enum:
      - low
      - medium
      - high
      type: string
    Job:
      properties:
        created_at:
          format: date-time
          type: string
        dataset_id:
          allOf:
          - $ref: '#/components/schemas/DatasetId'
          nullable: true
        exploration_run_id:
          allOf:
          - $ref: '#/components/schemas/ExplorationRunId'
          nullable: true
        id:
          $ref: '#/components/schemas/JobId'
        job_type:
          $ref: '#/components/schemas/JobType'
        max_errors:
          format: int32
          nullable: true
          type: integer
        max_execution_time_secs:
          format: int32
          nullable: true
          type: integer
        max_steps_without_save:
          format: int32
          type: integer
        max_total_steps:
          format: int32
          nullable: true
          type: integer
        membership_id:
          $ref: '#/components/schemas/MembershipId'
        message:
          description: A message about the status of the job at completion
          nullable: true
          type: string
        node_id:
          allOf:
          - $ref: '#/components/schemas/WorkflowSessionNodeId'
          nullable: true
        parameters:
          description: Proto for JobInput
          format: binary
          nullable: true
          type: string
        reason:
          description: A reason for the job's existence
          nullable: true
          type: string
        run_started_time:
          description: What time did the job start running?
          format: date-time
          nullable: true
          type: string
        run_time_milliseconds:
          format: int64
          nullable: true
          type: integer
        seeded_kg_search_term:
          nullable: true
          type: string
        status:
          $ref: '#/components/schemas/JobStatus'
        updated_at:
          format: date-time
          type: string
        use_proxy:
          type: boolean
        user_id:
          $ref: '#/components/schemas/UserId'
      required:
      - id
      - status
      - created_at
      - user_id
      - membership_id
      - job_type
      - max_steps_without_save
      - use_proxy
      - updated_at
      type: object
    Source:
      properties:
        created_at:
          format: date-time
          type: string
        id:
          $ref: '#/components/schemas/SourceId'
        is_summary:
          type: boolean
        link:
          allOf:
          - $ref: '#/components/schemas/SourceLink'
          nullable: true
        location:
          allOf:
          - $ref: '#/components/schemas/SourceLocation'
          nullable: true
        scraper_id:
          allOf:
          - $ref: '#/components/schemas/ScraperId'
          nullable: true
        user_specified:
          type: boolean
      required:
      - id
      - user_specified
      - is_summary
      - created_at
      type: object
    Url:
      oneOf:
      - description: Url string
        title: UrlString
        type: string
      - properties:
          original_string:
            type: string
          url:
            type: string
        required:
        - url
        - original_string
        title: UrlObject
        type: object
      title: UrlProperty
    ViewPageInput:
      properties:
        page_number:
          format: int32
          minimum: 0
          type: integer
      required:
      - page_number
      type: object
    SaveRequirement:
      description: It's an OR statement across these.
      oneOf:
      - $ref: '#/components/schemas/RequiredRelationship'
      - $ref: '#/components/schemas/RequiredEntity'
      - $ref: '#/components/schemas/RequiredProperty'
    ComplexPropValue:
      oneOf:
      - type: string
      - format: int64
        type: integer
      - type: boolean
      - format: double
        type: number
      - $ref: '#/components/schemas/PartialDate'
      - $ref: '#/components/schemas/Url'
      - $ref: '#/components/schemas/Money'
      - $ref: '#/components/schemas/LLMImage'
      - $ref: '#/components/schemas/PersonName'
      - $ref: '#/components/schemas/Address'
    DatasetDescriptor:
      additionalProperties: false
      description: 'A dataset is where you put multiple referential schemas.


        A dataset is a complete namespace where all references between schemas

        are held within the dataset.'
      properties:
        description:
          type: string
        llm_override_field:
          nullable: true
          type: string
        name:
          type: string
        relationships:
          items:
            $ref: '#/components/schemas/RelationshipDescriptor'
          type: array
        tables:
          items:
            $ref: '#/components/schemas/TableDescriptor'
          type: array
      required:
      - name
      - description
      - tables
      - relationships
      type: object
    ScrapePageUrlInput:
      properties:
        batch_scrape:
          type: boolean
        url:
          type: string
        use_markdown:
          type: boolean
      required:
      - url
      - batch_scrape
      - use_markdown
      type: object
    RelationshipDescriptor:
      additionalProperties: false
      properties:
        description:
          type: string
        merge_strategy:
          allOf:
          - $ref: '#/components/schemas/RelationshipMergeStrategy'
          nullable: true
        name:
          type: string
        properties:
          items:
            $ref: '#/components/schemas/PropertyDescriptor'
          type: array
        source_table:
          type: string
        target_table:
          type: string
      required:
      - name
      - description
      - source_table
      - target_table
      type: object
    SaveInput:
      properties:
        knowledge_graph:
          $ref: '#/components/schemas/LLMKnowledgeGraph'
        reason:
          type: string
        sources:
          items:
            type: string
          type: array
      required:
      - knowledge_graph
      - sources
      - reason
      type: object
    JavascriptInput:
      properties:
        code:
          type: string
      required:
      - code
      type: object
    GetJobEventsResponse:
      properties:
        events:
          items:
            $ref: '#/components/schemas/TimeStampedJobEvent'
          type: array
      required:
      - events
      type: object
    InputType:
      oneOf:
      - properties:
          Agent:
            $ref: '#/components/schemas/Input'
        required:
        - Agent
        type: object
      - properties:
          TransformationPrompt:
            type: string
        required:
        - TransformationPrompt
        type: object
      - properties:
          ScrapeFromUrlProperty:
            $ref: '#/components/schemas/ScrapePageInput'
        required:
        - ScrapeFromUrlProperty
        type: object
      - properties:
          ScrapeUrl:
            $ref: '#/components/schemas/ScrapePageUrlInput'
        required:
        - ScrapeUrl
        type: object
      - properties:
          DatahubIngestion:
            $ref: '#/components/schemas/DatahubIngestionInput'
        required:
        - DatahubIngestion
        type: object
      - properties:
          ConnectorExploration:
            $ref: '#/components/schemas/ConnectorExplorationInput'
        required:
        - ConnectorExploration
        type: object
    CreateConnectorInput:
      properties:
        connector_type:
          type: string
        description:
          nullable: true
          type: string
        name:
          type: string
        secrets:
          items:
            type: string
          type: array
      required:
      - name
      - connector_type
      type: object
    ExitInput:
      properties:
        reason:
          type: string
      required:
      - reason
      type: object
    ExplorationRunId:
      format: uuid
      type: string
    RequiredRelationship:
      additionalProperties: false
      properties:
        relationship_name:
          type: string
      required:
      - relationship_name
      type: object
    JobResponse:
      properties:
        agents:
          items:
            $ref: '#/components/schemas/ScraperWithJobInfo'
          type: array
        info:
          $ref: '#/components/schemas/ListJobsResponse'
        saved:
          items:
            items:
              allOf:
              - $ref: '#/components/schemas/SourceEntity'
              - $ref: '#/components/schemas/Source'
            type: array
          type: array
      required:
      - info
      - saved
      - agents
      type: object
    ListJobsResponse:
      properties:
        created_at:
          format: date-time
          type: string
        dataset_id:
          allOf:
          - $ref: '#/components/schemas/DatasetId'
          nullable: true
        id:
          $ref: '#/components/schemas/JobId'
        job_type:
          $ref: '#/components/schemas/JobType'
        message:
          nullable: true
          type: string
        parameters:
          allOf:
          - $ref: '#/components/schemas/JobInput'
          nullable: true
        reason:
          nullable: true
          type: string
        run_started_time:
          format: date-time
          nullable: true
          type: string
        run_time_milliseconds:
          format: int64
          nullable: true
          type: integer
        status:
          $ref: '#/components/schemas/JobStatus'
        user_id:
          $ref: '#/components/schemas/UserId'
      required:
      - id
      - status
      - created_at
      - job_type
      - user_id
      type: object
    ConnectorTableResult:
      properties:
        columns:
          items:
            $ref: '#/components/schemas/ConnectorColumnResult'
          type: array
        database:
          type: string
        description:
          nullable: true
          type: string
        notes:
          nullable: true
          type: string
        schema:
          type: string
        table_name:
          type: string
      required:
      - schema
      - database
      - table_name
      - columns
      type: object
    MergeConfig:
      description: The configuration for a probabilistic merge strategy
      properties:
        baseline_cardinality:
          description: 'The number of unique values that are expected to be present in the complete dataset


            This is used for merging to determine how significant a match is. (i.e. if there are

            only 2 possible values, a match gives less confidence than if there are 100)'
          format: int64
          minimum: 0
          type: integer
        comparison_strategy:
          $ref: '#/components/schemas/ComparisonStrategy'
        match_transfer_probability:
          description: 'The estimated probability that, given an entity match, the properties also match


            For a person''s full name, this would be quite high. For a person''s job title, it

            would be lower because people can have multiple job titles over time or at different

            companies at the same time.'
          format: float
          type: number
      required:
      - baseline_cardinality
      - match_transfer_probability
      type: object
    PropertyDescriptor:
      additionalProperties: false
      properties:
        description:
          type: string
        merge_strategy:
          $ref: '#/components/schemas/MergeStrategy'
        name:
          type: string
        prop_type:
          $ref: '#/components/schemas/PropertyType'
      required:
      - name
      - description
      type: object
    PersonName:
      properties:
        name:
          type: string
      required:
      - name
      type: object
  securitySchemes:
    api_key:
      in: header
      name: api_key
      type: apiKey
    session_token:
      scheme: bearer
      type: http
