openapi: 3.0.3
info:
  contact:
    email: team@structify.ai
    name: Structify Team
  description: Every enterprise's data team.
  license:
    name: Discuss directly with founders for license.
    url: https://structify.ai
  title: Structify account whitelabel API
  version: 0.1.0
servers:
- description: Production server
  url: https://api.structify.ai
- description: Local server
  url: http://localhost:8080
security:
- api_key: []
- session_token: []
tags:
- description: Whitelabeled service proxy endpoints
  name: whitelabel
paths:
  /whitelabel/{service}/estimate-cost/{path}:
    get:
      operationId: whitelabel_estimate_cost
      parameters:
      - in: path
        name: service
        required: true
        schema:
          type: string
      - in: path
        name: path
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhitelabelCostEstimateResponse'
          description: Whitelabel cost estimate returned.
        '404':
          description: Whitelabel route not found.
      security:
      - session_token: []
      - api_key: []
      tags:
      - whitelabel
  /whitelabel/{service}/{path}:
    get:
      operationId: whitelabel_proxy_get
      parameters:
      - in: path
        name: service
        required: true
        schema:
          type: string
      - in: path
        name: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Whitelabel request proxied.
        '400':
          description: Invalid request.
        '404':
          description: Whitelabel route not found.
        '500':
          description: Upstream request failed.
      security:
      - session_token: []
      - api_key: []
      tags:
      - whitelabel
    post:
      operationId: whitelabel_proxy_post
      parameters:
      - in: path
        name: service
        required: true
        schema:
          type: string
      - in: path
        name: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Whitelabel request proxied.
        '400':
          description: Invalid request.
        '404':
          description: Whitelabel route not found.
        '500':
          description: Upstream request failed.
      security:
      - session_token: []
      - api_key: []
      tags:
      - whitelabel
components:
  schemas:
    WhitelabelCostEstimateResponse:
      properties:
        estimated_credits:
          format: int64
          minimum: 0
          type: integer
      required:
      - estimated_credits
      type: object
  securitySchemes:
    api_key:
      in: header
      name: api_key
      type: apiKey
    session_token:
      scheme: bearer
      type: http
