openapi: 3.2.0
info:
  contact:
    email: team@structify.ai
    name: Structify Team
  description: Every enterprise's data team.
  license:
    name: Discuss directly with founders for license.
    url: https://structify.ai
  title: Structify User API
  version: 0.1.0
servers:
- description: Production server
  url: https://api.structify.ai
- description: Local server
  url: http://localhost:8080
security:
- api_key: []
- session_token: []
tags:
- name: User
paths:
  /user/enrich:
    post:
      operationId: user_enrich
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnrichUserParams'
        required: true
      responses:
        '202':
          description: Enrichment started
        '403':
          description: Admin access required
        '404':
          description: User not found
      security:
      - api_key: []
      - session_token: []
      tags:
      - User
      summary: User enrich
      x-summary-source: derived
  /user/update:
    put:
      operationId: user_update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserParams'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
          description: Updated
      security:
      - api_key: []
      - session_token: []
      summary: Update a user's permissions and type
      tags:
      - User
components:
  schemas:
    FeatureFlag:
      enum:
      - functional_test
      - pdf_parsing
      - boredm_construction_model
      - generic_suspicious_queue
      - new_use_case_preview
      - bedrock_codegen
      - cerebras_codegen
      - gemini25pro
      - claude_sonnet4
      - allow_job_deletion
      - none
      type: string
    EnrichUserParams:
      properties:
        email:
          type: string
      required:
      - email
      type: object
    Permission:
      enum:
      - labeler
      - qa_labeler
      - debug
      - human_llm
      - none
      type: string
    UserId:
      format: uuid
      type: string
    User:
      properties:
        apollo_data: {}
        company_description:
          type:
          - string
          - 'null'
        company_name:
          type:
          - string
          - 'null'
        completed_onboarding:
          type: boolean
        cost_confirmation_threshold:
          description: Cost confirmation threshold in credits (thousandth of a cent).
          format: int64
          type:
          - integer
          - 'null'
        created_at:
          format: date-time
          type: string
        cufinder_data: {}
        email:
          type: string
        feature_flags:
          items:
            allOf:
            - $ref: '#/components/schemas/FeatureFlag'
          type: array
        feature_overrides:
          additionalProperties: true
          type: object
          x-stainless-empty-object: true
        full_name:
          type: string
        id:
          $ref: '#/components/schemas/UserId'
        job_title:
          type:
          - string
          - 'null'
        last_activity:
          format: date-time
          type:
          - string
          - 'null'
        last_selected_team_id:
          allOf:
          - $ref: '#/components/schemas/TeamId'
        linkedin_url:
          type:
          - string
          - 'null'
        notify_for_interaction:
          type: boolean
        permissions:
          items:
            allOf:
            - $ref: '#/components/schemas/Permission'
          type: array
        slack_user_id:
          type:
          - string
          - 'null'
        slack_username:
          type:
          - string
          - 'null'
        survey_completed_at:
          format: date-time
          type:
          - string
          - 'null'
        survey_response: {}
        teams_user_id:
          type:
          - string
          - 'null'
        teams_user_name:
          type:
          - string
          - 'null'
        updated_at:
          format: date-time
          type: string
        user_type:
          $ref: '#/components/schemas/UserType'
      required:
      - id
      - email
      - feature_flags
      - permissions
      - user_type
      - created_at
      - updated_at
      - full_name
      - feature_overrides
      - completed_onboarding
      - notify_for_interaction
      type: object
    UserType:
      enum:
      - admin
      - public
      - end_user
      type: string
    TeamId:
      format: uuid
      type: string
    UpdateUserParams:
      properties:
        current_email:
          type:
          - string
          - 'null'
        updates:
          $ref: '#/components/schemas/UserChangeset'
      required:
      - updates
      type: object
    UserChangeset:
      properties:
        apollo_data: {}
        company_description:
          type:
          - string
          - 'null'
        company_name:
          type:
          - string
          - 'null'
        completed_onboarding:
          type:
          - boolean
          - 'null'
        cost_confirmation_threshold:
          description: Cost confirmation threshold in credits (thousandth of a cent).
          format: int64
          type:
          - integer
          - 'null'
        cufinder_data: {}
        email:
          type:
          - string
          - 'null'
        feature_flags:
          items:
            allOf:
            - $ref: '#/components/schemas/FeatureFlag'
          type:
          - array
          - 'null'
        feature_overrides: {}
        full_name:
          type:
          - string
          - 'null'
        job_title:
          type:
          - string
          - 'null'
        last_selected_team_id:
          allOf:
          - $ref: '#/components/schemas/TeamId'
        linkedin_url:
          type:
          - string
          - 'null'
        notify_for_interaction:
          type:
          - boolean
          - 'null'
        permissions:
          items:
            allOf:
            - $ref: '#/components/schemas/Permission'
          type:
          - array
          - 'null'
        slack_user_id:
          type:
          - string
          - 'null'
        slack_username:
          type:
          - string
          - 'null'
        survey_response: {}
        teams_user_id:
          type:
          - string
          - 'null'
        teams_user_name:
          type:
          - string
          - 'null'
        user_type:
          allOf:
          - $ref: '#/components/schemas/UserType'
      type: object
  securitySchemes:
    api_key:
      in: header
      name: api_key
      type: apiKey
    session_token:
      scheme: bearer
      type: http
